# Script for a period

In [5]:
import requests
import json
import pandas as pd
from datetime import date
import openpyxl
from clickhouse_connect import get_client
from datetime import datetime, timedelta
from dotenv import load_dotenv
import os
import time

load_dotenv()

True

In [6]:
KeyGuten = os.getenv('KeyGuten')
KeyGiper = os.getenv('KeyGiper')
KeyKitchen = os.getenv('KeyKitchen')

## Списки кампаний

Link: https://dev.wildberries.ru/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1count/get

In [4]:


# API endpoint
url = 'https://advert-api.wildberries.ru/adv/v1/promotion/count'

# Headers including the API key for authentication
headers_guten = {
    'Authorization': KeyGuten,
    'Accept': 'application/json'
}

headers_giper = {
    'Authorization': KeyGiper,
    'Accept': 'application/json'
}

headers_kitchen = {
    'Authorization': KeyKitchen,
    'Accept': 'application/json'
}

# Make the GET request
response_guten = requests.get(url, headers=headers_guten)
response_giper = requests.get(url, headers=headers_giper)
response_kitchen = requests.get(url, headers=headers_kitchen)

# Check if the request was successful
if response_guten.status_code == 200 and response_giper.status_code == 200 and response_kitchen.status_code == 200:
    # Parse the JSON response
    data_guten = response_guten.json()
    data_giper = response_giper.json()
    data_kitchen = response_kitchen.json()
    print("Data retrieved successfully")
else:
    print(f"Failed to retrieve data. Status code: {response_guten.status_code,response_giper.status_code,response_giper.status_code }")
    print(f"Response: {response_guten.text, response_giper.text,response_giper.text }")

Data retrieved successfully

In [121]:
# Flatten the JSON data
df_guten = pd.json_normalize(
    data_guten['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_giper = pd.json_normalize(
    data_giper['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_kitchen = pd.json_normalize(
    data_kitchen['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)


# Convert 'changeTime' to datetime format
df_guten['changeTime'] = pd.to_datetime(df_guten['changeTime'])
df_giper['changeTime'] = pd.to_datetime(df_giper['changeTime'])
df_kitchen['changeTime'] = pd.to_datetime(df_kitchen['changeTime'])

# Filter rows where the year of 'changeTime' is 2024 or later
df_guten = df_guten[df_guten['changeTime'].dt.year >= 2024]
df_giper = df_giper[df_giper['changeTime'].dt.year >= 2024]
df_kitchen = df_kitchen[df_kitchen['changeTime'].dt.year >= 2024]

# Reset the index and drop the old index
df_guten = df_guten.reset_index(drop=True)
df_giper = df_giper.reset_index(drop=True)
df_kitchen = df_kitchen.reset_index(drop=True)

# Display the updated DataFrame
#df_guten
#df_giper
#df_kitchen

In [ ]:
#unique_change_times = df['changeTime'].unique()
#print(unique_change_times)

['2025-02-25T09:56:44.373405+03:00' '2025-02-25T09:56:36.977327+03:00'
 '2025-02-10T15:50:50.654674+03:00' '2025-02-10T15:50:46.711076+03:00'
 '2024-12-28T14:56:51.438476+03:00' '2025-02-10T15:50:45.190525+03:00'
 '2025-02-06T14:45:40.972398+03:00' '2024-12-28T14:59:03.412003+03:00'
 '2025-02-10T15:50:43.275656+03:00' '2025-02-25T10:07:05.519407+03:00'
 '2025-01-06T19:56:55.030411+03:00' '2025-01-31T16:14:36.03518+03:00'
 '2025-02-26T15:24:26.898332+03:00' '2025-01-24T17:28:07.565413+03:00'
 '2025-01-24T17:27:45.032317+03:00' '2025-03-03T10:51:20.471041+03:00'
 '2023-06-09T17:13:45.296789+03:00' '2023-07-17T17:56:44.162491+03:00'
 '2023-09-11T19:47:52.142401+03:00' '2023-09-13T19:02:34.535107+03:00'
 '2023-09-11T17:14:54.50553+03:00' '2023-09-13T14:53:09.428335+03:00'
 '2023-12-11T23:45:14.286592+03:00' '2023-12-11T22:31:06.941346+03:00'
 '2024-07-15T12:16:26.499587+03:00' '2024-04-11T10:53:48.400039+03:00'
 '2024-05-13T10:13:17.846636+03:00' '2024-05-20T16:18:30.678177+03:00'
 '2024-05-23T20:38:01.226478+03:00' '2024-07-08T14:26:18.965777+03:00'
 '2024-06-19T09:59:37.326169+03:00' '2024-05-20T15:55:10.014471+03:00'
 '2024-05-20T15:49:13.129988+03:00' '2024-05-20T15:46:35.836337+03:00'
 '2024-05-20T15:42:48.066424+03:00' '2024-05-16T17:34:55.460368+03:00'
 '2024-05-31T10:32:54.559875+03:00' '2024-06-24T09:21:56.224781+03:00'
 '2024-05-20T15:29:53.127478+03:00' '2024-07-08T14:24:32.486181+03:00'
 '2024-05-20T12:22:15.262185+03:00' '2024-05-24T10:52:09.452639+03:00'
 '2024-05-20T11:55:03.780409+03:00' '2024-09-25T17:42:00.370979+03:00'
 '2024-08-23T18:39:32.204763+03:00' '2024-08-13T10:49:16.072845+03:00'
 '2024-07-11T11:25:37.901498+03:00' '2024-08-13T10:49:03.708968+03:00'
 '2024-06-13T10:18:11.055624+03:00' '2024-07-11T11:01:10.73113+03:00'
 '2024-07-15T11:48:00.003998+03:00' '2024-07-11T10:44:42.597704+03:00'
 '2024-08-13T10:52:35.977201+03:00' '2024-08-13T10:53:20.706648+03:00'
 '2024-09-05T17:56:36.825976+03:00' '2024-08-13T10:56:12.226188+03:00'
 '2024-10-02T12:04:50.782903+03:00' '2024-12-09T16:31:21.120834+03:00'
 '2024-10-08T08:46:10.966433+03:00' '2024-09-26T16:04:48.906237+03:00'
 '2024-10-10T10:36:54.073783+03:00' '2024-09-04T20:53:36.970755+03:00'
 '2024-09-25T15:11:06.900982+03:00' '2024-09-24T11:47:11.60881+03:00'
 '2024-12-09T16:31:29.0895+03:00' '2024-12-05T11:22:56.711536+03:00'
 '2024-11-13T09:58:59.251886+03:00' '2024-11-18T17:07:48.520138+03:00'
 '2024-12-09T16:31:35.123978+03:00' '2024-12-09T16:31:42.307263+03:00'
 '2024-12-09T16:31:48.203083+03:00' '2024-11-27T12:57:09.072771+03:00'
 '2024-11-27T12:57:55.888441+03:00' '2024-11-27T12:58:07.925142+03:00'
 '2024-11-27T12:58:13.625553+03:00' '2024-11-27T12:58:48.179956+03:00'
 '2024-11-27T12:59:02.129321+03:00' '2024-12-05T11:24:17.086755+03:00'
 '2024-12-05T11:24:11.049532+03:00' '2024-12-12T12:51:56.499142+03:00'
 '2024-12-12T12:51:46.915331+03:00' '2024-12-09T16:31:54.039448+03:00'
 '2023-08-04T10:33:12.865831+03:00' '2023-08-10T14:09:47.366252+03:00'
 '2021-10-05T17:34:05.353341+03:00' '2021-10-05T17:03:58.346157+03:00'
 '2021-10-07T10:19:18.326665+03:00' '2021-10-07T10:19:40.91331+03:00'
 '2021-10-07T10:19:49.516851+03:00' '2021-10-05T16:56:04.633827+03:00'
 '2021-10-07T10:19:24.491078+03:00' '2021-10-05T17:03:41.829796+03:00'
 '2021-10-05T17:03:26.628329+03:00' '2021-10-05T16:55:04.13676+03:00'
 '2021-11-11T17:34:26.531409+03:00' '2021-11-11T17:36:03.069291+03:00'
 '2021-11-11T17:35:53.336627+03:00' '2021-11-11T17:35:28.469078+03:00'
 '2021-11-11T17:35:19.679687+03:00' '2021-11-08T18:59:02.876418+03:00'
 '2021-10-12T10:14:37.963522+03:00' '2021-11-08T16:50:02.751772+03:00'
 '2021-10-21T23:26:17.894835+03:00' '2021-10-23T13:11:33.032191+03:00'
 '2021-10-24T10:18:33.131546+03:00' '2021-10-25T14:43:03.134435+03:00'
 '2021-10-23T12:38:33.018218+03:00' '2021-11-13T17:44:03.045232+03:00'
 '2021-11-14T22:29:03.205852+03:00' '2021-11-15T19:22:05.1489+03:00'
 '2021-11-16T09:00:02.729225+03:00' '2021-11-16T22:53:03.463233+03:00'
 '2021-11-17T20:03:04.483586+03:00' '2021-11-15T17:19:23.140531+03:00'
 '2021-11-15T17:19:14.000153+03:00' '2021-11-15T17:18:32.011686+03:00'
 '2021-11-15T17:18:21.665204+03:00' '2021-11-15T17:18:07.748823+03:00'
 '2021-11-15T17:17:36.750497+03:00' '2021-11-15T17:17:16.462064+03:00'
 '2021-11-15T17:16:03.837039+03:00' '2021-11-15T17:17:29.656312+03:00'
 '2021-11-15T17:16:52.759713+03:00' '2021-11-15T17:16:34.544253+03:00'
 '2021-11-15T17:16:24.44847+03:00' '2021-11-15T17:16:03.005897+03:00'
 '2021-11-15T17:15:37.51578+03:00' '2021-11-15T17:15:20.310151+03:00'
 '2021-11-15T17:15:02.449324+03:00' '2021-11-15T17:18:49.103511+03:00'
 '2021-11-15T17:14:39.65341+03:00' '2021-11-15T17:14:07.694386+03:00'
 '2021-11-15T17:13:18.906675+03:00' '2022-02-11T11:07:42.736906+03:00'
 '2022-02-11T11:07:36.134387+03:00' '2022-02-11T11:05:35.940907+03:00'
 '2022-02-11T11:05:48.863671+03:00' '2022-03-02T13:27:22.525564+03:00'
 '2022-03-02T13:28:38.347862+03:00' '2022-03-02T13:27:40.62272+03:00'
 '2022-03-02T13:27:11.549954+03:00' '2022-06-07T01:06:50.420503+03:00'
 '2022-03-23T11:34:58.67761+03:00' '2022-03-23T11:35:13.240192+03:00'
 '2022-09-06T19:31:58.572198+03:00' '2022-04-15T00:38:49.399779+03:00'
 '2022-04-08T10:26:22.252749+03:00' '2022-04-21T13:41:49.864137+03:00'
 '2022-04-09T20:15:18.036603+03:00' '2022-05-13T21:32:01.355772+03:00'
 '2022-03-28T19:38:48.499193+03:00' '2022-05-23T10:20:11.218+03:00'
 '2022-04-14T13:53:22.431595+03:00' '2022-04-10T22:34:17.67166+03:00'
 '2022-04-19T09:17:48.939732+03:00' '2022-07-24T16:22:46.844141+03:00'
 '2022-07-24T15:59:28.686146+03:00' '2022-06-20T17:09:00.055414+03:00'
 '2022-06-10T22:22:52.699105+03:00' '2022-08-16T11:22:21.793047+03:00'
 '2022-07-22T15:41:46.652075+03:00' '2022-08-25T12:08:42.810906+03:00'
 '2022-06-13T17:44:46.417453+03:00' '2022-07-27T14:11:17.405782+03:00'
 '2022-07-27T14:30:19.256353+03:00' '2022-09-09T11:55:35.625127+03:00'
 '2022-09-09T11:57:27.455632+03:00' '2022-09-09T11:58:07.071861+03:00'
 '2022-09-09T12:11:59.615564+03:00' '2022-09-06T19:30:12.284816+03:00'
 '2022-09-06T19:29:49.514361+03:00' '2022-09-15T11:10:07.750477+03:00'
 '2022-11-12T15:24:49.71366+03:00' '2022-11-12T09:39:31.187609+03:00'
 '2022-11-21T16:28:40.663584+03:00' '2022-11-27T15:41:53.779552+03:00'
 '2022-12-11T19:20:17.784185+03:00' '2023-03-15T18:32:11.098114+03:00'
 '2023-03-26T12:02:46.017106+03:00' '2023-03-31T07:28:12.921754+03:00'
 '2023-06-13T08:28:13.974725+03:00' '2023-06-18T20:14:24.990612+03:00'
 '2023-05-26T13:51:39.782122+03:00' '2023-06-13T19:03:57.936487+03:00'
 '2023-09-13T19:02:56.954012+03:00' '2023-09-01T19:02:03.53197+03:00'
 '2023-09-11T19:49:58.657651+03:00' '2023-12-25T21:55:08.092105+03:00'
 '2023-09-27T08:56:20.69112+03:00' '2023-09-13T19:02:48.345034+03:00'
 '2023-09-13T19:02:44.08054+03:00' '2023-09-11T19:49:54.566848+03:00'
 '2023-09-13T19:02:38.912258+03:00' '2023-09-01T17:51:24.829277+03:00'
 '2023-12-25T21:55:12.901446+03:00' '2023-12-25T21:54:58.777651+03:00'
 '2023-12-25T21:55:11.357955+03:00' '2023-12-25T21:54:53.311728+03:00'
 '2023-12-25T21:55:24.973613+03:00' '2022-10-19T16:37:20.536989+03:00'
 '2023-03-27T00:03:47.302043+03:00' '2023-06-09T17:11:17.096407+03:00'
 '2023-12-13T03:55:28.275469+03:00' '2023-12-25T21:54:35.420976+03:00'
 '2024-05-29T09:18:49.788779+03:00' '2024-12-05T11:23:02.796089+03:00'
 '2024-10-31T18:56:32.471694+03:00' '2024-10-31T19:09:55.666795+03:00'
 '2024-10-31T18:59:27.671078+03:00' '2024-10-31T19:01:42.468192+03:00'
 '2024-10-31T19:05:49.837093+03:00' '2024-12-06T10:43:04.592448+03:00'
 '2024-11-19T11:09:12.967353+03:00' '2024-11-19T11:00:56.120951+03:00'
 '2024-12-05T11:23:59.682031+03:00' '2024-12-05T11:24:04.914806+03:00'
 '2024-12-06T09:49:30.562364+03:00' '2024-12-23T12:10:37.976556+03:00'
 '2023-06-09T17:15:14.098209+03:00' '2023-07-06T13:14:41.843804+03:00'
 '2023-07-06T13:16:15.892854+03:00' '2023-07-06T13:17:55.553816+03:00'
 '2023-07-06T13:19:30.973908+03:00' '2023-07-06T13:28:19.080613+03:00'
 '2025-02-25T10:05:34.775701+03:00' '2025-02-25T10:15:53.784816+03:00'
 '2025-02-25T10:14:25.474045+03:00' '2025-01-09T16:43:52.095554+03:00'
 '2024-12-19T14:22:13.467321+03:00' '2024-12-13T23:51:30.147112+03:00'
 '2025-01-09T16:43:49.674072+03:00' '2024-12-13T23:28:13.347538+03:00'
 '2025-01-09T16:43:44.37426+03:00' '2025-01-09T16:43:42.318188+03:00'
 '2024-12-13T23:27:29.97554+03:00' '2024-12-28T15:52:43.15593+03:00'
 '2025-03-03T00:43:14.354994+03:00' '2021-04-09T12:31:24.792857+03:00'
 '2021-05-05T16:45:45.65417+03:00' '2021-04-13T15:59:45.548503+03:00'
 '2021-05-05T16:45:42.071149+03:00' '2021-04-15T13:00:44.2129+03:00'
 '2021-04-15T13:01:29.748084+03:00' '2021-05-05T16:45:31.767476+03:00'
 '2021-05-05T16:44:50.541477+03:00' '2022-03-25T21:34:46.55644+03:00'
 '2022-03-27T15:16:46.459528+03:00' '2022-03-30T08:09:46.262707+03:00'
 '2022-03-27T20:31:16.046011+03:00' '2023-09-08T18:22:32.762247+03:00'
 '2023-09-05T11:02:47.12865+03:00' '2023-09-01T19:02:12.093511+03:00'
 '2023-09-08T20:12:35.423746+03:00' '2023-08-15T14:07:14.823068+03:00'
 '2023-12-25T21:55:17.575698+03:00' '2023-12-25T21:54:56.564471+03:00'
 '2023-12-25T21:55:16.13239+03:00' '2023-12-25T21:55:31.404832+03:00'
 '2023-12-25T21:54:49.902383+03:00' '2023-12-25T21:55:28.743387+03:00'
 '2023-12-25T21:55:26.588913+03:00' '2023-12-25T21:55:21.379871+03:00'
 '2021-05-05T16:45:28.128177+03:00' '2021-05-05T16:45:24.159774+03:00'
 '2021-05-05T16:45:14.918718+03:00' '2021-05-05T16:44:57.224387+03:00'
 '2021-07-20T17:44:15.979438+03:00' '2021-07-20T17:44:09.562052+03:00'
 '2021-07-20T17:44:20.700412+03:00' '2021-07-20T17:44:02.660763+03:00'
 '2021-07-20T17:43:49.234729+03:00' '2021-08-16T16:43:03.641828+03:00'
 '2021-08-16T16:42:59.403408+03:00' '2021-08-16T16:42:55.056839+03:00'
 '2021-11-16T15:29:35.094044+03:00' '2021-11-16T15:50:20.247294+03:00'
 '2021-11-16T15:47:05.510655+03:00' '2021-11-16T15:17:54.761972+03:00'
 '2021-11-17T18:28:49.591513+03:00' '2021-11-16T02:26:13.192998+03:00'
 '2021-11-19T02:55:23.761153+03:00' '2021-11-16T01:17:53.420842+03:00'
 '2021-11-16T02:17:04.019047+03:00' '2021-11-16T03:15:23.461279+03:00'
 '2021-11-18T00:26:14.915586+03:00' '2021-11-19T04:14:34.186618+03:00'
 '2021-11-19T17:30:25.876829+03:00' '2021-11-16T21:10:24.669092+03:00'
 '2021-11-16T15:08:44.715709+03:00' '2021-11-16T21:02:05.223192+03:00'
 '2021-11-16T15:21:15.319017+03:00' '2021-11-16T01:47:03.907374+03:00'
 '2021-11-16T01:51:12.877434+03:00' '2021-11-16T02:15:22.952072+03:00'
 '2021-11-16T02:07:04.762378+03:00' '2021-11-16T02:31:13.861084+03:00'
 '2021-11-16T02:47:53.750232+03:00' '2021-11-16T03:16:12.950984+03:00'
 '2021-11-16T02:27:03.876032+03:00' '2021-11-16T03:12:53.215651+03:00'
 '2022-02-11T11:08:45.054577+03:00' '2022-02-11T11:08:21.763517+03:00'
 '2022-02-11T11:04:03.00503+03:00' '2022-02-11T11:05:29.696598+03:00'
 '2022-03-02T13:28:55.251405+03:00' '2022-01-23T13:07:11.133439+03:00'
 '2022-03-02T13:26:57.661007+03:00' '2022-03-02T13:28:22.355916+03:00'
 '2022-04-10T16:28:48.905382+03:00' '2022-03-23T11:33:54.241932+03:00'
 '2022-03-23T11:34:37.857064+03:00' '2022-04-12T15:40:26.669612+03:00'
 '2022-12-04T00:01:03.231707+03:00' '2022-12-04T00:02:06.540136+03:00'
 '2022-12-04T00:01:33.960128+03:00' '2022-05-15T11:30:14.792712+03:00'
 '2022-03-03T23:59:25.340465+03:00' '2022-12-03T12:19:35.284196+03:00'
 '2022-05-13T20:48:35.685102+03:00' '2022-02-26T14:26:04.735989+03:00'
 '2022-12-04T00:04:31.985542+03:00' '2022-12-04T00:05:34.063441+03:00'
 '2022-12-04T10:01:35.164372+03:00' '2022-05-23T13:36:07.51136+03:00'
 '2022-02-26T14:31:14.122867+03:00' '2022-05-23T10:20:35.005687+03:00'
 '2022-12-05T19:25:03.574171+03:00' '2022-12-05T20:59:49.105782+03:00'
 '2022-12-06T13:15:35.810761+03:00' '2022-09-03T20:25:55.242772+03:00'
 '2022-09-09T11:55:01.559107+03:00' '2022-09-09T14:43:57.006232+03:00'
 '2022-09-09T12:01:43.972063+03:00' '2022-09-06T19:30:29.652701+03:00'
 '2022-09-09T12:13:15.488351+03:00' '2022-10-11T16:05:41.812616+03:00'
 '2022-11-29T00:34:06.790148+03:00' '2022-10-07T11:20:04.514346+03:00'
 '2022-10-11T10:26:33.444657+03:00' '2022-12-08T00:04:32.90018+03:00'
 '2022-12-08T00:05:02.425812+03:00' '2022-12-08T00:05:33.783658+03:00'
 '2022-12-11T00:02:32.192884+03:00' '2022-12-08T00:57:03.421681+03:00'
 '2022-12-08T00:15:05.619393+03:00' '2022-12-12T00:18:32.851586+03:00'
 '2022-11-12T00:04:05.116544+03:00' '2022-11-12T00:05:33.146329+03:00'
 '2022-12-11T00:02:06.253762+03:00' '2023-09-08T18:22:00.266742+03:00'
 '2023-03-10T06:55:21.67231+03:00' '2023-03-09T10:25:34.487906+03:00'
 '2023-06-10T07:02:25.371365+03:00' '2023-06-18T15:27:00.621346+03:00'
 '2023-03-23T15:55:33.709576+03:00' '2023-06-11T17:58:56.127124+03:00'
 '2023-06-09T10:10:20.977736+03:00' '2023-06-13T19:20:14.530477+03:00'
 '2023-07-17T17:22:30.228791+03:00' '2023-07-17T17:23:07.31411+03:00'
 '2023-07-28T11:39:27.154642+03:00' '2023-08-01T23:13:31.322223+03:00'
 '2023-12-25T21:55:05.913016+03:00' '2023-12-25T21:55:04.311668+03:00'
 '2023-12-25T21:55:02.590122+03:00' '2023-09-14T18:30:41.225876+03:00'
 '2023-12-25T21:55:00.903724+03:00' '2023-07-16T09:47:54.407387+03:00'
 '2023-12-25T21:55:09.756624+03:00' '2023-06-27T00:52:12.490058+03:00'
 '2023-08-14T14:41:25.327564+03:00' '2023-08-14T14:51:23.334273+03:00'
 '2023-08-14T14:41:27.526129+03:00' '2023-12-25T21:55:23.374478+03:00'
 '2024-03-22T10:24:36.875685+03:00' '2024-03-22T10:23:09.433261+03:00'
 '2023-12-25T22:11:52.003456+03:00' '2024-12-28T12:51:06.151959+03:00'
 '2025-01-22T11:54:53.488521+03:00' '2025-01-09T16:45:28.974641+03:00'
 '2025-01-27T17:57:22.639209+03:00' '2025-01-22T11:24:44.733987+03:00'
 '2025-01-22T11:32:52.171465+03:00' '2025-02-25T10:10:51.745756+03:00'
 '2025-02-25T10:05:05.170535+03:00' '2025-01-22T11:37:46.747581+03:00'
 '2024-12-14T15:09:30.141475+03:00' '2025-01-22T11:40:04.593972+03:00'
 '2024-12-28T15:21:22.362277+03:00' '2024-12-28T15:25:08.506511+03:00'
 '2024-12-28T15:51:55.197423+03:00' '2025-01-09T16:41:56.806048+03:00'
 '2025-01-09T16:41:54.170416+03:00' '2025-02-24T00:43:13.941928+03:00'
 '2025-01-09T16:41:49.867255+03:00' '2025-03-03T11:35:22.930913618+03:00'
 '2025-03-03T11:35:23.711843113+03:00' '2025-02-25T10:19:01.503488+03:00'
 '2025-02-07T17:51:24.769236+03:00' '2025-02-11T14:21:08.507311+03:00'
 '2024-12-28T16:34:59.112464+03:00' '2024-12-28T16:36:26.205209+03:00'
 '2025-03-02T00:42:02.895783+03:00' '2025-02-20T18:05:50.359741+03:00'
 '2025-02-20T17:17:35.709146+03:00' '2025-03-03T00:43:32.921093+03:00'
 '2025-01-27T17:37:06.59023+03:00' '2025-01-27T17:38:53.727085+03:00'
 '2025-01-27T17:39:48.702856+03:00' '2025-03-03T00:40:54.355897+03:00'
 '2025-02-20T17:40:52.656951+03:00' '2025-01-23T20:30:24.70163+03:00'
 '2025-01-20T15:42:34.508832+03:00' '2025-01-07T19:39:49.651792+03:00']

### Информация о кампаниях

Link: https://dev.wildberries.ru/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1adverts/post

In [122]:
# Create chunks of 50 campaign IDs each
chunk_size = 50
campaign_chunks_guten = [df_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_guten), chunk_size)]
campaign_chunks_giper = [df_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_giper), chunk_size)]
campaign_chunks_kitchen = [df_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_kitchen), chunk_size)]

# Define the API endpoint
url = "https://advert-api.wildberries.ru/adv/v1/promotion/adverts"

# Define the query parameters
query_params = {
    "order": "create",  # Order by the "change" field
    "direction":"desc"
}


# List to store all campaign data
all_campaign_data_guten = []
all_campaign_data_giper = []
all_campaign_data_kitchen = []


# Iterate over each chunk and send a POST request
for idx, (chunk_guten, chunk_giper, chunk_kitchen) in enumerate(zip(campaign_chunks_guten, campaign_chunks_giper, campaign_chunks_kitchen)):
    
    # Send the POST request
    response_guten = requests.post(url, params=query_params, json=chunk_guten, headers=headers_guten)
    time.sleep(1)
    response_giper = requests.post(url, params=query_params, json=chunk_giper, headers=headers_giper)
    time.sleep(1)
    response_kitchen = requests.post(url, params=query_params, json=chunk_kitchen, headers=headers_kitchen)
    # Add a delay to avoid hitting API rate limits
    time.sleep(1)
    
    # Check the response status
    if response_guten.status_code == 200 and response_giper.status_code == 200 and response_kitchen.status_code == 200:
        # Parse the JSON response
        data_guten = response_guten.json()
        data_giper = response_giper.json()
        data_kitchen = response_kitchen.json()
        all_campaign_data_guten.extend(data_guten)
        all_campaign_data_giper.extend(data_giper)
        all_campaign_data_kitchen.extend(data_kitchen)
        print("Data retrieved successfully")
        #print(f"Response for Chunk {idx + 1}: {data_guten}")
    else:
        print(f"Error for Chunk {idx + 1}: {response_guten.status_code,response_giper.status_code,response_kitchen.status_code}, {response_guten.text,response_giper.text,response_kitchen.text}")
        
        
campaigns_guten = pd.DataFrame(all_campaign_data_guten)
campaigns_giper = pd.DataFrame(all_campaign_data_giper)
campaigns_kitchen = pd.DataFrame(all_campaign_data_kitchen)

campaigns_guten['Project'] = 'WB-GutenTech'
campaigns_giper['Project'] = 'WB-ГиперМаркет'
campaigns_kitchen['Project'] = 'WB-KitchenAid'

# Concatenate the DataFrames
combined_campaigns = pd.concat([campaigns_guten, campaigns_giper, campaigns_kitchen], ignore_index=True)

combined_campaigns['Marketplace'] = 'Wildberries'

print("Combined Campaign Data")
#campaigns_kitchen

Data retrieved successfully
Combined Campaign Data

In [123]:
# Keep only the desired columns
columns_to_keep = ["endTime", "createTime", "startTime","name", "advertId", "status", "type","Project","Marketplace"]
# Ensure filtered_df is a copy of the slice, not a view
filtered_df = combined_campaigns[columns_to_keep].copy()
filtered_df['endTime'] = pd.to_datetime(filtered_df['endTime'], format='mixed').dt.date
filtered_df['createTime'] = pd.to_datetime(filtered_df['createTime'], format='mixed').dt.date
filtered_df['startTime'] = pd.to_datetime(filtered_df['startTime'], format='mixed').dt.date

# Mapping dictionaries for 'status' and 'type'
status_mapping = {
    -1: "Кампания в процессе удаления",
    4: "Готова к запуску",
    7: "Кампания завершена",
    8: "Отказался",
    9: "Идут показы",
    11: "Кампания на паузе"
}

type_mapping = {
    4: "Кампания в каталоге (устаревший тип)",
    5: "Кампания в карточке товара (устаревший тип)",
    6: "Кампания в поиске (устаревший тип)",
    7: "Кампания в рекомендациях на главной странице (устаревший тип)",
    8: "Автоматическая кампания",
    9: "Аукцион"
}

# Replace numeric values with their string descriptions
filtered_df['status'] = filtered_df['status'].replace(status_mapping)
filtered_df['type'] = filtered_df['type'].replace(type_mapping)

# Display the updated DataFrame
filtered_df

,endTime,createTime,startTime,name,advertId,status,type,Project,Marketplace
0,2100-01-01,2024-12-23,2025-01-07,Metz_9 SKU_23.12.2024,22255058,Кампания на паузе,Аукцион,WB-GutenTech,Wildberries
1,2100-01-01,2024-12-19,2025-01-09,Oral-B iO_Ultimate 1 шт от 19.12.2024,22192773,Кампания на паузе,Автоматическая кампания,WB-GutenTech,Wildberries
2,2100-01-01,2024-12-18,2024-12-18,Пылесос Zelmer ZVC9130M от 18.12.2024,22165389,Кампания на паузе,Аукцион,WB-GutenTech,Wildberries
3,2100-01-01,2024-12-10,2025-03-06,AND_Массажер MH-102_10.12.2024_ВЧ,21965547,Идут показы,Аукцион,WB-GutenTech,Wildberries
4,2100-01-01,2024-11-28,2025-01-09,Oral-b_Насадка 1шт. 3D White_28.11.2024,21698516,Кампания на паузе,Автоматическая кампания,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...
86,2024-07-23,2024-06-05,2024-06-05,Braun Триммеры,17748698,Кампания завершена,Автоматическая кампания,WB-ГиперМаркет,Wildberries
87,2024-07-23,2024-06-05,2024-06-05,Braun Эпиляторы,17741906,Кампания завершена,Автоматическая кампания,WB-ГиперМаркет,Wildberries
88,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,21008536,Идут показы,Автоматическая кампания,WB-KitchenAid,Wildberries
89,2100-01-01,2024-10-30,2025-01-09,Миксер планет_30.10.2024,21008249,Идут показы,Автоматическая кампания,WB-KitchenAid,Wildberries
90,2100-01-01,2024-10-30,2025-01-09,Тостеры_30.10.2024,21006669,Идут показы,Автоматическая кампания,WB-KitchenAid,Wildberries

## Статистика кампаний

Link: https://dev.wildberries.ru/openapi/analytics#tag/Statistika-po-prodvizheniyu/paths/~1adv~1v2~1fullstats/post

Данные вернутся для кампаний в статусах:

* 7 — завершена
* 9 — идут показы
* 11 — пауза из-за расхода бюджета

Response Schema: 

* dates	/ Array of strings <date> [ items <date > ]/ Даты, за которые необходимо выдать информацию.
* views	/ integer/ Количество просмотров./ За все дни, по всем артикулам WB и платформам.
* clicks	/ integer/ Количество кликов./ За все дни, по всем артикулам WB и платформам.
* ctr	/ number/ Показатель кликабельности./ Отношение числа кликов к количеству показов. Выражается в процентах./ За все дни, по всем артикулам WB и платформам.
* cpc	/ number/ Средняя стоимость клика, ₽./ За все дни, по всем артикулам WB и платформам.
* sum	/ number/ Затраты, ₽./ За все дни, по всем артикулам WB и платформам.
* atbs	/ integer/ Количество добавлений товаров в корзину./ За все дни, по всем артикулам WB и платформам.
* orders	/ integer/ Количество заказов./ За все дни, по всем артикулам WB и платформам.
* cr	/ integer/ CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании./ За все дни, по всем артикулам WB и платформам.
* shks	/ integer/ Количество заказанных товаров, шт./ За все дни, по всем артикулам WB и платформам.
* sum_price	/ number/ Заказов на сумму, ₽/ За все дни, по всем артикулам WB и платформам.
* days	/ Array of objects (Days)/ Статистка по дням
    Array 
    * date	/ string <date-time>/ Дата, за которую представлены данные/ 
    * views	/ integer/ Количество просмотров/ 
    * clicks	/ integer/ Количество кликов/ 
    * ctr	/ number/ Показатель кликабельности, отношение числа кликов к количеству показов, %/ 
    * cpc	/ number/ Средняя стоимость клика, ₽./ 
    * sum	/ number/ Затраты, ₽./ 
    * atbs	/ integer/ Количество добавлений товаров в корзину/ 
    * orders	/ integer/ Количество заказов/ 
    * cr	/ integer/ CR(conversion rate) — отношение количества заказов к общему количеству посещений кампании/ 
    * shks	/ integer/ Количество заказанных товаров, шт./ 
    * sum_price	/ number/ Заказов на сумму, ₽/ 
    * apps	/ Array of objects/ Блок информации о платформе
    Array 
        - views	/ integer/ Количество просмотров/ 
        - clicks	/ integer/ Количество кликов/ 
        - ctr	/ number/ Показатель кликабельности, отношение числа кликов к количеству показов, %/ 
        - cpc	/ number/ Средняя стоимость клика, ₽./ 
        - sum	/ number/ Затраты, ₽./ 
        - atbs	/ integer/ Количество добавлений товаров в корзину/ 
        - orders	/ integer/ Количество заказов/ 
        - cr	/ integer/ CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании/ 
        - shks	/ integer/ Количество заказанных товаров, шт./ 
        - sum_price	/ number/ Заказов на сумму, ₽/ 
        - nm	/ Array of objects/ Блок статистики по артикулам WB/ 
        - appType	/ integer/ Тип платформы (1 - сайт, 32 - Android, 64 - IOS)
* boosterStats	/ Array of objects (BoosterStats)/ Статистика по средней позиции товара на страницах поисковой выдачи и каталога (для автоматических кампаний).
* advertId	/ integer/ ID кампании

In [146]:
# API endpoint
url = "https://advert-api.wildberries.ru/adv/v2/fullstats"

# Define the date interval
date_interval = {
    "begin": "2024-11-01",  # Replace with your start date
    "end": "2024-11-30"     # Replace with your end date
}

# Create chunks of 100 campaign IDs each
chunk_size = 100

### Guten

In [147]:
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_guten), chunk_size)]

# List to store all campaign data
all_campaign_data_guten = []

# Iterate over each chunk and send a POST request
for idx, chunk in enumerate(campaign_chunks):
    #print(f"Processing Chunk {idx + 1}: {chunk}")
    
    # Construct the payload for the current chunk
    payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]
    
    # Send the POST request
    response = requests.post(url, headers=headers_guten, json=payload)
    
    # Add a delay to avoid hitting API rate limits
    time.sleep(65)
    
    # Check the response status
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        all_campaign_data_guten.extend(data)
        #print(f"Response for Chunk {idx + 1}: {json.dumps(data, indent=4)}")
        print("Data retrived successfully")
    else:
        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}")

# Combine all campaign data into a DataFrame
campaign_guten_df = pd.json_normalize(all_campaign_data_guten)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_guten, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrived successfully
Combined Campaign Data

### Giper

In [148]:
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_giper), chunk_size)]

# List to store all campaign data
all_campaign_data_giper = []

# Iterate over each chunk and send a POST request
for idx, chunk in enumerate(campaign_chunks):
    #print(f"Processing Chunk {idx + 1}: {chunk}")
    
    # Construct the payload for the current chunk
    payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]
    
    # Send the POST request
    response = requests.post(url, headers=headers_giper, json=payload)
    
    # Add a delay to avoid hitting API rate limits
    time.sleep(65)
    
    # Check the response status
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        all_campaign_data_giper.extend(data)
        #print(f"Response for Chunk {idx + 1}: {json.dumps(data, indent=4)}")
        print("Data retrived successfully")
    else:
        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}")

# Combine all campaign data into a DataFrame
campaign_giper_df = pd.json_normalize(all_campaign_data_giper)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_giper, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrived successfully
Combined Campaign Data

### Kitchen

In [149]:
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_kitchen), chunk_size)]

# List to store all campaign data
all_campaign_data_kitchen = []

# Iterate over each chunk and send a POST request
for idx, chunk in enumerate(campaign_chunks):
    #print(f"Processing Chunk {idx + 1}: {chunk}")
    
    # Construct the payload for the current chunk
    payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]
    
    # Send the POST request
    response = requests.post(url, headers=headers_kitchen, json=payload)
    
    # Add a delay to avoid hitting API rate limits
    time.sleep(65)
    
    # Check the response status
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        all_campaign_data_kitchen.extend(data)
        #print(f"Response for Chunk {idx + 1}: {json.dumps(data, indent=4)}")
        print("Data retrived successfully")
    else:
        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}")

# Combine all campaign data into a DataFrame
campaign_kitchen_df = pd.json_normalize(all_campaign_data_kitchen)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_kitchen, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrived successfully
Combined Campaign Data

In [150]:
campaign_guten_df

,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,days,boosterStats,advertId,interval.begin,interval.end
0,63865,3442,5.39,3.55,12234.72,79,1,0.03,1,17631,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 161420...",20487381,2024-11-01,2024-11-30
1,53421,2157,4.04,2.56,5522.30,143,36,1.67,38,164049,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 209076...",18870619,2024-11-01,2024-11-30
2,25963,1536,5.92,5.08,7803.51,265,35,2.28,52,238411,"[{'date': '2024-11-22T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 159488...",21578389,2024-11-22,2024-11-30
3,306835,16888,5.50,0.78,13145.95,937,59,0.35,61,314380,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 252275...",19297608,2024-11-01,2024-11-30
4,88257,6037,6.84,1.37,8242.88,601,206,3.41,268,149570,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 224944...",16530753,2024-11-01,2024-11-30
5,11358,537,4.73,1.07,575.66,24,7,1.30,7,28668,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 643312...",20139198,2024-11-01,2024-11-30
6,34340,1986,5.78,2.77,5504.90,133,10,0.50,10,42574,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21204098,2024-11-07,2024-11-30
7,9629,179,1.86,11.97,2142.07,7,0,0.00,0,0,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21204193,2024-11-07,2024-11-30
8,93284,3261,3.50,2.57,8369.55,221,40,1.23,41,71715,"[{'date': '2024-11-19T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 137609...",21497844,2024-11-19,2024-11-30
9,254299,13458,5.29,0.78,10510.87,739,62,0.46,66,341610,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 263764...",19297685,2024-11-01,2024-11-30
10,25120,1053,4.19,4.46,4693.90,50,2,0.19,2,12750,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21202745,2024-11-07,2024-11-30
11,122949,3425,2.79,2.60,8900.61,133,8,0.23,8,178206,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 133181...",20955117,2024-11-01,2024-11-30
12,16775,898,5.35,3.77,3381.40,49,10,1.11,10,75605,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21212715,2024-11-07,2024-11-30
13,23102,966,4.18,4.43,4280.84,40,3,0.31,3,69998,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21203075,2024-11-07,2024-11-30
14,7227,394,5.45,14.68,5782.12,58,9,2.28,11,51679,"[{'date': '2024-11-26T03:00:00+03:00', 'views'...",NaN,21639902,2024-11-26,2024-11-30
15,18118,663,3.66,5.20,3448.65,35,2,0.30,2,21526,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21203007,2024-11-07,2024-11-30
16,25895,1104,4.26,2.06,2276.34,29,4,0.36,4,23909,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 203510...",18447862,2024-11-01,2024-11-30
17,3483,157,4.51,3.44,539.31,20,3,1.91,5,22731,"[{'date': '2024-11-25T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 235887...",21624850,2024-11-25,2024-11-30
18,103037,6426,6.24,2.64,16964.69,403,32,0.50,33,160176,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 263764...",20397161,2024-11-01,2024-11-30
19,26116,810,3.10,1.83,1481.25,44,4,0.49,4,29904,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 187556...",21212396,2024-11-07,2024-11-30
20,56203,3630,6.46,2.05,7447.89,168,13,0.36,13,57737,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 263764...",20397145,2024-11-01,2024-11-30
21,20514,434,2.12,10.95,4752.81,17,0,0.00,0,0,"[{'date': '2024-11-22T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 286300...",21577749,2024-11-22,2024-11-30
22,125786,6612,5.26,1.32,8732.57,203,13,0.20,13,170864,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 128291...",20954456,2024-11-01,2024-11-30
23,46748,2077,4.44,2.78,5770.73,50,0,0.00,0,0,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 145553...",21041194,2024-11-01,2024-11-30
24,31035,796,2.56,8.46,6737.83,21,1,0.13,1,7231,"[{'date': '2024-11-22T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 286529...",21577733,2024-11-22,2024-11-30
25,97532,1683,1.73,3.13,5270.38,261,49,2.91,77,42633,"[{'date': '2024-11-19T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 209695...",21497699,2024-11-19,2024-11-30
26,15321,490,3.20,4.97,2435.05,9,0,0.00,0,0,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 208813...",20124734,2024-11-01,2024-11-30
27,631,35,5.55,3.26,114.27,2,0,0.00,0,0,"[{'date': '2024-11-28T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 287786...",21698516,2024-11-28,2024-11-30
28,88223,1843,2.09,7.13,13135.59,82,7,0.38,7,102553,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 128222...",21041248,2024-11-01,2024-11-30
29,104139,2540,2.44,5.90,14986.11,50,4,0.16,4,77661,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 133365...",21041143,2024-11-01,2024-11-30
30,2203,144,6.54,1.85,266.08,13,9,6.25,9,31582,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 259632...",18870701,2024-11-01,2024-11-30
31,11940,700,5.86,1.96,1371.03,33,4,0.57,4,28784,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 260854...",18870595,2024-11-01,2024-11-30
32,72843,7563,10.38,2.10,15887.08,470,50,0.66,54,260054,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...",NaN,19276694,2024-11-01,2024-11-30
33,21511,791,3.68,6.03,4773.00,29,2,0.25,2,27231,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21204224,2024-11-07,2024-11-30
34,68608,7616,11.10,1.77,13506.23,444,62,0.81,75,370703,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...",NaN,19276556,2024-11-01,2024-11-30
35,27307,2761,10.11,2.23,6144.41,195,27,0.98,29,173561,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...",NaN,19276746,2024-11-01,2024-11-30
36,111762,1949,1.74,4.78,9320.92,152,31,1.59,31,56828,"[{'date': '2024-11-19T03:00:00+03:00', 'views'...","[{'date': '2024-11-30T00:00:00Z', 'nm': 137609...",21498159,2024-11-19,2024-11-30
37,13110,369,2.81,4.19,1545.13,13,2,0.54,2,9999,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 162402...",18870853,2024-11-01,2024-11-30
38,104616,2814,2.69,5.78,16267.13,102,3,0.11,3,76150,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 149739...",21041387,2024-11-01,2024-11-30
39,73444,2638,3.59,3.72,9814.10,37,2,0.08,2,114320,"[{'date': '2024-11-01T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 228811...",21041312,2024-11-01,2024-11-30
40,100139,3194,3.19,1.90,6084.24,274,13,0.41,13,107682,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 275397...",21203996,2024-11-07,2024-11-30
41,58162,1868,3.21,2.09,3909.62,145,4,0.21,4,63436,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...","[{'date': '2024-11-13T00:00:00Z', 'nm': 263723...",21202453,2024-11-07,2024-11-30
42,27292,925,3.39,5.65,5223.65,15,0,0.00,0,0,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21203170,2024-11-07,2024-11-30
43,19759,1186,6.00,3.59,4262.65,80,10,0.84,10,125796,"[{'date': '2024-11-07T03:00:00+03:00', 'views'...",NaN,21204285,2024-11-07,2024-11-30

In [151]:
# Flatten the JSON data
flattened_data_guten = []
flattened_data_giper = []
flattened_data_kitchen = []


for entry in all_campaign_data_guten:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_guten.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                
for entry in all_campaign_data_giper:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_giper.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })

for entry in all_campaign_data_kitchen:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_kitchen.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })

# Create a DataFrame
df_guten = pd.DataFrame(flattened_data_guten)
df_giper = pd.DataFrame(flattened_data_giper)
df_kitchen = pd.DataFrame(flattened_data_kitchen)
# Convert the 'date' column to datetime
df_guten["date"] = pd.to_datetime(df_guten["date"])
df_giper["date"] = pd.to_datetime(df_giper["date"])
df_kitchen["date"] = pd.to_datetime(df_kitchen["date"])
# Remove timezone information (make it timezone-naive)
df_guten["date"] = df_guten["date"].dt.tz_localize(None)
df_giper["date"] = df_giper["date"].dt.tz_localize(None)
df_kitchen["date"] = df_kitchen["date"].dt.tz_localize(None)

# Display the DataFrame
df_guten

,date,nmId,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId
0,2024-11-01 03:00:00,161420838,Слайсер для нарезки электрический SKS 100 TWIN,297,5,1.68,13.36,66.79,0,0,0.0,0,0,20487381
1,2024-11-01 03:00:00,161420838,Слайсер для нарезки электрический SKS 100 TWIN,2356,106,4.50,5.16,547.48,0,0,0.0,0,0,20487381
2,2024-11-01 03:00:00,161420838,Слайсер для нарезки электрический SKS 100 TWIN,845,36,4.26,5.59,201.37,0,0,0.0,0,0,20487381
3,2024-11-02 03:00:00,161420838,Слайсер для нарезки электрический SKS 100 TWIN,221,2,0.90,24.24,48.48,0,0,0.0,0,0,20487381
4,2024-11-02 03:00:00,161420838,Слайсер для нарезки электрический SKS 100 TWIN,1620,64,3.95,5.03,322.05,0,0,0.0,0,0,20487381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10812,2024-11-30 03:00:00,236554007,Эпилятор женский электрический Silk-epil 9-011...,24,0,0.00,0.00,5.52,0,0,0.0,0,0,21204285
10813,2024-11-30 03:00:00,236554007,Эпилятор женский электрический Silk-epil 9-011...,150,7,4.67,4.93,34.50,0,0,0.0,0,0,21204285
10814,2024-11-30 03:00:00,238818868,Эпилятор женский электрический Silk-epil 9-030,7,1,14.29,1.61,1.61,0,0,0.0,0,0,21204285
10815,2024-11-30 03:00:00,236554007,Эпилятор женский электрический Silk-epil 9-011...,118,5,4.24,5.43,27.14,0,0,0.0,0,0,21204285
10816,2024-11-30 03:00:00,238818868,Эпилятор женский электрический Silk-epil 9-030,3,1,33.33,0.69,0.69,0,0,0.0,0,0,21204285

In [152]:
# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_guten = (
    df_guten.groupby([df_guten["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_giper = (
    df_giper.groupby([df_giper["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_kitchen = (
    df_kitchen.groupby([df_kitchen["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Rename the 'date' column to 'day' for clarity
df_grouped_guten.rename(columns={"date": "day"}, inplace=True)
df_grouped_giper.rename(columns={"date": "day"}, inplace=True)
df_grouped_kitchen.rename(columns={"date": "day"}, inplace=True)

df_grouped_guten['Project'] = 'WB-GutenTech'
df_grouped_giper['Project'] = 'WB-ГиперМаркет'
df_grouped_kitchen['Project'] = 'WB-KitchenAid'

# Concatenate the DataFrames
df_grouped_combined_campaigns = pd.concat([df_grouped_guten, df_grouped_giper, df_grouped_kitchen], ignore_index=True)
df_grouped_combined_campaigns['Marketplace'] = 'Wildberries'

# Display the grouped DataFrame
df_grouped_combined_campaigns

,nmId,day,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId,Project,Marketplace
0,25914858,2024-11-01 03:00:00,Яйцеварка электрическая E 7,323,6,1.216667,4.926667,38.59,0,0,0.000000,0,0,18870619,WB-GutenTech,Wildberries
1,25963255,2024-11-01 03:00:00,Кухонные весы L 15,166,9,3.500000,1.916667,19.04,0,2,37.500000,2,7054,18870701,WB-GutenTech,Wildberries
2,26085467,2024-11-01 03:00:00,Вакууматор для продуктов с запайкой VC 10,291,15,5.700000,1.170000,29.07,0,0,0.000000,0,0,18870595,WB-GutenTech,Wildberries
3,46292575,2024-11-01 03:00:00,Яйцеварка электрическая автоматическая E 9,602,25,4.666667,2.556667,65.66,0,1,11.110000,1,4957,18870619,WB-GutenTech,Wildberries
4,64331255,2024-11-01 03:00:00,Электрическая зубная щетка взрослая Pro 3 3500...,667,33,4.246667,1.260000,30.21,0,2,4.316667,2,7826,20139198,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,243235996,2024-11-30 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",145,5,4.660000,3.456667,16.46,0,0,0.000000,0,0,21008536,WB-KitchenAid,Wildberries
3796,243235997,2024-11-30 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",1,0,0.000000,0.000000,0.02,0,0,0.000000,0,0,21008536,WB-KitchenAid,Wildberries
3797,243235999,2024-11-30 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",245,16,6.090000,1.873333,26.69,0,0,0.000000,0,0,21008536,WB-KitchenAid,Wildberries
3798,245313750,2024-11-30 03:00:00,Тостер на 4 ломтика 5KMT4109E,45,1,1.450000,1.613333,9.68,0,0,0.000000,0,0,21006669,WB-KitchenAid,Wildberries
3799,245316093,2024-11-30 03:00:00,Тостер для хлеба с поддоном для крошек 5KMT4109E,160,11,6.413333,3.653333,29.57,0,0,0.000000,0,0,21006669,WB-KitchenAid,Wildberries

In [153]:
# Merge the grouped DataFrame with the filtered_df to add additional columns
df_final = df_grouped_combined_campaigns.merge(
    filtered_df[["advertId", "endTime", "createTime", "startTime","name", "status", "type"]],
    on="advertId",
    how="left"
)

# Drop the columns 'ctr', 'cpc', and 'cr'
df_final = df_final.drop(columns=["ctr", "cpc", "cr"])

# Rename the columns 'name_x' and 'name_y'
df_final.rename(
    columns={
        "name_x": "name_product",  # Rename 'name_x' to 'name_product'
        "name_y": "name_campaign"  # Rename 'name_y' to 'name_campaign'
    },
    inplace=True
)

# Display the final DataFrame
df_final

,nmId,day,name_product,views,clicks,sum,atbs,orders,shks,sum_price,advertId,Project,Marketplace,endTime,createTime,startTime,name_campaign,status,type
0,25914858,2024-11-01 03:00:00,Яйцеварка электрическая E 7,323,6,38.59,0,0,0,0,18870619,WB-GutenTech,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Яйцеварки_3 SKU_25.07.24,Идут показы,Автоматическая кампания
1,25963255,2024-11-01 03:00:00,Кухонные весы L 15,166,9,19.04,0,2,2,7054,18870701,WB-GutenTech,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Весы кух_2 SKU_25.07.24,Кампания на паузе,Автоматическая кампания
2,26085467,2024-11-01 03:00:00,Вакууматор для продуктов с запайкой VC 10,291,15,29.07,0,0,0,0,18870595,WB-GutenTech,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Вакуумные упаковщики_2 SKU_25.07.24,Идут показы,Автоматическая кампания
3,46292575,2024-11-01 03:00:00,Яйцеварка электрическая автоматическая E 9,602,25,65.66,0,1,1,4957,18870619,WB-GutenTech,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Яйцеварки_3 SKU_25.07.24,Идут показы,Автоматическая кампания
4,64331255,2024-11-01 03:00:00,Электрическая зубная щетка взрослая Pro 3 3500...,667,33,30.21,0,2,2,7826,20139198,WB-GutenTech,Wildberries,2100-01-01,2024-09-24,2024-09-24,ORAL-B_Щетки 3 SKU_24.09.2024,Идут показы,Автоматическая кампания
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,243235996,2024-11-30 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",145,5,16.46,0,0,0,0,21008536,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,Идут показы,Автоматическая кампания
3796,243235997,2024-11-30 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",1,0,0.02,0,0,0,0,21008536,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,Идут показы,Автоматическая кампания
3797,243235999,2024-11-30 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",245,16,26.69,0,0,0,0,21008536,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,Идут показы,Автоматическая кампания
3798,245313750,2024-11-30 03:00:00,Тостер на 4 ломтика 5KMT4109E,45,1,9.68,0,0,0,0,21006669,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Тостеры_30.10.2024,Идут показы,Автоматическая кампания
3799,245316093,2024-11-30 03:00:00,Тостер для хлеба с поддоном для крошек 5KMT4109E,160,11,29.57,0,0,0,0,21006669,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Тостеры_30.10.2024,Идут показы,Автоматическая кампания

## Insert the data

In [154]:
password = os.getenv('ClickHouse')

In [155]:
# Define connection parameters
client = get_client(
    host='rc1a-vk5i3icccvmfk6cm.mdb.yandexcloud.net',  # Your Yandex Cloud ClickHouse host
    port=8443,                                          # Yandex Cloud uses port 8443 for HTTPS
    username='user1',                           # Your ClickHouse username
    password= password,                           # Your ClickHouse password
    database='user1',                            # Your database name
    secure=True,                                        # Use HTTPS
    verify=False                                        # Disable SSL certificate verification 
    # Define the data to insert
)

In [156]:
# Define the table name
table_name = 'campaign_data_wb'

# Convert DataFrame to a list of tuples for bulk insertion
data = [tuple(row) for row in df_final.to_numpy()]

# Define the column names
column_names = [
    'nmId', 'day', 'name_product', 'views', 'clicks', 'sum', 'atbs', 'orders', 'shks', 'sum_price',
    'advertId', 'Project', 'Marketplace', 'endTime', 'createTime', "startTime", 'name_campaign', 'status', 'type'
]

# Use the insert method for bulk insertion
client.insert(table_name, data, column_names=column_names)

print("Data inserted successfully!")

Data inserted successfully!