# Script for a period

In [1]:
import requests
import json
import pandas as pd
from datetime import date
from clickhouse_connect import get_client
from datetime import datetime, timedelta
from dotenv import load_dotenv
import os
import time


load_dotenv()

True

In [2]:
KeyGuten = os.getenv('KeyGuten')
KeyGiper = os.getenv('KeyGiper')
KeyKitchen = os.getenv('KeyKitchen')
KeySmart = os.getenv("KeySmart")

## Списки кампаний

Link: https://dev.wildberries.ru/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1count/get

In [3]:


# API endpoint
url = 'https://advert-api.wildberries.ru/adv/v1/promotion/count'

# Headers including the API key for authentication
headers_guten = {
    'Authorization': KeyGuten,
    'Accept': 'application/json'
}

headers_giper = {
    'Authorization': KeyGiper,
    'Accept': 'application/json'
}

headers_kitchen = {
    'Authorization': KeyKitchen,
    'Accept': 'application/json'
}

headers_smart = {
    'Authorization': KeySmart,
    'Accept': 'application/json'
}

# Make the GET request
response_guten = requests.get(url, headers=headers_guten)
response_giper = requests.get(url, headers=headers_giper)
response_kitchen = requests.get(url, headers=headers_kitchen)
response_smart = requests.get(url, headers=headers_smart)

# Check if the request was successful
if response_guten.status_code == 200 and response_giper.status_code == 200 and response_kitchen.status_code == 200 and response_smart.status_code == 200:
    # Parse the JSON response
    data_guten = response_guten.json()
    data_giper = response_giper.json()
    data_kitchen = response_kitchen.json()
    data_smart = response_smart.json()
    print("Data retrieved successfully")
else:
    print(f"Failed to retrieve data. Status code: {response_guten.status_code,response_giper.status_code,response_giper.status_code,response_smart.status_code }")
    print(f"Response: {response_guten.text, response_giper.text,response_giper.text,response_smart.text }")

Data retrieved successfully

In [4]:
data_giper

{'adverts': [{'type': 9,
   'status': 7,
   'count': 1,
   'advert_list': [{'advertId': 22954217,
     'changeTime': '2025-01-31T16:08:49.754418+03:00'}]},
  {'type': 8,
   'status': 7,
   'count': 7,
   'advert_list': [{'advertId': 17741906,
     'changeTime': '2024-06-08T10:38:13.264875+03:00'},
    {'advertId': 17748698, 'changeTime': '2024-06-08T10:42:37.987864+03:00'},
    {'advertId': 17749089, 'changeTime': '2024-06-08T10:41:42.952579+03:00'},
    {'advertId': 17749228, 'changeTime': '2024-06-24T11:12:43.162712+03:00'},
    {'advertId': 17749561, 'changeTime': '2024-06-08T10:38:39.558529+03:00'},
    {'advertId': 23227483, 'changeTime': '2025-02-19T13:01:41.621239+03:00'},
    {'advertId': 23299304, 'changeTime': '2025-02-19T13:01:31.542622+03:00'}]},
  {'type': 9,
   'status': 11,
   'count': 4,
   'advert_list': [{'advertId': 22844853,
     'changeTime': '2025-02-27T14:07:48.633319+03:00'},
    {'advertId': 22844893, 'changeTime': '2025-01-31T13:31:32.654625+03:00'},
    {'advertId': 22950974, 'changeTime': '2025-03-03T12:35:20.701855+03:00'},
    {'advertId': 22951078, 'changeTime': '2025-03-03T12:47:32.279379+03:00'}]},
  {'type': 8,
   'status': 11,
   'count': 2,
   'advert_list': [{'advertId': 21526302,
     'changeTime': '2025-04-03T08:12:02.580519+03:00'},
    {'advertId': 22844037, 'changeTime': '2025-01-31T13:40:18.926964+03:00'}]},
  {'type': 9,
   'status': 9,
   'count': 6,
   'advert_list': [{'advertId': 22950405,
     'changeTime': '2025-04-03T12:37:52.17577+03:00'},
    {'advertId': 22950831, 'changeTime': '2025-04-03T12:37:21.786278+03:00'},
    {'advertId': 22951156, 'changeTime': '2025-04-03T14:59:05.072079+03:00'},
    {'advertId': 22951268, 'changeTime': '2025-04-03T12:34:55.94527+03:00'},
    {'advertId': 22951454, 'changeTime': '2025-04-03T14:59:30.750284+03:00'},
    {'advertId': 22954069, 'changeTime': '2025-04-03T12:36:30.266965+03:00'}]},
  {'type': 8,
   'status': 9,
   'count': 18,
   'advert_list': [{'advertId': 21526230,
     'changeTime': '2025-03-03T13:03:52.494327+03:00'},
    {'advertId': 21526519, 'changeTime': '2025-02-22T00:42:54.579974+03:00'},
    {'advertId': 21526558, 'changeTime': '2025-04-03T12:20:41.76874+03:00'},
    {'advertId': 22844090, 'changeTime': '2025-02-19T15:07:09.546816+03:00'},
    {'advertId': 22844946, 'changeTime': '2025-04-03T12:19:48.913779+03:00'},
    {'advertId': 22844983, 'changeTime': '2025-03-03T13:35:24.529729+03:00'},
    {'advertId': 22845720, 'changeTime': '2025-01-27T17:10:50.894875+03:00'},
    {'advertId': 22845877, 'changeTime': '2025-03-03T16:10:31.479042+03:00'},
    {'advertId': 22845971, 'changeTime': '2025-03-03T11:55:07.014918+03:00'},
    {'advertId': 22902062, 'changeTime': '2025-02-12T11:05:47.365327+03:00'},
    {'advertId': 22902096, 'changeTime': '2025-02-12T11:05:22.842103+03:00'},
    {'advertId': 22931639, 'changeTime': '2025-04-03T00:45:00.061824+03:00'},
    {'advertId': 22931827, 'changeTime': '2025-02-12T11:10:53.77795+03:00'},
    {'advertId': 22950186, 'changeTime': '2025-02-26T17:11:30.515678+03:00'},
    {'advertId': 22954264, 'changeTime': '2025-02-27T14:07:05.665419+03:00'},
    {'advertId': 22954296, 'changeTime': '2025-03-03T15:50:53.961242+03:00'},
    {'advertId': 23400841, 'changeTime': '2025-03-03T13:12:41.944345+03:00'},
    {'advertId': 23402220,
     'changeTime': '2025-04-02T16:59:22.174229+03:00'}]}],
 'all': 38}

In [5]:
# Flatten the JSON data
df_guten = pd.json_normalize(
    data_guten['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_giper = pd.json_normalize(
    data_giper['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_kitchen = pd.json_normalize(
    data_kitchen['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_smart = pd.json_normalize(
    data_smart['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)

# Convert 'changeTime' to datetime format
df_guten['changeTime'] = pd.to_datetime(df_guten['changeTime'])
df_giper['changeTime'] = pd.to_datetime(df_giper['changeTime'])
df_kitchen['changeTime'] = pd.to_datetime(df_kitchen['changeTime'])
df_smart['changeTime'] = pd.to_datetime(df_smart['changeTime'])

# Filter rows where the year of 'changeTime' is 2024 or later
#df_guten = df_guten[df_guten['changeTime'].dt.year >= 2024]
#df_giper = df_giper[df_giper['changeTime'].dt.year >= 2024]
#df_kitchen = df_kitchen[df_kitchen['changeTime'].dt.year >= 2024]
#df_smart = df_smart[df_smart['changeTime'].dt.year >= 2024]

# Reset the index and drop the old index
df_guten = df_guten.reset_index(drop=True)
df_giper = df_giper.reset_index(drop=True)
df_kitchen = df_kitchen.reset_index(drop=True)
df_smart = df_smart.reset_index(drop=True)

# Display the updated DataFrame
#df_guten
#df_giper
#df_kitchen

In [6]:
#unique_change_times = df_guten['advertId'].nunique()
#print(unique_change_times)

### Информация о кампаниях

Link: https://dev.wildberries.ru/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1adverts/post

In [7]:
# Create chunks of 50 campaign IDs each
chunk_size = 50
campaign_chunks_guten = [df_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_guten), chunk_size)]
campaign_chunks_giper = [df_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_giper), chunk_size)]
campaign_chunks_kitchen = [df_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_kitchen), chunk_size)]
campaign_chunks_smart = [df_smart['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_smart), chunk_size)]

# Print the list of all chunks
print("Campaign Chunks for WB-GutenTech:", campaign_chunks_guten)
print("Campaign Chunks for WB-ГиперМаркет:", campaign_chunks_giper)
print("Campaign Chunks for WB-KitchenAid:", campaign_chunks_kitchen)
print("Campaign Chunks for WB-Smart-Market:", campaign_chunks_smart)

# Define the API endpoint
url = "https://advert-api.wildberries.ru/adv/v1/promotion/adverts"

# Define the query parameters
query_params = {
    "order": "create",  # Order by the "change" field
    "direction":"desc"
}


# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, project_name):
    all_campaign_data = []
    for idx, chunk in enumerate(chunks):
        response = requests.post(url, params=query_params, json=chunk, headers=headers)
        if response.status_code == 200:
            data = response.json()
            all_campaign_data.extend(data)
            print(f"Data retrieved successfully for {project_name} chunk {idx + 1}")
        else:
            print(f"Error for {project_name} chunk {idx + 1}: {response.status_code}, {response.text}")
        time.sleep(1)  # Add a delay to avoid hitting API rate limits
    return all_campaign_data

# Fetch campaign data for each project
all_campaign_data_guten = fetch_campaign_data(campaign_chunks_guten, headers_guten, 'WB-GutenTech')
all_campaign_data_giper = fetch_campaign_data(campaign_chunks_giper, headers_giper, 'WB-ГиперМаркет')
all_campaign_data_kitchen = fetch_campaign_data(campaign_chunks_kitchen, headers_kitchen, 'WB-KitchenAid')
all_campaign_data_smart = fetch_campaign_data(campaign_chunks_smart, headers_smart, 'WB-Smart-Market')

# Create DataFrames from the campaign data
campaigns_guten = pd.DataFrame(all_campaign_data_guten)
campaigns_giper = pd.DataFrame(all_campaign_data_giper)
campaigns_kitchen = pd.DataFrame(all_campaign_data_kitchen)
campaigns_smart = pd.DataFrame(all_campaign_data_smart)

# Sort each DataFrame by 'createTime' in descending order
campaigns_guten = campaigns_guten.sort_values(by='createTime', ascending=False)
campaigns_giper = campaigns_giper.sort_values(by='createTime', ascending=False)
campaigns_kitchen = campaigns_kitchen.sort_values(by='createTime', ascending=False)
campaigns_smart = campaigns_smart.sort_values(by='createTime', ascending=False)

campaigns_guten['Project'] = 'WB-GutenTech'
campaigns_giper['Project'] = 'WB-ГиперМаркет'
campaigns_kitchen['Project'] = 'WB-KitchenAid'
campaigns_smart['Project'] = 'WB-Smart-Market'

# Concatenate the DataFrames
combined_campaigns = pd.concat([campaigns_guten, campaigns_giper, campaigns_kitchen,campaigns_smart], ignore_index=True)

combined_campaigns['Marketplace'] = 'Wildberries'

print("Combined Campaign Data")
#campaigns_kitchen

Campaign Chunks for WB-GutenTech: [[2851788, 5146621, 8004530, 8743562, 9496209, 9496385, 9591336, 11296204, 11296333, 16255090, 16301721, 16301819, 16912359, 16912972, 16913380, 16913696, 16913774, 16914258, 16917733, 16917791, 16918232, 16918415, 16919369, 16920802, 16923161, 16923906, 16923933, 16924292, 17266442, 17563748, 17563873, 17563938, 17687135, 17687241, 17687293, 17687357, 17688586, 17688635, 18640342, 18870731, 18870828, 19262099, 19263710, 19263824, 19265149, 19265205, 19626785, 19662812, 19904919, 19994021], [20039654, 20139599, 20175678, 20334946, 20354793, 20397195, 21040251, 21040485, 21040635, 21040756, 21040856, 21040946, 21385613, 21386362, 21482495, 21482904, 21498202, 11296551, 12465028, 16144421, 20039743, 20955301, 20955474, 20955667, 20955944, 20956444, 21350648, 21351310, 21351587, 21385572, 21386314, 21820825, 22123202, 7202847, 16530753, 18447862, 18870595, 18870619, 18870853, 19297608, 19297685, 20124734, 20139198, 20487381, 21202453, 21203996, 21212396, 21497699, 21497844, 21498159], [21498270, 21554091, 21554118, 21577713, 21624823, 21821064, 21821164, 21821199, 21883272, 21883285, 21965489, 22255122, 22846516, 22846531, 23230882, 462902, 462934, 462959, 462991, 463002, 463125, 463138, 463196, 463211, 463364, 480144, 480165, 480178, 480275, 480291, 480347, 480356, 480455, 480513, 480527, 480531, 480543, 480548, 610764, 610778, 610787, 610835, 610857, 610869, 622222, 622292, 622297, 622326, 622347, 622351], [622366, 622371, 622376, 622381, 622386, 622391, 622397, 622402, 622406, 622420, 622432, 622441, 622448, 622454, 788494, 788498, 788605, 788619, 788659, 788667, 789205, 789210, 953446, 953780, 953785, 958839, 964993, 964999, 965005, 965011, 965014, 965020, 1005723, 1320700, 1320709, 1320718, 1801052, 1801069, 1801426, 1801455, 1801541, 1801574, 1801644, 1801713, 1802589, 1802611, 2594357, 2594580, 2594976, 2595030], [2612852, 2614375, 2852177, 3467141, 3474261, 3474599, 3476612, 3476872, 4558112, 4981827, 5307465, 6626496, 6844544, 6844902, 6923850, 7202673, 7202997, 7203154, 8079038, 8280820, 8331245, 8331432, 8331933, 8618683, 8838251, 9714386, 9881453, 9881557, 9905391, 10012032, 8618594, 8743328, 7202878, 7783591, 7783632, 7783708, 7783759, 7784050, 19276746, 21639902, 21965547, 22165389, 22255058, 18870701, 20397145, 20397161, 20954456, 20955117, 21041143, 21041194], [21041248, 21041312, 21041387, 21577733, 21577749, 21578389, 21624850, 21698516, 22192773, 22846446, 23231292, 23408417, 24038799, 202712, 202715, 208728, 208747, 210342, 210359, 211735, 225297, 1179227, 1200852, 1200937, 1200959, 6626593, 7265038, 7265181, 7265295, 8779899, 9904395, 9905249, 9905504, 9909092, 9909567, 9913921, 9915496, 10012174, 213920, 213946, 213954, 225156, 232543, 232547, 238682, 244654, 244667, 354788, 354832, 354853], [535702, 535721, 535733, 535812, 535864, 535918, 535940, 535963, 535994, 536002, 536018, 536060, 536362, 536369, 536385, 536415, 536427, 536485, 536514, 536537, 536549, 536568, 536610, 536617, 536631, 536646, 536659, 788466, 788472, 788580, 788586, 788636, 788641, 789178, 789191, 953420, 953764, 953774, 958835, 960520, 960525, 960529, 960544, 960551, 960611, 960618, 960621, 960624, 960626, 960675], [960682, 960689, 960693, 960701, 1005700, 1320657, 1320668, 1320684, 2594125, 2594226, 2594682, 2594752, 2595105, 2595113, 2851221, 2851300, 2851888, 2852058, 3467203, 3474308, 3474441, 3476519, 3476542, 3476739, 3476757, 3476880, 3476891, 3477028, 4558192, 4981861, 5001772, 5146248, 5146392, 5149382, 6626942, 6923910, 6923977, 7202606, 7202975, 7203114, 7339607, 7339693, 7339737, 7339839, 7339928, 7339962, 7340006, 7340088, 7414147, 8779205], [8779248, 8779408, 10012105, 11296434, 11296504, 11296700, 19276556, 19276694, 21202745, 21203007, 21203075, 21203170, 21204098, 21204193, 21204224, 21204285, 21212715, 7202795]]
Campaign Chunks for WB-ГиперМаркет: [[22954217, 17741906, 17748698, 17749089, 17749228, 17749561, 23227483, 23299304, 22844853, 22844893, 22950974, 22951078, 21526302, 22844037, 22950405, 22950831, 22951156, 22951268, 22951454, 22954069, 21526230, 21526519, 21526558, 22844090, 22844946, 22844983, 22845720, 22845877, 22845971, 22902062, 22902096, 22931639, 22931827, 22950186, 22954264, 22954296, 23400841, 23402220]]
Campaign Chunks for WB-KitchenAid: [[3758131, 3758224, 21006669, 21008249, 21008536]]
Campaign Chunks for WB-Smart-Market: [[15562282, 15562382, 15562363, 19597465, 20822524, 20822563, 23236221, 21693077, 21693448, 23236144, 23236382, 15562245, 15562321, 19564160, 19564344]]
Data retrieved successfully for WB-GutenTech chunk 1
Data retrieved successfully for WB-GutenTech chunk 2
Data retrieved successfully for WB-GutenTech chunk 3
Data retrieved successfully for WB-GutenTech chunk 4
Data retrieved successfully for WB-GutenTech chunk 5
Data retrieved successfully for WB-GutenTech chunk 6
Data retrieved successfully for WB-GutenTech chunk 7
Data retrieved successfully for WB-GutenTech chunk 8
Data retrieved successfully for WB-GutenTech chunk 9
Data retrieved successfully for WB-ГиперМаркет chunk 1
Data retrieved successfully for WB-KitchenAid chunk 1
Data retrieved successfully for WB-Smart-Market chunk 1
Combined Campaign Data

In [8]:
# Keep only the desired columns
columns_to_keep = ["endTime", "createTime", "startTime","name", "advertId", "status", "type","Project","Marketplace"]
# Ensure filtered_df is a copy of the slice, not a view
filtered_df = combined_campaigns[columns_to_keep].copy()
filtered_df['endTime'] = pd.to_datetime(filtered_df['endTime'], format='mixed').dt.date
filtered_df['createTime'] = pd.to_datetime(filtered_df['createTime'], format='mixed').dt.date
filtered_df['startTime'] = pd.to_datetime(filtered_df['startTime'], format='mixed').dt.date

# Mapping dictionaries for 'status' and 'type'
status_mapping = {
    -1: "Кампания в процессе удаления",
    4: "Готова к запуску",
    7: "Кампания завершена",
    8: "Отказался",
    9: "Идут показы",
    11: "Кампания на паузе"
}

type_mapping = {
    4: "Кампания в каталоге (устаревший тип)",
    5: "Кампания в карточке товара (устаревший тип)",
    6: "Кампания в поиске (устаревший тип)",
    7: "Кампания в рекомендациях на главной странице (устаревший тип)",
    8: "Автоматическая кампания",
    9: "Аукцион"
}

# Replace numeric values with their string descriptions
filtered_df['status'] = filtered_df['status'].replace(status_mapping)
filtered_df['type'] = filtered_df['type'].replace(type_mapping)

# Display the updated DataFrame
filtered_df

,endTime,createTime,startTime,name,advertId,status,type,Project,Marketplace
0,2100-01-01,2025-03-17,2025-03-17,"Venus_Новинки Comfortglide Miami, Sugar_17.03....",24038799,Кампания на паузе,Автоматическая кампания,WB-GutenTech,Wildberries
1,2100-01-01,2025-02-19,2025-02-19,Mr Proper_19.02.2025,23408417,Кампания на паузе,Автоматическая кампания,WB-GutenTech,Wildberries
2,2100-01-01,2025-02-12,2025-04-03,Venus_12.02.2025,23231292,Кампания на паузе,Автоматическая кампания,WB-GutenTech,Wildberries
3,2100-01-01,2025-02-12,2025-03-10,Always_12.02.2025,23230882,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
4,2100-01-01,2025-01-27,2025-01-27,AND_Тонометры на запястье_27.01.2025,22846531,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...
471,2024-06-23,2024-03-21,2024-04-18,Насадки Oral-B Автореклама,15562382,Кампания завершена,Автоматическая кампания,WB-Smart-Market,Wildberries
472,2100-01-01,2024-03-21,2025-02-20,Braun_Электробритвы_22.10.2024,15562363,Идут показы,Автоматическая кампания,WB-Smart-Market,Wildberries
473,2024-10-11,2024-03-21,2024-07-02,Электрические зубные щетки Oral-B Поиск + Каталог,15562321,Кампания завершена,Аукцион,WB-Smart-Market,Wildberries
474,2024-10-15,2024-03-21,2024-08-27,Эпиляторы Braun_7 SKU_27.08.2024,15562282,Кампания завершена,Автоматическая кампания,WB-Smart-Market,Wildberries
475,2024-06-24,2024-03-21,2024-04-18,Триммеры Braun Поиск + Каталог,15562245,Кампания завершена,Аукцион,WB-Smart-Market,Wildberries

## Статистика кампаний

Link: https://dev.wildberries.ru/openapi/analytics#tag/Statistika-po-prodvizheniyu/paths/~1adv~1v2~1fullstats/post

Данные вернутся для кампаний в статусах:

* 7 — завершена
* 9 — идут показы
* 11 — пауза из-за расхода бюджета

Response Schema: 

* dates	/ Array of strings <date> [ items <date > ]/ Даты, за которые необходимо выдать информацию.
* views	/ integer/ Количество просмотров./ За все дни, по всем артикулам WB и платформам.
* clicks	/ integer/ Количество кликов./ За все дни, по всем артикулам WB и платформам.
* ctr	/ number/ Показатель кликабельности./ Отношение числа кликов к количеству показов. Выражается в процентах./ За все дни, по всем артикулам WB и платформам.
* cpc	/ number/ Средняя стоимость клика, ₽./ За все дни, по всем артикулам WB и платформам.
* sum	/ number/ Затраты, ₽./ За все дни, по всем артикулам WB и платформам.
* atbs	/ integer/ Количество добавлений товаров в корзину./ За все дни, по всем артикулам WB и платформам.
* orders	/ integer/ Количество заказов./ За все дни, по всем артикулам WB и платформам.
* cr	/ integer/ CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании./ За все дни, по всем артикулам WB и платформам.
* shks	/ integer/ Количество заказанных товаров, шт./ За все дни, по всем артикулам WB и платформам.
* sum_price	/ number/ Заказов на сумму, ₽/ За все дни, по всем артикулам WB и платформам.
* days	/ Array of objects (Days)/ Статистка по дням
    Array 
    * date	/ string <date-time>/ Дата, за которую представлены данные/ 
    * views	/ integer/ Количество просмотров/ 
    * clicks	/ integer/ Количество кликов/ 
    * ctr	/ number/ Показатель кликабельности, отношение числа кликов к количеству показов, %/ 
    * cpc	/ number/ Средняя стоимость клика, ₽./ 
    * sum	/ number/ Затраты, ₽./ 
    * atbs	/ integer/ Количество добавлений товаров в корзину/ 
    * orders	/ integer/ Количество заказов/ 
    * cr	/ integer/ CR(conversion rate) — отношение количества заказов к общему количеству посещений кампании/ 
    * shks	/ integer/ Количество заказанных товаров, шт./ 
    * sum_price	/ number/ Заказов на сумму, ₽/ 
    * apps	/ Array of objects/ Блок информации о платформе
    Array 
        - views	/ integer/ Количество просмотров/ 
        - clicks	/ integer/ Количество кликов/ 
        - ctr	/ number/ Показатель кликабельности, отношение числа кликов к количеству показов, %/ 
        - cpc	/ number/ Средняя стоимость клика, ₽./ 
        - sum	/ number/ Затраты, ₽./ 
        - atbs	/ integer/ Количество добавлений товаров в корзину/ 
        - orders	/ integer/ Количество заказов/ 
        - cr	/ integer/ CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании/ 
        - shks	/ integer/ Количество заказанных товаров, шт./ 
        - sum_price	/ number/ Заказов на сумму, ₽/ 
        - nm	/ Array of objects/ Блок статистики по артикулам WB/ 
        - appType	/ integer/ Тип платформы (1 - сайт, 32 - Android, 64 - IOS)
* boosterStats	/ Array of objects (BoosterStats)/ Статистика по средней позиции товара на страницах поисковой выдачи и каталога (для автоматических кампаний).
* advertId	/ integer/ ID кампании

In [9]:
# API endpoint
url = "https://advert-api.wildberries.ru/adv/v2/fullstats"

# Define the date interval
date_interval = {
    "begin": "2025-03-17",  # Replace with your start date
    "end": "2025-03-31"     # Replace with your end date
}

# Create chunks of 100 campaign IDs each
chunk_size = 100

### Guten

In [10]:
# Assume campaigns_guten DataFrame is already defined and contains 'advertId'
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_guten), chunk_size)]

# List to store all campaign data
all_campaign_data_guten = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data

# Fetch campaign data
all_campaign_data_guten = fetch_campaign_data(campaign_chunks, headers_guten, date_interval)
# Combine all campaign data into a DataFrame
campaign_guten_df = pd.json_normalize(all_campaign_data_guten)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_guten, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrieved successfully for chunk 1
Data retrieved successfully for chunk 2
Error for chunk 3: 400, {"error":"Invalid Params: there are no companies with correct intervals"}
Error for chunk 4: 400, {"error":"Invalid Params: there are no companies with correct intervals"}
Error for chunk 5: 400, {"error":"Invalid Params: there are no companies with correct intervals"}
Combined Campaign Data

### Giper

In [11]:
campaign_chunks = [campaigns_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_giper), chunk_size)]

# List to store all campaign data
all_campaign_data_giper = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data
# Fetch campaign data
all_campaign_data_giper = fetch_campaign_data(campaign_chunks, headers_giper, date_interval)

Data retrieved successfully for chunk 1

### Kitchen

In [12]:
chunk_size = 100
campaign_chunks = [campaigns_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_kitchen), chunk_size)]

# List to store all campaign data
all_campaign_data_kitchen = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data

# Fetch campaign data
all_campaign_data_kitchen = fetch_campaign_data(campaign_chunks, headers_kitchen, date_interval)

Data retrieved successfully for chunk 1

### Smart

In [13]:
campaign_chunks = [campaigns_smart['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_smart), chunk_size)]

# List to store all campaign data
all_campaign_data_smart = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data

# Fetch campaign data
all_campaign_data_smart = fetch_campaign_data(campaign_chunks, headers_smart, date_interval)

Data retrieved successfully for chunk 1

In [14]:
campaign_guten_df

,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,days,boosterStats,advertId,interval.begin,interval.end
0,4316,130,3.01,16.06,2087.30,13,0,0.00,0,0,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 268462...",21821199,2025-03-17,2025-03-31
1,9446,159,1.68,8.91,1416.90,18,2,1.26,2,32038,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21203075,2025-03-17,2025-03-31
2,6,0,0.00,0.00,0.48,0,0,0.00,0,0,"[{'date': '2025-03-19T03:00:00+03:00', 'views'...",NaN,21041387,2025-03-17,2025-03-31
3,37480,1138,3.04,3.72,4235.76,112,15,1.32,15,146620,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 275397...",21203996,2025-03-17,2025-03-31
4,68807,3287,4.78,1.97,6461.85,252,15,0.46,15,81268,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 320765...",19297685,2025-03-17,2025-03-31
5,4,1,25.00,0.30,0.30,0,0,0.00,0,0,"[{'date': '2025-03-19T03:00:00+03:00', 'views'...",NaN,21041194,2025-03-17,2025-03-31
6,40140,1175,2.93,4.72,5542.74,150,30,2.55,30,40397,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 159121...",22846446,2025-03-17,2025-03-31
7,32426,1222,3.77,7.01,8565.27,124,21,1.72,21,107290,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 173292...",21821064,2025-03-17,2025-03-31
8,43523,847,1.95,11.70,9907.59,110,27,3.19,27,42335,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 266556...",21821164,2025-03-17,2025-03-31
9,6028,180,2.99,3.63,654.27,9,6,3.33,6,51897,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 203505...",21212396,2025-03-17,2025-03-31
10,8799,213,2.42,7.97,1698.34,7,1,0.47,1,20446,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 208813...",20124734,2025-03-17,2025-03-31
11,20868,562,2.69,20.07,11280.49,56,8,1.42,8,27940,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 171562...",21554091,2025-03-17,2025-03-31
12,46640,3071,6.58,2.68,8240.07,227,26,0.85,26,144157,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,19276556,2025-03-17,2025-03-31
13,15652,394,2.52,7.95,3130.40,9,0,0.00,0,0,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21203170,2025-03-17,2025-03-31
14,15213,1049,6.90,2.32,2434.08,93,10,0.95,10,44203,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21204098,2025-03-17,2025-03-31
15,24735,539,2.18,7.57,4081.50,43,4,0.74,4,31489,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21204193,2025-03-17,2025-03-31
16,108806,3302,3.03,4.70,15532.22,319,62,1.88,62,91462,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 242960...",23231292,2025-03-17,2025-03-31
17,12354,592,4.79,12.94,7661.61,33,4,0.68,4,12973,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 234921...",21883285,2025-03-17,2025-03-31
18,1,0,0.00,0.00,0.08,0,0,0.00,0,0,"[{'date': '2025-03-29T03:00:00+03:00', 'views'...",NaN,20397145,2025-03-17,2025-03-31
19,8250,316,3.83,5.57,1759.18,6,0,0.00,0,0,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 161420...",20487381,2025-03-17,2025-03-31
20,34585,993,2.87,7.04,6985.78,80,17,1.71,17,188907,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21203007,2025-03-17,2025-03-31
21,3,0,0.00,0.00,0.36,0,0,0.00,0,0,"[{'date': '2025-03-20T03:00:00+03:00', 'views'...",NaN,21624823,2025-03-17,2025-03-31
22,23912,679,2.84,5.09,3458.61,34,8,1.18,8,16237,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 257369...",21498270,2025-03-17,2025-03-31
23,6,0,0.00,0.00,0.27,0,0,0.00,0,0,"[{'date': '2025-03-19T03:00:00+03:00', 'views'...",NaN,20955117,2025-03-17,2025-03-31
24,8,1,12.50,0.47,0.47,0,0,0.00,0,0,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,20954456,2025-03-17,2025-03-31
25,2,0,0.00,0.00,0.16,0,0,0.00,0,0,"[{'date': '2025-03-31T03:00:00+03:00', 'views'...",NaN,21041312,2025-03-17,2025-03-31
26,37631,1088,2.89,6.09,6631.07,90,10,0.92,10,114860,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21204224,2025-03-17,2025-03-31
27,58469,1946,3.33,4.09,7954.63,123,18,0.92,22,14808,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 200580...",23230882,2025-03-17,2025-03-31
28,22341,960,4.30,5.24,5027.05,75,7,0.73,7,100455,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21204285,2025-03-17,2025-03-31
29,13875,550,3.96,3.74,2057.18,30,2,0.36,2,3884,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 360435...",24038799,2025-03-17,2025-03-31
30,6634,337,5.08,4.53,1525.82,20,0,0.00,0,0,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21212715,2025-03-17,2025-03-31
31,77690,3853,4.96,8.19,31570.57,450,90,2.34,93,297364,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 159488...",21965489,2025-03-17,2025-03-31
32,13233,280,2.12,10.31,2887.94,4,0,0.00,0,0,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 286319...",21577713,2025-03-17,2025-03-31
33,89141,628,0.70,37.93,23817.30,50,4,0.64,4,25512,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 303419...",22255122,2025-03-17,2025-03-31
34,182089,2987,1.64,8.87,26503.36,233,56,1.87,56,104667,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 137609...",21498159,2025-03-17,2025-03-31
35,53959,4066,7.54,2.92,11871.82,262,15,0.37,15,78942,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,19276694,2025-03-17,2025-03-31
36,28725,991,3.45,3.25,3217.97,48,10,1.01,11,140489,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 256243...",21202453,2025-03-17,2025-03-31
37,7816,503,6.44,3.35,1684.41,33,2,0.40,2,12594,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,19276746,2025-03-17,2025-03-31
38,14291,472,3.30,18.05,8521.82,56,5,1.06,5,14633,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 159121...",21883272,2025-03-17,2025-03-31
39,38,0,0.00,0.00,16.29,0,0,0.00,0,0,"[{'date': '2025-03-21T03:00:00+03:00', 'views'...","[{'date': '2025-03-24T00:00:00Z', 'nm': 159488...",21624850,2025-03-17,2025-03-31
40,15659,788,5.03,3.86,3044.10,132,27,3.43,27,72638,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 159121...",22846531,2025-03-17,2025-03-31
41,4190,244,5.82,1.87,456.87,19,2,0.82,2,11589,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 181674...",20139198,2025-03-17,2025-03-31
42,13883,558,4.02,19.66,10967.57,72,12,2.15,12,37452,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21965547,2025-03-17,2025-03-31
43,61996,2617,4.22,2.27,5942.40,218,14,0.53,15,83505,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 252275...",19297608,2025-03-17,2025-03-31
44,67404,3047,4.52,2.87,8730.06,504,138,4.53,138,308763,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 171562...",21554118,2025-03-17,2025-03-31
45,29022,1202,4.14,4.95,5949.84,101,14,1.16,14,90298,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...",NaN,21202745,2025-03-17,2025-03-31
46,86123,3732,4.33,4.20,15683.34,606,157,4.21,157,416461,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 159121...",22846516,2025-03-17,2025-03-31
47,59149,1339,2.26,6.11,8183.37,185,70,5.23,75,48459,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 209693...",21497699,2025-03-17,2025-03-31
48,79729,2696,3.38,4.32,11638.33,169,47,1.74,47,78997,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 137609...",21497844,2025-03-17,2025-03-31
49,18563,532,2.87,4.31,2292.64,16,1,0.19,1,2873,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 260256...",18870853,2025-03-17,2025-03-31
50,34538,975,2.82,6.09,5940.64,46,2,0.21,2,17550,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 524416...",18870595,2025-03-17,2025-03-31
51,31340,974,3.11,6.58,6405.40,58,9,0.92,10,44560,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 462925...",18870619,2025-03-17,2025-03-31
52,41962,2896,6.90,2.25,6525.32,413,158,5.46,170,86540,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 224944...",16530753,2025-03-17,2025-03-31
53,5467,193,3.53,4.03,777.54,13,1,0.52,1,7224,"[{'date': '2025-03-17T03:00:00+03:00', 'views'...","[{'date': '2025-03-17T00:00:00Z', 'nm': 203510...",18447862,2025-03-17,2025-03-31

In [15]:
print(campaign_guten_df["advertId"].nunique())

#unique_change_times = df_guten['advertId'].nunique()
#print(unique_change_times)

54

In [16]:
# Flatten the JSON data
flattened_data_guten = []
flattened_data_giper = []
flattened_data_kitchen = []
flattened_data_smart = []


for entry in all_campaign_data_guten:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_guten.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                
for entry in all_campaign_data_giper:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_giper.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })

for entry in all_campaign_data_kitchen:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_kitchen.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                
for entry in all_campaign_data_smart:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_smart.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                

# Create a DataFrame
df_guten = pd.DataFrame(flattened_data_guten)
df_giper = pd.DataFrame(flattened_data_giper)
df_kitchen = pd.DataFrame(flattened_data_kitchen)
df_smart = pd.DataFrame(flattened_data_smart)
# Convert the 'date' column to datetime
df_guten["date"] = pd.to_datetime(df_guten["date"])
df_giper["date"] = pd.to_datetime(df_giper["date"])
df_kitchen["date"] = pd.to_datetime(df_kitchen["date"])
df_smart["date"] = pd.to_datetime(df_smart["date"])
# Remove timezone information (make it timezone-naive)
df_guten["date"] = df_guten["date"].dt.tz_localize(None)
df_giper["date"] = df_giper["date"].dt.tz_localize(None)
df_kitchen["date"] = df_kitchen["date"].dt.tz_localize(None)
df_smart["date"] = df_smart["date"].dt.tz_localize(None)

# Display the DataFrame
df_guten

,date,nmId,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId
0,2025-03-17 03:00:00,268462371,Ирригатор для зубов и десен W10 + 1 насадка,10,0,0.00,0.00,4.86,0,0,0.0,0,0,21821199
1,2025-03-17 03:00:00,268462372,Ирригатор для зубов и десен W10 + 1 насадка,23,0,0.00,0.00,10.58,0,0,0.0,0,0,21821199
2,2025-03-17 03:00:00,268462371,Ирригатор для зубов и десен W10 + 1 насадка,18,0,0.00,0.00,9.00,0,0,0.0,0,0,21821199
3,2025-03-17 03:00:00,268462372,Ирригатор для зубов и десен W10 + 1 насадка,49,3,6.12,7.84,23.51,1,0,0.0,0,0,21821199
4,2025-03-17 03:00:00,268462371,Ирригатор для зубов и десен W10 + 1 насадка,26,0,0.00,0.00,10.89,0,0,0.0,0,0,21821199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10043,2025-03-30 03:00:00,203510173,Триммер для бороды и усов BT5420,208,9,4.33,3.38,30.41,0,0,0.0,0,0,18447862
10044,2025-03-30 03:00:00,203510173,Триммер для бороды и усов BT5420,132,6,4.55,3.20,19.22,0,0,0.0,0,0,18447862
10045,2025-03-31 03:00:00,203510173,Триммер для бороды и усов BT5420,64,2,3.13,4.65,9.29,0,0,0.0,0,0,18447862
10046,2025-03-31 03:00:00,203510173,Триммер для бороды и усов BT5420,265,6,2.26,6.42,38.53,0,0,0.0,0,0,18447862
10047,2025-03-31 03:00:00,203510173,Триммер для бороды и усов BT5420,114,4,3.51,4.05,16.20,0,0,0.0,0,0,18447862

In [17]:
# Specify the file name for the Excel file
file_name = "df_guten_data.xlsx"

# Export the DataFrame to an Excel file
df_guten.to_excel(file_name, index=False)

print(f"DataFrame exported to {file_name} successfully.")

DataFrame exported to df_guten_data.xlsx successfully.

In [18]:
# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_guten = (
    df_guten.groupby([df_guten["date"].dt.date, "nmId", "advertId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_giper = (
    df_giper.groupby([df_giper["date"].dt.date, "nmId", "advertId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_kitchen = (
    df_kitchen.groupby([df_kitchen["date"].dt.date, "nmId", "advertId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_smart = (
    df_smart.groupby([df_smart["date"].dt.date, "nmId", "advertId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)


# Rename the 'date' column to 'day' for clarity
df_grouped_guten.rename(columns={"date": "day"}, inplace=True)
df_grouped_giper.rename(columns={"date": "day"}, inplace=True)
df_grouped_kitchen.rename(columns={"date": "day"}, inplace=True)
df_grouped_smart.rename(columns={"date": "day"}, inplace=True)

df_grouped_guten['Project'] = 'WB-GutenTech'
df_grouped_giper['Project'] = 'WB-ГиперМаркет'
df_grouped_kitchen['Project'] = 'WB-KitchenAid'
df_grouped_smart['Project'] = 'WB-Smart-Market'

# Concatenate the DataFrames
df_grouped_combined_campaigns = pd.concat([df_grouped_guten, df_grouped_giper, df_grouped_kitchen, df_grouped_smart], ignore_index=True)
df_grouped_combined_campaigns['Marketplace'] = 'Wildberries'

# Display the grouped DataFrame
df_grouped_combined_campaigns

,nmId,day,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId,Project,Marketplace
0,23806943,2025-03-17 03:00:00,Вакууматор для продуктов с запайкой VC 11,493,20,4.763333,1.900000,78.85,0,0,0.000000,0,0,18870595,WB-GutenTech,Wildberries
1,25088481,2025-03-17 03:00:00,Эпилятор женский электрический Silk-epil 9-880,266,11,3.890000,6.510000,59.85,0,0,0.000000,0,0,21204285,WB-GutenTech,Wildberries
2,25623718,2025-03-17 03:00:00,Бритва мужская электрическая S3 300BT с триммером,106,4,4.260000,2.690000,10.02,0,0,0.000000,0,0,21202453,WB-GutenTech,Wildberries
3,25623718,2025-03-17 03:00:00,Бритва мужская электрическая S3 300BT с триммером,591,21,3.980000,5.840000,121.16,1,1,3.333333,1,7886,21202745,WB-GutenTech,Wildberries
4,25624340,2025-03-17 03:00:00,Электробритва Series 3 300s,138,6,4.853333,1.970000,11.36,0,0,0.000000,0,0,21202453,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6738,235599972,2025-03-31 03:00:00,Электробритва Series 9 Pro+ 9510s,428,36,8.933333,1.850000,56.03,3,1,6.666667,1,22823,15562363,WB-Smart-Market,Wildberries
6739,253299215,2025-03-31 03:00:00,Триммер для бороды и усов BT3421,527,48,8.356667,1.380000,58.10,5,1,8.333333,1,2719,19597465,WB-Smart-Market,Wildberries
6740,313543155,2025-03-31 03:00:00,,2551,65,2.340000,6.536667,366.31,4,1,0.793333,1,3453,23236221,WB-Smart-Market,Wildberries
6741,313543156,2025-03-31 03:00:00,,2,0,0.000000,0.000000,0.08,0,0,0.000000,0,0,23236221,WB-Smart-Market,Wildberries
6742,313543513,2025-03-31 03:00:00,,2287,75,2.656667,11.720000,327.26,11,3,3.150000,3,8143,23236221,WB-Smart-Market,Wildberries

In [19]:
# Specify the file name for the Excel file
file_name = "df_guten_data.xlsx"

# Export the DataFrame to an Excel file
df_grouped_combined_campaigns.to_excel(file_name, index=False)

print(f"DataFrame exported to {file_name} successfully.")

DataFrame exported to df_guten_data.xlsx successfully.

In [20]:
# Merge the grouped DataFrame with the filtered_df to add additional columns
df_final = df_grouped_combined_campaigns.merge(
    filtered_df[["advertId", "endTime", "createTime", "startTime","name", "status", "type"]],
    on="advertId",
    how="left"
)

# Drop the columns 'ctr', 'cpc', and 'cr'
df_final = df_final.drop(columns=["ctr", "cpc", "cr"])

# Rename the columns 'name_x' and 'name_y'
df_final.rename(
    columns={
        "name_x": "name_product",  # Rename 'name_x' to 'name_product'
        "name_y": "name_campaign"  # Rename 'name_y' to 'name_campaign'
    },
    inplace=True
)

# Display the final DataFrame
df_final
df_final_copy = df_final.copy()

In [21]:
df_final

,nmId,day,name_product,views,clicks,sum,atbs,orders,shks,sum_price,advertId,Project,Marketplace,endTime,createTime,startTime,name_campaign,status,type
0,23806943,2025-03-17 03:00:00,Вакууматор для продуктов с запайкой VC 11,493,20,78.85,0,0,0,0,18870595,WB-GutenTech,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Вакуумные упаковщики_2 SKU_25.07.24,Идут показы,Автоматическая кампания
1,25088481,2025-03-17 03:00:00,Эпилятор женский электрический Silk-epil 9-880,266,11,59.85,0,0,0,0,21204285,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-27,BRAUN_9 серия Эпиляторы_07.11.2024,Идут показы,Аукцион
2,25623718,2025-03-17 03:00:00,Бритва мужская электрическая S3 300BT с триммером,106,4,10.02,0,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
3,25623718,2025-03-17 03:00:00,Бритва мужская электрическая S3 300BT с триммером,591,21,121.16,1,1,1,7886,21202745,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2025-01-09,BRAUN_3 серия Электробритвы_07.11.2024,Идут показы,Аукцион
4,25624340,2025-03-17 03:00:00,Электробритва Series 3 300s,138,6,11.36,0,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6738,235599972,2025-03-31 03:00:00,Электробритва Series 9 Pro+ 9510s,428,36,56.03,3,1,1,22823,15562363,WB-Smart-Market,Wildberries,2100-01-01,2024-03-21,2025-02-20,Braun_Электробритвы_22.10.2024,Идут показы,Автоматическая кампания
6739,253299215,2025-03-31 03:00:00,Триммер для бороды и усов BT3421,527,48,58.10,5,1,1,2719,19597465,WB-Smart-Market,Wildberries,2100-01-01,2024-08-29,2025-02-20,Braun_Триммеры_22.10.2024,Идут показы,Автоматическая кампания
6740,313543155,2025-03-31 03:00:00,,2551,65,366.31,4,1,1,3453,23236221,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-03-27,Gillette_Кассеты_12.02.2025,Идут показы,Автоматическая кампания
6741,313543156,2025-03-31 03:00:00,,2,0,0.08,0,0,0,0,23236221,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-03-27,Gillette_Кассеты_12.02.2025,Идут показы,Автоматическая кампания
6742,313543513,2025-03-31 03:00:00,,2287,75,327.26,11,3,3,8143,23236221,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-03-27,Gillette_Кассеты_12.02.2025,Идут показы,Автоматическая кампания

In [22]:
# Specify the file name for the Excel file
file_name = "df_guten_data.xlsx"

# Export the DataFrame to an Excel file
df_final.to_excel(file_name, index=False)

print(f"DataFrame exported to {file_name} successfully.")

DataFrame exported to df_guten_data.xlsx successfully.

In [24]:
# API endpoint
url = "https://seller-analytics-api.wildberries.ru/api/v2/nm-report/detail/history"

# Define headers and project names
projects = {
    'WB-GutenTech': headers_guten,
    'WB-ГиперМаркет': headers_giper,
    'WB-KitchenAid': headers_kitchen,
    'WB-Smart-Market': headers_smart
}

# Calculate yesterday's date
#yesterday = (datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d')

# Define the period for the report (only yesterday)
period = {
    "begin": "2025-03-27",
    "end": "2025-03-31"
}

# Function to send a single POST request
def send_request(nm_ids, period, headers):
    request_body = {
        "nmIDs": nm_ids,
        "period": period
    }
    response = requests.post(url, headers=headers, json=request_body)
    return response

# Function to fetch data in batches
def fetch_data_in_batches(nm_ids, period, headers):
    all_data = []
    batch_size = 20  # Maximum allowed nmIDs per request
    requests_per_minute = 3  # Maximum allowed requests per minute
    interval = 60 / requests_per_minute  # Time interval between requests in seconds

    for i in range(0, len(nm_ids), batch_size):
        batch = nm_ids[i:i + batch_size]
        response = send_request(batch, period, headers)

        if response.status_code == 200:
            try:
                data = response.json()
                if not data.get('error') and 'data' in data:
                    all_data.extend(data['data'])
                    print(f"Data retrieved successfully for batch {i // batch_size + 1}")
                else:
                    print(f"Error in response for batch {i // batch_size + 1}: {data.get('errorText', 'No error text')}")
            except ValueError as e:
                print(f"Failed to decode JSON for batch {i // batch_size + 1}: {e}")
        else:
            print(f"Error for batch {i // batch_size + 1}: {response.status_code}, {response.text}")

        time.sleep(interval)  # Respect the rate limit

    return all_data

# List to store DataFrames for each project
dataframes = []

# Process each project
for project_name, headers in projects.items():
    # Filter the DataFrame for the current project
    filtered_df = df_final[df_final['Project'] == project_name]
    unique_nmId_values = filtered_df['nmId'].unique().tolist()
    print(f"Total unique nmId values for {project_name}:", len(unique_nmId_values))  # Debugging line

    # Fetch data for all unique nmId values
    all_data = fetch_data_in_batches(unique_nmId_values, period, headers)

    # Flatten the nested 'history' data for easier analysis
    flattened_data = []
    for item in all_data:
        nmID = item['nmID']
        imtName = item['imtName']
        vendorCode = item['vendorCode']
        for history in item['history']:
            history_entry = {
                'nmID': nmID,
                'imtName': imtName,
                'vendorCode': vendorCode,
                'dt': history['dt'],
                'openCardCount': history['openCardCount'],
                'addToCartCount': history['addToCartCount'],
                'addToCartConversion': history['addToCartConversion'],
                'ordersCount': history['ordersCount'],
                'ordersSumRub': history['ordersSumRub'],
                'cartToOrderConversion': history['cartToOrderConversion'],
                'buyoutsCount': history['buyoutsCount'],
                'buyoutsSumRub': history['buyoutsSumRub'],
                'buyoutPercent': history['buyoutPercent']
            }
            flattened_data.append(history_entry)

    # Convert the flattened data to a DataFrame
    df_copy = pd.DataFrame(flattened_data)
    print(f"Data for {project_name}:\n", df_copy.head())

    # Add the DataFrame to the list
    dataframes.append(df_copy)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the combined DataFrame
print("Combined DataFrame:\n", combined_df.head())
df_copy=combined_df.copy()

Total unique nmId values for WB-GutenTech: 226
Data retrieved successfully for batch 1
Data retrieved successfully for batch 2
Data retrieved successfully for batch 3
Data retrieved successfully for batch 4
Data retrieved successfully for batch 5
Data retrieved successfully for batch 6
Data retrieved successfully for batch 7
Data retrieved successfully for batch 8
Data retrieved successfully for batch 9
Error for batch 10: 429, {
    "title": "too many requests",
    "detail": "Limited by global limiter, per seller 054b89ca-b532-5f6d-8b28-c54790d76a9b; See https://dev.wildberries.ru/openapi/api-information",
    "code": "461a0b83d6bd 2950e93b5fda",
    "requestId": "fb4873fe7a80e9f55f21bbf7caea6780",
    "origin": "s2sauth-ca",
    "status": 429,
    "statusText": "Too Many Requests",
    "timestamp": "2025-04-03T12:30:14Z"
}

Data retrieved successfully for batch 11
Error for batch 12: 504, stream timeout
Data for WB-GutenTech:
        nmID                                            imtName  \
0  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
1  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
2  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
3  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
4  52418766  Вакууматор для продуктов с запайкой Gourmet VA...

       vendorCode          dt  openCardCount  addToCartCount  \
0  CM-00-00001554  2025-03-27             19               0
1  CM-00-00001554  2025-03-28              9               0
2  CM-00-00001554  2025-03-29             16               0
3  CM-00-00001554  2025-03-30              9               0
4  CM-00-00001554  2025-03-31             22               1

   addToCartConversion  ordersCount  ordersSumRub  cartToOrderConversion  \
0                    0            0             0                      0
1                    0            0             0                      0
2                    0            0             0                      0
3                    0            0             0                      0
4                    5            0             0                      0

   buyoutsCount  buyoutsSumRub  buyoutPercent
0             0              0              0
1             0              0              0
2             0              0              0
3             0              0              0
4             0              0              0
Total unique nmId values for WB-ГиперМаркет: 169
Error for batch 1: 504, stream timeout
Data retrieved successfully for batch 2
Data retrieved successfully for batch 3
Error for batch 4: 429, {
    "title": "too many requests",
    "detail": "Limited by global limiter, per seller 2446e657-22bd-4edf-babd-ebd1ed519758; See https://dev.wildberries.ru/openapi/api-information",
    "code": "461a0b83d6bd 2950e93b5fda",
    "requestId": "08b3fddcb7e7c6efabf49919107e24f7",
    "origin": "s2sauth-ca",
    "status": 429,
    "statusText": "Too Many Requests",
    "timestamp": "2025-04-03T12:33:01Z"
}

Error for batch 5: 429, {
    "title": "too many requests",
    "detail": "Limited by global limiter, per seller 2446e657-22bd-4edf-babd-ebd1ed519758; See https://dev.wildberries.ru/openapi/api-information",
    "code": "461a0b83d6bd 2950e93b5fda",
    "requestId": "685effc14f0f2ae61ce4353a6f029c4d",
    "origin": "s2sauth-ca",
    "status": 429,
    "statusText": "Too Many Requests",
    "timestamp": "2025-04-03T12:33:21Z"
}

Data retrieved successfully for batch 6
Error for batch 7: 504, stream timeout
Error for batch 8: 429, {
    "title": "too many requests",
    "detail": "Limited by global limiter, per seller 2446e657-22bd-4edf-babd-ebd1ed519758; See https://dev.wildberries.ru/openapi/api-information",
    "code": "461a0b83d6bd 2950e93b5fda",
    "requestId": "d18401cb7068e4add2e6ee9748e3f73e",
    "origin": "s2sauth-ca",
    "status": 429,
    "statusText": "Too Many Requests",
    "timestamp": "2025-04-03T12:34:37Z"
}

Error for batch 9: 429, {
    "title": "too many requests",
    "detail": "Limited by global limiter, per seller 2446e657-22bd-4edf-babd-ebd1ed519758; See https://dev.wildberries.ru/openapi/api-information",
    "code": "461a0b83d6bd 2950e93b5fda",
    "requestId": "30bec3a378a8f987ebb124f4321a97e3",
    "origin": "s2sauth-ca",
    "status": 429,
    "statusText": "Too Many Requests",
    "timestamp": "2025-04-03T12:34:58Z"
}

Data for WB-ГиперМаркет:
         nmID                      imtName vendorCode          dt  \
0  233320551  Электробритва Series 3 300s   Б0027735  2025-03-27
1  233320551  Электробритва Series 3 300s   Б0027735  2025-03-28
2  233320551  Электробритва Series 3 300s   Б0027735  2025-03-29
3  233320551  Электробритва Series 3 300s   Б0027735  2025-03-30
4  233320551  Электробритва Series 3 300s   Б0027735  2025-03-31

   openCardCount  addToCartCount  addToCartConversion  ordersCount  \
0             28               3                   11            1
1             19               0                    0            0
2             23               0                    0            0
3             21               1                    5            0
4             35               3                    9            0

   ordersSumRub  cartToOrderConversion  buyoutsCount  buyoutsSumRub  \
0          7345                     33             1           7345
1             0                      0             0              0
2             0                      0             0              0
3             0                      0             0              0
4             0                      0             0              0

   buyoutPercent
0            100
1              0
2              0
3              0
4              0
Total unique nmId values for WB-KitchenAid: 21
Error for batch 1: 504, stream timeout
Data retrieved successfully for batch 2
Data for WB-KitchenAid:
         nmID                                            imtName   vendorCode  \
0  243235997  Чайник электрический 1,7 л с регулировкой темп...  5KEK1701EAC
1  243235997  Чайник электрический 1,7 л с регулировкой темп...  5KEK1701EAC
2  243235997  Чайник электрический 1,7 л с регулировкой темп...  5KEK1701EAC
3  243235997  Чайник электрический 1,7 л с регулировкой темп...  5KEK1701EAC
4  243235997  Чайник электрический 1,7 л с регулировкой темп...  5KEK1701EAC

           dt  openCardCount  addToCartCount  addToCartConversion  \
0  2025-03-27              0               0                    0
1  2025-03-28              0               0                    0
2  2025-03-29              1               0                    0
3  2025-03-30              3               0                    0
4  2025-03-31              5               1                   20

   ordersCount  ordersSumRub  cartToOrderConversion  buyoutsCount  \
0            0             0                      0             0
1            0             0                      0             0
2            0             0                      0             0
3            0             0                      0             0
4            0             0                      0             0

   buyoutsSumRub  buyoutPercent
0              0              0
1              0              0
2              0              0
3              0              0
4              0              0
Total unique nmId values for WB-Smart-Market: 42
Data retrieved successfully for batch 1
Error for batch 2: 504, stream timeout
Data retrieved successfully for batch 3
Data for WB-Smart-Market:
         nmID                                            imtName vendorCode  \
0  205410521  Электрическая бритва Series 7 71-S1000s электр...   Б0058419
1  205410521  Электрическая бритва Series 7 71-S1000s электр...   Б0058419
2  205410521  Электрическая бритва Series 7 71-S1000s электр...   Б0058419
3  205410521  Электрическая бритва Series 7 71-S1000s электр...   Б0058419
4  205410521  Электрическая бритва Series 7 71-S1000s электр...   Б0058419

           dt  openCardCount  addToCartCount  addToCartConversion  \
0  2025-03-27            117               4                    3
1  2025-03-28             69               3                    4
2  2025-03-29            110               6                    5
3  2025-03-30            165              19                   12
4  2025-03-31            156              15                   10

   ordersCount  ordersSumRub  cartToOrderConversion  buyoutsCount  \
0            0             0                      0             0
1            1         15446                     33             0
2            1         15446                     17             1
3            2         30892                     11             1
4            1         15446                      7             1

   buyoutsSumRub  buyoutPercent
0              0              0
1              0              0
2          15446            100
3          15446            100
4          15446            100
Combined DataFrame:
        nmID                                            imtName  \
0  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
1  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
2  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
3  52418766  Вакууматор для продуктов с запайкой Gourmet VA...
4  52418766  Вакууматор для продуктов с запайкой Gourmet VA...

       vendorCode          dt  openCardCount  addToCartCount  \
0  CM-00-00001554  2025-03-27             19               0
1  CM-00-00001554  2025-03-28              9               0
2  CM-00-00001554  2025-03-29             16               0
3  CM-00-00001554  2025-03-30              9               0
4  CM-00-00001554  2025-03-31             22               1

   addToCartConversion  ordersCount  ordersSumRub  cartToOrderConversion  \
0                    0            0             0                      0
1                    0            0             0                      0
2                    0            0             0                      0
3                    0            0             0                      0
4                    5            0             0                      0

   buyoutsCount  buyoutsSumRub  buyoutPercent
0             0              0              0
1             0              0              0
2             0              0              0
3             0              0              0
4             0              0              0

In [34]:
df_copy=combined_df.copy()
df_final_copy=df_final.copy()

In [35]:
df_copy

,nmID,imtName,vendorCode,dt,openCardCount,addToCartCount,addToCartConversion,ordersCount,ordersSumRub,cartToOrderConversion,buyoutsCount,buyoutsSumRub,buyoutPercent
0,52418766,Вакууматор для продуктов с запайкой Gourmet VA...,CM-00-00001554,2025-03-27,19,0,0,0,0,0,0,0,0
1,52418766,Вакууматор для продуктов с запайкой Gourmet VA...,CM-00-00001554,2025-03-28,9,0,0,0,0,0,0,0,0
2,52418766,Вакууматор для продуктов с запайкой Gourmet VA...,CM-00-00001554,2025-03-29,16,0,0,0,0,0,0,0,0
3,52418766,Вакууматор для продуктов с запайкой Gourmet VA...,CM-00-00001554,2025-03-30,9,0,0,0,0,0,0,0,0
4,52418766,Вакууматор для продуктов с запайкой Gourmet VA...,CM-00-00001554,2025-03-31,22,1,5,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410,235597032,Эпилятор женский электрический Silk-epil 7-030,7500435225120,2025-03-27,14,0,0,0,0,0,0,0,0
1411,235597032,Эпилятор женский электрический Silk-epil 7-030,7500435225120,2025-03-28,7,0,0,0,0,0,0,0,0
1412,235597032,Эпилятор женский электрический Silk-epil 7-030,7500435225120,2025-03-29,154,7,5,0,0,0,0,0,0
1413,235597032,Эпилятор женский электрический Silk-epil 7-030,7500435225120,2025-03-30,93,4,4,1,13449,25,0,0,0
1414,235597032,Эпилятор женский электрический Silk-epil 7-030,7500435225120,2025-03-31,11,0,0,0,0,0,0,0,0

In [36]:
df_unique = df_copy['nmID'].unique()
print(df_unique)

[ 52418766  25624340  64331255 137609254  26025671  26026221  23806943
 137609308  46292575 128296041  25628178  26053328  52441643  43098334
  25623718  52469734 110059376 135577637  25088481  52465014 137609782
 137609742 144980785 143493692 137609323 137609340 138937204 137609392
 137609695 137609342 137609756 137609754 143478977 137609383 137609370
 144986300 143429326 137609312 137609384 137609389 147720619 155383929
 145266097 159121836 147720623 159121846 145759198 159121842 159121847
 155776833 145266250 145759203 159121839 159121843 145266634 159121848
 145813923 147720621 159121837 147720616 169088646 159121852 159121853
 171562370 173292234 173292235 159121851 159121857 159121850 171562371
 173292231 159488075 171562375 162402302 159121849 159121856 173292233
 159121859 161420838 162402289 200604181 181893193 201854777 187556878
 200571555 181893209 200576962 181893218 201854771 181893214 181893203
 188403472 200481688 181674546 198084188 181893195 200580096 198208484
 181893223 195507426 236556054 236555306 209693313 203505281 209076655
 209695451 235394721 222801574 213061469 203809741 236554007 208811603
 235394722 234921766 208814005 203815244 224944973 208813161 233711219
 203510173 241624628 244982717 243971217 243971220 242981208 242524788
 238818868 242951275 242960839 242960840 241706516 236558115 242972771
 236561142 242972772 241623102 236561143 244973734 236559228 236558116
 252275487 244991938 266556134 266534478 244990010 252275486 266556135
 257062331 257369613 263725116 252275485 266556136 245600931 266534482
 263723655 266534481 252275484 266556137 266534477 252275489 266556145
 266556143 266556139 266556142 286319820 266556152 286300575 286319822
 266556151 266556144 275397275 286529819 266556140 266556138 268462371
 266556149 286307220 268462372 303419143 266556141 159488077 234921763
 263764735 128309216 128342266 234690281 252275488 133366998 320765245
 234921765 159121858 201854775 128291868 133360169 145555249 159121840
 125425997 264504194 264504195 171479387 233320551 233320538 233320516
 232867819 233320539 232867815 233320521 232867813 232867818 232867817
 233320523 233304559 233320553 232867816 233320532 233320524 233320526
 233320540 233320525 233304563 233320570 233320568 234443567 233345919
 233345928 233320575 234402512 233320572 233383560 233345912 233320571
 234443571 234443566 233320574 233320559 233345924 233345914 234402514
 233320569 234443592 260221183 257371767 252693882 243650828 252545638
 245600474 256280141 243650829 255466474 245601453 255466480 252545637
 252545634 243650824 252545635 256280139 243650825 243650826 252545639
 252545636 243235997 205410521 206386261 205352344 205352338 205531989
 235008505 235013615 206314538 235338832 206314555 206374845 206314551
 205064655 205064676 205352349 206314541 235332571 235012031 206314536
 205352335 235638522 235597032]

In [37]:
# Assuming your DataFrame is named df
specific_nmID = 137609342

# Filter the DataFrame for the specific nmID
filtered_df_id = df_copy[df_copy['nmID'] == specific_nmID]

# Group by nmID and sum the ordersSumRub
total_ordersSumRub = filtered_df_id['ordersSumRub'].sum()

print(f"Total ordersSumRub for nmID {specific_nmID}: {total_ordersSumRub}")

Total ordersSumRub for nmID 137609342: 0

In [38]:
df_unique = df_copy['ordersSumRub'].sum()
print(df_unique)

3267793

In [39]:
# Convert 'day' and 'dt' to datetime for accurate merging
df_final_copy['day'] = pd.to_datetime(df_final_copy['day']).dt.date
df_copy['dt'] = pd.to_datetime(df_copy['dt']).dt.date

# Rename columns in df2 to match df1 for merging
df_copy.rename(columns={'nmID': 'nmId', 'dt': 'day'}, inplace=True)

# Merge the DataFrames on 'nmId', 'day', and 'Project'
merged_df_2 = pd.merge(
    df_final_copy,
    df_copy[['nmId', 'day', 'ordersCount', 'ordersSumRub','addToCartCount']],
    on=['nmId', 'day'],
    how='left'
)

# Fill NaN values with 0 for ordersCount and ordersSumRub
merged_df_2['ordersCount'].fillna(0, inplace=True)
merged_df_2['ordersSumRub'].fillna(0, inplace=True)
merged_df_2['addToCartCount'].fillna(0, inplace=True)


# Display the merged DataFrame
merged_df_2

C:\Users\User\AppData\Local\Temp\ipykernel_14680\76939134.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df_2['ordersCount'].fillna(0, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_14680\76939134.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df_2['ordersSumRub'].fillna(0, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_14680\76939134.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df_2['addToCartCount'].fillna(0, inplace=True)

,nmId,day,name_product,views,clicks,sum,atbs,orders,shks,sum_price,...,Marketplace,endTime,createTime,startTime,name_campaign,status,type,ordersCount,ordersSumRub,addToCartCount
0,23806943,2025-03-17,Вакууматор для продуктов с запайкой VC 11,493,20,78.85,0,0,0,0,...,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Вакуумные упаковщики_2 SKU_25.07.24,Идут показы,Автоматическая кампания,0.0,0.0,0.0
1,25088481,2025-03-17,Эпилятор женский электрический Silk-epil 9-880,266,11,59.85,0,0,0,0,...,Wildberries,2100-01-01,2024-11-07,2024-11-27,BRAUN_9 серия Эпиляторы_07.11.2024,Идут показы,Аукцион,0.0,0.0,0.0
2,25623718,2025-03-17,Бритва мужская электрическая S3 300BT с триммером,106,4,10.02,0,0,0,0,...,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания,0.0,0.0,0.0
3,25623718,2025-03-17,Бритва мужская электрическая S3 300BT с триммером,591,21,121.16,1,1,1,7886,...,Wildberries,2100-01-01,2024-11-07,2025-01-09,BRAUN_3 серия Электробритвы_07.11.2024,Идут показы,Аукцион,0.0,0.0,0.0
4,25624340,2025-03-17,Электробритва Series 3 300s,138,6,11.36,0,0,0,0,...,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6738,235599972,2025-03-31,Электробритва Series 9 Pro+ 9510s,428,36,56.03,3,1,1,22823,...,Wildberries,2100-01-01,2024-03-21,2025-02-20,Braun_Электробритвы_22.10.2024,Идут показы,Автоматическая кампания,0.0,0.0,0.0
6739,253299215,2025-03-31,Триммер для бороды и усов BT3421,527,48,58.10,5,1,1,2719,...,Wildberries,2100-01-01,2024-08-29,2025-02-20,Braun_Триммеры_22.10.2024,Идут показы,Автоматическая кампания,0.0,0.0,0.0
6740,313543155,2025-03-31,,2551,65,366.31,4,1,1,3453,...,Wildberries,2100-01-01,2025-02-12,2025-03-27,Gillette_Кассеты_12.02.2025,Идут показы,Автоматическая кампания,0.0,0.0,0.0
6741,313543156,2025-03-31,,2,0,0.08,0,0,0,0,...,Wildberries,2100-01-01,2025-02-12,2025-03-27,Gillette_Кассеты_12.02.2025,Идут показы,Автоматическая кампания,0.0,0.0,0.0
6742,313543513,2025-03-31,,2287,75,327.26,11,3,3,8143,...,Wildberries,2100-01-01,2025-02-12,2025-03-27,Gillette_Кассеты_12.02.2025,Идут показы,Автоматическая кампания,0.0,0.0,0.0

In [40]:
df_unique = merged_df_2['ordersSumRub'].sum()
print(df_unique)

4061010.0

## Insert the data

In [41]:
password = os.getenv('ClickHouse')
# Define connection parameters
client = get_client(
    host='rc1a-j5ou9lq30ldal602.mdb.yandexcloud.net',  # Your Yandex Cloud ClickHouse host
    port=8443,                                          # Yandex Cloud uses port 8443 for HTTPS
    username='user1',                                      # Your ClickHouse username
    password= password,                           # Your ClickHouse password
    database='user1',                            # Your database name
    secure=True,                                        # Use HTTPS
    verify=False                                        # Disable SSL certificate verification 
    # Define the data to insert
)

In [42]:
# Ensure date columns are in the correct format for ClickHouse
merged_df_2['day'] = pd.to_datetime(merged_df_2['day'])  # Convert to datetime


# Debugging: Check the data types of the DataFrame
print("Data types of merged_df:")
print(merged_df_2.dtypes)

# Ensure the DataFrame has the correct columns
columns = [
    'nmId', 'day', 'name_product', 'views', 'clicks', 'sum', 'atbs', 'orders', 'shks',
    'sum_price', 'advertId', 'Project', 'Marketplace','endTime', 'createTime', 'startTime', 
    'name_campaign', 'status', 'type','ordersCount', 'ordersSumRub','addToCartCount'
]

# Reorder columns to match the expected order
merget_df_copy_2 = merged_df_2[columns]

# Convert DataFrame to a list of tuples for bulk insertion
data = [tuple(row) for row in merget_df_copy_2.to_numpy()]

# Debugging: Check the structure of the data
print("Sample data to insert:", data[:5])  # Print the first 5 rows to check the structure

# Define the table name
table_name = 'campaign_data_wb'

# Use the insert method for bulk insertion
client.insert(table_name, data, column_names=columns)
print("Data inserted successfully!")

Data types of merged_df:
nmId                       int64
day               datetime64[ns]
name_product              object
views                      int64
clicks                     int64
sum                      float64
atbs                       int64
orders                     int64
shks                       int64
sum_price                  int64
advertId                   int64
Project                   object
Marketplace               object
endTime                   object
createTime                object
startTime                 object
name_campaign             object
status                    object
type                      object
ordersCount              float64
ordersSumRub             float64
addToCartCount           float64
dtype: object
Sample data to insert: [(23806943, Timestamp('2025-03-17 00:00:00'), 'Вакууматор для продуктов с запайкой VC 11', 493, 20, 78.85, 0, 0, 0, 0, 18870595, 'WB-GutenTech', 'Wildberries', datetime.date(2100, 1, 1), datetime.date(2024, 7, 25), datetime.date(2025, 1, 9), 'CASO_Вакуумные упаковщики_2 SKU_25.07.24', 'Идут показы', 'Автоматическая кампания', 0.0, 0.0, 0.0), (25088481, Timestamp('2025-03-17 00:00:00'), 'Эпилятор женский электрический Silk-epil 9-880', 266, 11, 59.849999999999994, 0, 0, 0, 0, 21204285, 'WB-GutenTech', 'Wildberries', datetime.date(2100, 1, 1), datetime.date(2024, 11, 7), datetime.date(2024, 11, 27), 'BRAUN_9 серия Эпиляторы_07.11.2024', 'Идут показы', 'Аукцион', 0.0, 0.0, 0.0), (25623718, Timestamp('2025-03-17 00:00:00'), 'Бритва мужская электрическая S3 300BT с триммером', 106, 4, 10.020000000000001, 0, 0, 0, 0, 21202453, 'WB-GutenTech', 'Wildberries', datetime.date(2100, 1, 1), datetime.date(2024, 11, 7), datetime.date(2024, 11, 7), 'BRAUN_Электробритвы_07.11.2024_РКП', 'Идут показы', 'Автоматическая кампания', 0.0, 0.0, 0.0), (25623718, Timestamp('2025-03-17 00:00:00'), 'Бритва мужская электрическая S3 300BT с триммером', 591, 21, 121.16, 1, 1, 1, 7886, 21202745, 'WB-GutenTech', 'Wildberries', datetime.date(2100, 1, 1), datetime.date(2024, 11, 7), datetime.date(2025, 1, 9), 'BRAUN_3 серия Электробритвы_07.11.2024', 'Идут показы', 'Аукцион', 0.0, 0.0, 0.0), (25624340, Timestamp('2025-03-17 00:00:00'), 'Электробритва Series 3 300s', 138, 6, 11.36, 0, 0, 0, 0, 21202453, 'WB-GutenTech', 'Wildberries', datetime.date(2100, 1, 1), datetime.date(2024, 11, 7), datetime.date(2024, 11, 7), 'BRAUN_Электробритвы_07.11.2024_РКП', 'Идут показы', 'Автоматическая кампания', 0.0, 0.0, 0.0)]
Data inserted successfully!