# Script for a period

In [1]:
import requests
import json
import pandas as pd
from datetime import date
import openpyxl
from clickhouse_connect import get_client
from datetime import datetime, timedelta
from dotenv import load_dotenv
import os
import time

load_dotenv()

True

In [2]:
KeyGuten = os.getenv('KeyGuten')
KeyGiper = os.getenv('KeyGiper')
KeyKitchen = os.getenv('KeyKitchen')
KeySmart = os.getenv("KeySmart")

## Списки кампаний

Link: https://dev.wildberries.ru/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1count/get

In [3]:


# API endpoint
url = 'https://advert-api.wildberries.ru/adv/v1/promotion/count'

# Headers including the API key for authentication
headers_guten = {
    'Authorization': KeyGuten,
    'Accept': 'application/json'
}

headers_giper = {
    'Authorization': KeyGiper,
    'Accept': 'application/json'
}

headers_kitchen = {
    'Authorization': KeyKitchen,
    'Accept': 'application/json'
}

headers_smart = {
    'Authorization': KeySmart,
    'Accept': 'application/json'
}

# Make the GET request
response_guten = requests.get(url, headers=headers_guten)
response_giper = requests.get(url, headers=headers_giper)
response_kitchen = requests.get(url, headers=headers_kitchen)
response_smart = requests.get(url, headers=headers_smart)

# Check if the request was successful
if response_guten.status_code == 200 and response_giper.status_code == 200 and response_kitchen.status_code == 200 and response_smart.status_code == 200:
    # Parse the JSON response
    data_guten = response_guten.json()
    data_giper = response_giper.json()
    data_kitchen = response_kitchen.json()
    data_smart = response_smart.json()
    print("Data retrieved successfully")
else:
    print(f"Failed to retrieve data. Status code: {response_guten.status_code,response_giper.status_code,response_giper.status_code,response_smart.status_code }")
    print(f"Response: {response_guten.text, response_giper.text,response_giper.text,response_smart.text }")

Data retrieved successfully

In [63]:
data_giper

{'adverts': [{'type': 9,
   'status': 11,
   'count': 5,
   'advert_list': [{'advertId': 22844853,
     'changeTime': '2025-02-27T14:07:48.633319+03:00'},
    {'advertId': 22844893, 'changeTime': '2025-01-31T13:31:32.654625+03:00'},
    {'advertId': 22950974, 'changeTime': '2025-03-03T12:35:20.701855+03:00'},
    {'advertId': 22951078, 'changeTime': '2025-03-03T12:47:32.279379+03:00'},
    {'advertId': 22951454, 'changeTime': '2025-03-03T15:33:24.073868+03:00'}]},
  {'type': 8,
   'status': 7,
   'count': 7,
   'advert_list': [{'advertId': 17741906,
     'changeTime': '2024-06-08T10:38:13.264875+03:00'},
    {'advertId': 17748698, 'changeTime': '2024-06-08T10:42:37.987864+03:00'},
    {'advertId': 17749089, 'changeTime': '2024-06-08T10:41:42.952579+03:00'},
    {'advertId': 17749228, 'changeTime': '2024-06-24T11:12:43.162712+03:00'},
    {'advertId': 17749561, 'changeTime': '2024-06-08T10:38:39.558529+03:00'},
    {'advertId': 23227483, 'changeTime': '2025-02-19T13:01:41.621239+03:00'},
    {'advertId': 23299304, 'changeTime': '2025-02-19T13:01:31.542622+03:00'}]},
  {'type': 9,
   'status': 7,
   'count': 1,
   'advert_list': [{'advertId': 22954217,
     'changeTime': '2025-01-31T16:08:49.754418+03:00'}]},
  {'type': 8,
   'status': 11,
   'count': 4,
   'advert_list': [{'advertId': 21526558,
     'changeTime': '2025-02-07T16:43:04.178341+03:00'},
    {'advertId': 22844037, 'changeTime': '2025-01-31T13:40:18.926964+03:00'},
    {'advertId': 22844946, 'changeTime': '2025-03-04T12:36:41.470052+03:00'},
    {'advertId': 23402220, 'changeTime': '2025-03-04T13:29:43.833312+03:00'}]},
  {'type': 8,
   'status': 9,
   'count': 16,
   'advert_list': [{'advertId': 21526230,
     'changeTime': '2025-03-03T13:03:52.494327+03:00'},
    {'advertId': 21526302, 'changeTime': '2025-03-03T13:08:01.834014+03:00'},
    {'advertId': 21526519, 'changeTime': '2025-02-22T00:42:54.579974+03:00'},
    {'advertId': 22844090, 'changeTime': '2025-02-19T15:07:09.546816+03:00'},
    {'advertId': 22844983, 'changeTime': '2025-03-03T13:35:24.529729+03:00'},
    {'advertId': 22845720, 'changeTime': '2025-01-27T17:10:50.894875+03:00'},
    {'advertId': 22845877, 'changeTime': '2025-03-03T16:10:31.479042+03:00'},
    {'advertId': 22845971, 'changeTime': '2025-03-03T11:55:07.014918+03:00'},
    {'advertId': 22902062, 'changeTime': '2025-02-12T11:05:47.365327+03:00'},
    {'advertId': 22902096, 'changeTime': '2025-02-12T11:05:22.842103+03:00'},
    {'advertId': 22931639, 'changeTime': '2025-02-12T11:06:15.29728+03:00'},
    {'advertId': 22931827, 'changeTime': '2025-02-12T11:10:53.77795+03:00'},
    {'advertId': 22950186, 'changeTime': '2025-02-26T17:11:30.515678+03:00'},
    {'advertId': 22954264, 'changeTime': '2025-02-27T14:07:05.665419+03:00'},
    {'advertId': 22954296, 'changeTime': '2025-03-03T15:50:53.961242+03:00'},
    {'advertId': 23400841, 'changeTime': '2025-03-03T13:12:41.944345+03:00'}]},
  {'type': 9,
   'status': 9,
   'count': 5,
   'advert_list': [{'advertId': 22950405,
     'changeTime': '2025-03-03T12:03:56.844328+03:00'},
    {'advertId': 22950831, 'changeTime': '2025-03-03T12:28:57.920554+03:00'},
    {'advertId': 22951156, 'changeTime': '2025-03-03T15:35:29.753881+03:00'},
    {'advertId': 22951268, 'changeTime': '2025-02-07T16:45:41.628974+03:00'},
    {'advertId': 22954069,
     'changeTime': '2025-02-07T16:05:53.370485+03:00'}]}],
 'all': 38}

In [4]:
# Flatten the JSON data
df_guten = pd.json_normalize(
    data_guten['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_giper = pd.json_normalize(
    data_giper['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_kitchen = pd.json_normalize(
    data_kitchen['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_smart = pd.json_normalize(
    data_smart['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)

# Convert 'changeTime' to datetime format
df_guten['changeTime'] = pd.to_datetime(df_guten['changeTime'])
df_giper['changeTime'] = pd.to_datetime(df_giper['changeTime'])
df_kitchen['changeTime'] = pd.to_datetime(df_kitchen['changeTime'])
df_smart['changeTime'] = pd.to_datetime(df_smart['changeTime'])

# Filter rows where the year of 'changeTime' is 2024 or later
#df_guten = df_guten[df_guten['changeTime'].dt.year >= 2024]
#df_giper = df_giper[df_giper['changeTime'].dt.year >= 2024]
#df_kitchen = df_kitchen[df_kitchen['changeTime'].dt.year >= 2024]
#df_smart = df_smart[df_smart['changeTime'].dt.year >= 2024]

# Reset the index and drop the old index
df_guten = df_guten.reset_index(drop=True)
df_giper = df_giper.reset_index(drop=True)
df_kitchen = df_kitchen.reset_index(drop=True)
df_smart = df_smart.reset_index(drop=True)

# Display the updated DataFrame
#df_guten
#df_giper
#df_kitchen

In [ ]:
#unique_change_times = df_guten['advertId'].nunique()
#print(unique_change_times)

417

### Информация о кампаниях

Link: https://dev.wildberries.ru/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1adverts/post

In [20]:
# Create chunks of 50 campaign IDs each
chunk_size = 50
campaign_chunks_guten = [df_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_guten), chunk_size)]
campaign_chunks_giper = [df_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_giper), chunk_size)]
campaign_chunks_kitchen = [df_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_kitchen), chunk_size)]
campaign_chunks_smart = [df_smart['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_smart), chunk_size)]

# Print the list of all chunks
print("Campaign Chunks for WB-GutenTech:", campaign_chunks_guten)
print("Campaign Chunks for WB-ГиперМаркет:", campaign_chunks_giper)
print("Campaign Chunks for WB-KitchenAid:", campaign_chunks_kitchen)
print("Campaign Chunks for WB-Smart-Market:", campaign_chunks_smart)

# Define the API endpoint
url = "https://advert-api.wildberries.ru/adv/v1/promotion/adverts"

# Define the query parameters
query_params = {
    "order": "create",  # Order by the "change" field
    "direction":"desc"
}


# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, project_name):
    all_campaign_data = []
    for idx, chunk in enumerate(chunks):
        response = requests.post(url, params=query_params, json=chunk, headers=headers)
        if response.status_code == 200:
            data = response.json()
            all_campaign_data.extend(data)
            print(f"Data retrieved successfully for {project_name} chunk {idx + 1}")
        else:
            print(f"Error for {project_name} chunk {idx + 1}: {response.status_code}, {response.text}")
        time.sleep(1)  # Add a delay to avoid hitting API rate limits
    return all_campaign_data

# Fetch campaign data for each project
all_campaign_data_guten = fetch_campaign_data(campaign_chunks_guten, headers_guten, 'WB-GutenTech')
all_campaign_data_giper = fetch_campaign_data(campaign_chunks_giper, headers_giper, 'WB-ГиперМаркет')
all_campaign_data_kitchen = fetch_campaign_data(campaign_chunks_kitchen, headers_kitchen, 'WB-KitchenAid')
all_campaign_data_smart = fetch_campaign_data(campaign_chunks_smart, headers_smart, 'WB-Smart-Market')

# Create DataFrames from the campaign data
campaigns_guten = pd.DataFrame(all_campaign_data_guten)
campaigns_giper = pd.DataFrame(all_campaign_data_giper)
campaigns_kitchen = pd.DataFrame(all_campaign_data_kitchen)
campaigns_smart = pd.DataFrame(all_campaign_data_smart)

# Sort each DataFrame by 'createTime' in descending order
campaigns_guten = campaigns_guten.sort_values(by='createTime', ascending=False)
campaigns_giper = campaigns_giper.sort_values(by='createTime', ascending=False)
campaigns_kitchen = campaigns_kitchen.sort_values(by='createTime', ascending=False)
campaigns_smart = campaigns_smart.sort_values(by='createTime', ascending=False)

campaigns_guten['Project'] = 'WB-GutenTech'
campaigns_giper['Project'] = 'WB-ГиперМаркет'
campaigns_kitchen['Project'] = 'WB-KitchenAid'
campaigns_smart['Project'] = 'WB-Smart-Market'

# Concatenate the DataFrames
combined_campaigns = pd.concat([campaigns_guten, campaigns_giper, campaigns_kitchen,campaigns_smart], ignore_index=True)

combined_campaigns['Marketplace'] = 'Wildberries'

print("Combined Campaign Data")
#campaigns_kitchen

Campaign Chunks for WB-GutenTech: [[8618594, 8743328, 202712, 202715, 208728, 208747, 210342, 210359, 211735, 225297, 1179227, 1200852, 1200937, 1200959, 6626593, 7265038, 7265181, 7265295, 8779899, 9904395, 9905249, 9905504, 9909092, 9909567, 9913921, 9915496, 10012174, 7202847, 18870701, 20397145, 20397161, 20954456, 20955117, 21041143, 21041194, 21041248, 21041312, 21041387, 21577733, 21577749, 21578389, 21624850, 21698516, 22192773, 23408417, 7202878, 7783591, 7783632, 7783708, 7783759], [7784050, 16530753, 18447862, 18870595, 18870619, 18870853, 19297608, 19297685, 20124734, 20139198, 20487381, 21202453, 21203996, 21212396, 21497699, 21497844, 21498159, 21498270, 21554091, 21554118, 21577713, 21624823, 21821064, 21821164, 21821199, 21883272, 21883285, 21965489, 22255122, 22846446, 22846516, 22846531, 23230882, 23231292, 11296551, 12465028, 16144421, 20039743, 20955301, 20955474, 20955667, 20955944, 20956444, 21350648, 21351310, 21351587, 21385572, 21386314, 21820825, 22123202], [213920, 213946, 213954, 225156, 232543, 232547, 238682, 244654, 244667, 354788, 354832, 354853, 535702, 535721, 535733, 535812, 535864, 535918, 535940, 535963, 535994, 536002, 536018, 536060, 536362, 536369, 536385, 536415, 536427, 536485, 536514, 536537, 536549, 536568, 536610, 536617, 536631, 536646, 536659, 788466, 788472, 788580, 788586, 788636, 788641, 789178, 789191, 953420, 953764, 953774], [958835, 960520, 960525, 960529, 960544, 960551, 960611, 960618, 960621, 960624, 960626, 960675, 960682, 960689, 960693, 960701, 1005700, 1320657, 1320668, 1320684, 2594125, 2594226, 2594682, 2594752, 2595105, 2595113, 2851221, 2851300, 2851888, 2852058, 3467203, 3474308, 3474441, 3476519, 3476542, 3476739, 3476757, 3476880, 3476891, 3477028, 4558192, 4981861, 5001772, 5146248, 5146392, 5149382, 6626942, 6923910, 6923977, 7202606], [7202975, 7203114, 7339607, 7339693, 7339737, 7339839, 7339928, 7339962, 7340006, 7340088, 7414147, 8779205, 8779248, 8779408, 10012105, 11296434, 11296504, 11296700, 21639902, 22165389, 22255058, 7202795, 8004530, 8743562, 9496209, 9496385, 9591336, 11296204, 11296333, 16255090, 16301721, 16301819, 16912359, 16912972, 16913380, 16913696, 16913774, 16914258, 16917733, 16917791, 16918232, 16918415, 16919369, 16920802, 16923161, 16923906, 16923933, 16924292, 17266442, 17563748], [17563873, 17563938, 17687135, 17687241, 17687293, 17687357, 17688586, 17688635, 18640342, 18870731, 18870828, 19262099, 19263710, 19263824, 19265149, 19265205, 19626785, 19662812, 19904919, 19994021, 20039654, 20139599, 20175678, 20334946, 20354793, 20397195, 21040251, 21040485, 21040635, 21040756, 21040856, 21040946, 21385613, 21386362, 21482495, 21482904, 21498202, 2851788, 5146621, 19276556, 19276694, 19276746, 21202745, 21203007, 21203075, 21203170, 21204098, 21204193, 21204224, 21204285], [21212715, 21965547, 462902, 462934, 462959, 462991, 463002, 463125, 463138, 463196, 463211, 463364, 480144, 480165, 480178, 480275, 480291, 480347, 480356, 480455, 480513, 480527, 480531, 480543, 480548, 610764, 610778, 610787, 610835, 610857, 610869, 622222, 622292, 622297, 622326, 622347, 622351, 622366, 622371, 622376, 622381, 622386, 622391, 622397, 622402, 622406, 622420, 622432, 622441, 622448], [622454, 788494, 788498, 788605, 788619, 788659, 788667, 789205, 789210, 953446, 953780, 953785, 958839, 964993, 964999, 965005, 965011, 965014, 965020, 1005723, 1320700, 1320709, 1320718, 1801052, 1801069, 1801426, 1801455, 1801541, 1801574, 1801644, 1801713, 1802589, 1802611, 2594357, 2594580, 2594976, 2595030, 2612852, 2614375, 2852177, 3467141, 3474261, 3474599, 3476612, 3476872, 4558112, 4981827, 5307465, 6626496, 6844544], [6844902, 6923850, 7202673, 7202997, 7203154, 8079038, 8280820, 8331245, 8331432, 8331933, 8618683, 8838251, 9714386, 9881453, 9881557, 9905391, 10012032]]
Campaign Chunks for WB-ГиперМаркет: [[21526230, 21526302, 21526519, 22844090, 22844983, 22845720, 22845877, 22845971, 22902062, 22902096, 22931639, 22931827, 22950186, 22954264, 22954296, 23400841, 21526558, 22844037, 22844946, 23402220, 22844853, 22844893, 22950974, 22951078, 22951454, 17741906, 17748698, 17749089, 17749228, 17749561, 23227483, 23299304, 22950405, 22950831, 22951156, 22951268, 22954069, 22954217]]
Campaign Chunks for WB-KitchenAid: [[3758131, 3758224, 21006669, 21008249, 21008536]]
Campaign Chunks for WB-Smart-Market: [[15562363, 19597465, 20822524, 15562245, 15562321, 19564160, 19564344, 15562282, 15562382, 20822563, 21693077, 21693448, 23236144, 23236221, 23236382]]
Data retrieved successfully for WB-GutenTech chunk 1
Data retrieved successfully for WB-GutenTech chunk 2
Data retrieved successfully for WB-GutenTech chunk 3
Data retrieved successfully for WB-GutenTech chunk 4
Data retrieved successfully for WB-GutenTech chunk 5
Data retrieved successfully for WB-GutenTech chunk 6
Data retrieved successfully for WB-GutenTech chunk 7
Data retrieved successfully for WB-GutenTech chunk 8
Data retrieved successfully for WB-GutenTech chunk 9
Data retrieved successfully for WB-ГиперМаркет chunk 1
Data retrieved successfully for WB-KitchenAid chunk 1
Data retrieved successfully for WB-Smart-Market chunk 1
Combined Campaign Data

In [22]:
# Keep only the desired columns
columns_to_keep = ["endTime", "createTime", "startTime","name", "advertId", "status", "type","Project","Marketplace"]
# Ensure filtered_df is a copy of the slice, not a view
filtered_df = combined_campaigns[columns_to_keep].copy()
filtered_df['endTime'] = pd.to_datetime(filtered_df['endTime'], format='mixed').dt.date
filtered_df['createTime'] = pd.to_datetime(filtered_df['createTime'], format='mixed').dt.date
filtered_df['startTime'] = pd.to_datetime(filtered_df['startTime'], format='mixed').dt.date

# Mapping dictionaries for 'status' and 'type'
status_mapping = {
    -1: "Кампания в процессе удаления",
    4: "Готова к запуску",
    7: "Кампания завершена",
    8: "Отказался",
    9: "Идут показы",
    11: "Кампания на паузе"
}

type_mapping = {
    4: "Кампания в каталоге (устаревший тип)",
    5: "Кампания в карточке товара (устаревший тип)",
    6: "Кампания в поиске (устаревший тип)",
    7: "Кампания в рекомендациях на главной странице (устаревший тип)",
    8: "Автоматическая кампания",
    9: "Аукцион"
}

# Replace numeric values with their string descriptions
filtered_df['status'] = filtered_df['status'].replace(status_mapping)
filtered_df['type'] = filtered_df['type'].replace(type_mapping)

# Display the updated DataFrame
filtered_df

,endTime,createTime,startTime,name,advertId,status,type,Project,Marketplace
0,2100-01-01,2025-02-19,2025-02-19,Mr Proper_19.02.2025,23408417,Кампания на паузе,Автоматическая кампания,WB-GutenTech,Wildberries
1,2100-01-01,2025-02-12,2025-03-10,Venus_12.02.2025,23231292,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
2,2100-01-01,2025-02-12,2025-03-10,Always_12.02.2025,23230882,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
3,2100-01-01,2025-01-27,2025-01-27,AND_Тонометры на запястье_27.01.2025,22846531,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
4,2100-01-01,2025-01-27,2025-03-12,AND_Тонометры авто_27.01.2025,22846516,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...
470,2024-06-23,2024-03-21,2024-04-18,Насадки Oral-B Автореклама,15562382,Кампания завершена,Автоматическая кампания,WB-Smart-Market,Wildberries
471,2100-01-01,2024-03-21,2025-02-20,Braun_Электробритвы_22.10.2024,15562363,Идут показы,Автоматическая кампания,WB-Smart-Market,Wildberries
472,2024-10-11,2024-03-21,2024-07-02,Электрические зубные щетки Oral-B Поиск + Каталог,15562321,Кампания завершена,Аукцион,WB-Smart-Market,Wildberries
473,2024-10-15,2024-03-21,2024-08-27,Эпиляторы Braun_7 SKU_27.08.2024,15562282,Кампания завершена,Автоматическая кампания,WB-Smart-Market,Wildberries
474,2024-06-24,2024-03-21,2024-04-18,Триммеры Braun Поиск + Каталог,15562245,Кампания завершена,Аукцион,WB-Smart-Market,Wildberries

## Статистика кампаний

Link: https://dev.wildberries.ru/openapi/analytics#tag/Statistika-po-prodvizheniyu/paths/~1adv~1v2~1fullstats/post

Данные вернутся для кампаний в статусах:

* 7 — завершена
* 9 — идут показы
* 11 — пауза из-за расхода бюджета

Response Schema: 

* dates	/ Array of strings <date> [ items <date > ]/ Даты, за которые необходимо выдать информацию.
* views	/ integer/ Количество просмотров./ За все дни, по всем артикулам WB и платформам.
* clicks	/ integer/ Количество кликов./ За все дни, по всем артикулам WB и платформам.
* ctr	/ number/ Показатель кликабельности./ Отношение числа кликов к количеству показов. Выражается в процентах./ За все дни, по всем артикулам WB и платформам.
* cpc	/ number/ Средняя стоимость клика, ₽./ За все дни, по всем артикулам WB и платформам.
* sum	/ number/ Затраты, ₽./ За все дни, по всем артикулам WB и платформам.
* atbs	/ integer/ Количество добавлений товаров в корзину./ За все дни, по всем артикулам WB и платформам.
* orders	/ integer/ Количество заказов./ За все дни, по всем артикулам WB и платформам.
* cr	/ integer/ CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании./ За все дни, по всем артикулам WB и платформам.
* shks	/ integer/ Количество заказанных товаров, шт./ За все дни, по всем артикулам WB и платформам.
* sum_price	/ number/ Заказов на сумму, ₽/ За все дни, по всем артикулам WB и платформам.
* days	/ Array of objects (Days)/ Статистка по дням
    Array 
    * date	/ string <date-time>/ Дата, за которую представлены данные/ 
    * views	/ integer/ Количество просмотров/ 
    * clicks	/ integer/ Количество кликов/ 
    * ctr	/ number/ Показатель кликабельности, отношение числа кликов к количеству показов, %/ 
    * cpc	/ number/ Средняя стоимость клика, ₽./ 
    * sum	/ number/ Затраты, ₽./ 
    * atbs	/ integer/ Количество добавлений товаров в корзину/ 
    * orders	/ integer/ Количество заказов/ 
    * cr	/ integer/ CR(conversion rate) — отношение количества заказов к общему количеству посещений кампании/ 
    * shks	/ integer/ Количество заказанных товаров, шт./ 
    * sum_price	/ number/ Заказов на сумму, ₽/ 
    * apps	/ Array of objects/ Блок информации о платформе
    Array 
        - views	/ integer/ Количество просмотров/ 
        - clicks	/ integer/ Количество кликов/ 
        - ctr	/ number/ Показатель кликабельности, отношение числа кликов к количеству показов, %/ 
        - cpc	/ number/ Средняя стоимость клика, ₽./ 
        - sum	/ number/ Затраты, ₽./ 
        - atbs	/ integer/ Количество добавлений товаров в корзину/ 
        - orders	/ integer/ Количество заказов/ 
        - cr	/ integer/ CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании/ 
        - shks	/ integer/ Количество заказанных товаров, шт./ 
        - sum_price	/ number/ Заказов на сумму, ₽/ 
        - nm	/ Array of objects/ Блок статистики по артикулам WB/ 
        - appType	/ integer/ Тип платформы (1 - сайт, 32 - Android, 64 - IOS)
* boosterStats	/ Array of objects (BoosterStats)/ Статистика по средней позиции товара на страницах поисковой выдачи и каталога (для автоматических кампаний).
* advertId	/ integer/ ID кампании

In [94]:
# API endpoint
url = "https://advert-api.wildberries.ru/adv/v2/fullstats"

# Define the date interval
date_interval = {
    "begin": "2025-03-01",  # Replace with your start date
    "end": "2025-03-10"     # Replace with your end date
}

# Create chunks of 100 campaign IDs each
chunk_size = 100

### Guten

In [95]:
# Assume campaigns_guten DataFrame is already defined and contains 'advertId'
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_guten), chunk_size)]

# List to store all campaign data
all_campaign_data_guten = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data

# Fetch campaign data
all_campaign_data_guten = fetch_campaign_data(campaign_chunks, headers_guten, date_interval)
# Combine all campaign data into a DataFrame
campaign_guten_df = pd.json_normalize(all_campaign_data_guten)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_guten, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrieved successfully for chunk 1
Data retrieved successfully for chunk 2
Error for chunk 3: 400, {"error":"Invalid Params: there are no companies with correct intervals"}
Error for chunk 4: 400, {"error":"Invalid Params: there are no companies with correct intervals"}
Error for chunk 5: 400, {"error":"Invalid Params: there are no companies with correct intervals"}
Combined Campaign Data

### Giper

In [96]:
campaign_chunks = [campaigns_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_giper), chunk_size)]

# List to store all campaign data
all_campaign_data_giper = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data
# Fetch campaign data
all_campaign_data_giper = fetch_campaign_data(campaign_chunks, headers_giper, date_interval)

Data retrieved successfully for chunk 1

### Kitchen

In [97]:
chunk_size = 100
campaign_chunks = [campaigns_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_kitchen), chunk_size)]

# List to store all campaign data
all_campaign_data_kitchen = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data

# Fetch campaign data
all_campaign_data_kitchen = fetch_campaign_data(campaign_chunks, headers_kitchen, date_interval)

Data retrieved successfully for chunk 1

### Smart

In [98]:
campaign_chunks = [campaigns_smart['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_smart), chunk_size)]

# List to store all campaign data
all_campaign_data_smart = []

# Function to fetch campaign data
def fetch_campaign_data(chunks, headers, date_interval):
    all_data = []
    for idx, chunk in enumerate(chunks):
        # Construct the payload for the current chunk
        payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]

        # Send the POST request
        response = requests.post(url, headers=headers, json=payload)

        # Add a delay to avoid hitting API rate limits
        time.sleep(65)

        # Check the response status
        if response.status_code == 200:
            # Parse the JSON response
            data = response.json()
            all_data.extend(data)
            print(f"Data retrieved successfully for chunk {idx + 1}")
        else:
            print(f"Error for chunk {idx + 1}: {response.status_code}, {response.text}")
    return all_data

# Fetch campaign data
all_campaign_data_smart = fetch_campaign_data(campaign_chunks, headers_smart, date_interval)

Data retrieved successfully for chunk 1

In [99]:
campaign_guten_df

,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,days,boosterStats,advertId,interval.begin,interval.end
0,24108,628,2.60,8.54,5363.98,90,24,3.82,25,34179,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 266556...",21821164,2025-03-01,2025-03-10
1,30165,1910,6.33,3.47,6636.30,135,13,0.68,13,68782,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,19276694,2025-03-01,2025-03-10
2,9077,148,1.63,12.47,1845.64,4,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 320765...",21577713,2025-03-01,2025-03-10
3,10247,631,6.16,2.60,1639.52,61,9,1.43,9,43633,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21204098,2025-03-01,2025-03-10
4,17212,750,4.36,14.20,10648.44,52,5,0.67,5,16700,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 234921...",21883285,2025-03-01,2025-03-10
5,10394,465,4.47,5.03,2338.92,46,14,3.01,14,204746,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21204285,2025-03-01,2025-03-10
6,15521,278,1.79,11.17,3104.20,15,2,0.72,2,89349,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21203170,2025-03-01,2025-03-10
7,21,0,0.00,0.00,1.15,0,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,20954456,2025-03-01,2025-03-10
8,20081,369,1.84,6.67,2459.52,11,1,0.27,1,3225,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 260262...",18870853,2025-03-01,2025-03-10
9,4290,71,1.66,10.14,719.85,7,2,2.82,2,2212,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 327350...",23408417,2025-03-01,2025-03-10
10,33906,1037,3.06,3.08,3198.23,71,16,1.54,16,35087,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 137609...",21497844,2025-03-01,2025-03-10
11,37976,863,2.27,10.00,8632.65,64,10,1.16,10,83743,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21204193,2025-03-01,2025-03-10
12,1,0,0.00,0.00,0.13,0,0,0.00,0,0,"[{'date': '2025-03-07T03:00:00+03:00', 'views'...",NaN,21624850,2025-03-01,2025-03-10
13,17,1,5.88,1.36,1.36,0,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 263764...",20397161,2025-03-01,2025-03-10
14,1,0,0.00,0.00,0.03,0,0,0.00,0,0,"[{'date': '2025-03-02T03:00:00+03:00', 'views'...",NaN,21624823,2025-03-01,2025-03-10
15,60321,2005,3.32,6.75,13525.53,260,48,2.39,48,122731,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 171562...",21554118,2025-03-01,2025-03-10
16,1487,98,6.59,1.37,134.38,8,1,1.02,1,3992,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 181674...",20139198,2025-03-01,2025-03-10
17,27115,1102,4.06,2.04,2248.09,124,12,1.09,12,119023,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 244990...",21203996,2025-03-01,2025-03-10
18,15,1,6.67,0.65,0.65,0,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,20955117,2025-03-01,2025-03-10
19,13124,947,7.22,3.01,2850.10,72,9,0.95,9,60505,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,19276746,2025-03-01,2025-03-10
20,4,1,25.00,0.30,0.30,0,0,0.00,0,0,"[{'date': '2025-03-02T03:00:00+03:00', 'views'...",NaN,21041387,2025-03-01,2025-03-10
21,3288,79,2.40,19.34,1527.56,10,2,2.53,2,11543,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 268462...",21821199,2025-03-01,2025-03-10
22,48981,2171,4.43,1.63,3542.80,160,21,0.97,21,117722,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 252275...",19297608,2025-03-01,2025-03-10
23,37515,835,2.23,4.01,3349.22,102,30,3.59,30,19009,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 242951...",21497699,2025-03-01,2025-03-10
24,8,1,12.50,0.97,0.97,0,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-03T00:00:00Z', 'nm': 286529...",21577733,2025-03-01,2025-03-10
25,33300,1212,3.64,15.99,19385.33,110,14,1.16,14,44881,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 159121...",21883272,2025-03-01,2025-03-10
26,28773,1005,3.49,5.77,5802.70,81,22,2.19,22,242310,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21203007,2025-03-01,2025-03-10
27,48340,1631,3.37,23.41,38184.19,165,34,2.08,34,112909,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21965547,2025-03-01,2025-03-10
28,15792,619,3.92,2.22,1374.01,42,6,0.97,6,116089,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 147720...",21202453,2025-03-01,2025-03-10
29,6622,201,3.04,2.79,560.26,14,1,0.50,1,8156,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 233711...",21212396,2025-03-01,2025-03-10
30,104893,6034,5.75,3.13,18906.41,1121,351,5.82,351,844367,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 234921...",22846516,2025-03-01,2025-03-10
31,5,0,0.00,0.00,0.38,0,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21041194,2025-03-01,2025-03-10
32,8503,283,3.33,5.86,1657.17,3,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 161420...",20487381,2025-03-01,2025-03-10
33,37412,2632,7.04,2.27,5985.96,195,23,0.87,23,125559,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,19276556,2025-03-01,2025-03-10
34,37804,900,2.38,9.52,8564.76,79,15,1.67,15,178270,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21204224,2025-03-01,2025-03-10
35,61225,3058,4.99,7.04,21534.23,302,75,2.45,76,254460,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 159488...",21965489,2025-03-01,2025-03-10
36,80679,1816,2.25,5.58,10125.41,131,34,1.87,34,38925,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 200571...",23230882,2025-03-01,2025-03-10
37,5334,240,4.50,5.11,1226.82,13,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21212715,2025-03-01,2025-03-10
38,56199,3322,5.91,3.09,10254.87,566,155,4.67,155,382907,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 159121...",22846531,2025-03-01,2025-03-10
39,2,0,0.00,0.00,0.40,0,0,0.00,0,0,"[{'date': '2025-03-07T03:00:00+03:00', 'views'...",NaN,21578389,2025-03-01,2025-03-10
40,12915,570,4.41,4.65,2647.81,55,10,1.75,10,66546,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21202745,2025-03-01,2025-03-10
41,47073,1561,3.32,4.81,7514.52,230,58,3.72,58,68884,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 159121...",22846446,2025-03-01,2025-03-10
42,9625,363,3.77,3.28,1192.06,17,3,0.83,3,6615,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 181893...",21498270,2025-03-01,2025-03-10
43,96167,313,0.33,82.21,25731.41,15,1,0.32,1,10782,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 303419...",22255122,2025-03-01,2025-03-10
44,82671,2453,2.97,4.83,11836.21,293,55,2.24,55,79035,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 145759...",23231292,2025-03-01,2025-03-10
45,21637,739,3.42,7.96,5884.79,79,27,3.65,27,176385,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 266534...",21821064,2025-03-01,2025-03-10
46,42806,1312,3.06,15.38,20175.37,149,24,1.83,24,84781,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 171562...",21554091,2025-03-01,2025-03-10
47,8799,167,1.90,7.90,1318.77,15,3,1.80,3,55527,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,21203075,2025-03-01,2025-03-10
48,49535,2661,5.37,1.42,3774.66,181,24,0.90,24,129387,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 286300...",19297685,2025-03-01,2025-03-10
49,10229,290,2.84,6.34,1837.56,10,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 208814...",20124734,2025-03-01,2025-03-10
50,69487,1678,2.41,5.40,9063.39,146,35,2.09,35,62542,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 137609...",21498159,2025-03-01,2025-03-10
51,4,1,25.00,0.26,0.26,0,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...",NaN,20397145,2025-03-01,2025-03-10
52,11478,190,1.66,9.20,1747.42,3,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 259624...",18870701,2025-03-01,2025-03-10
53,4591,174,3.79,3.76,654.05,8,0,0.00,0,0,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 203510...",18447862,2025-03-01,2025-03-10
54,34481,3085,8.95,1.68,5191.50,438,194,6.29,204,116722,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 224944...",16530753,2025-03-01,2025-03-10
55,24977,809,3.24,5.13,4146.24,64,19,2.35,19,81907,"[{'date': '2025-03-01T03:00:00+03:00', 'views'...","[{'date': '2025-03-01T00:00:00Z', 'nm': 209076...",18870619,2025-03-01,2025-03-10
56,17872,442,2.47,6.56,2900.25,21,5,1.13,5,49814,"[{'date': '2025-03-04T03:00:00+03:00', 'views'...","[{'date': '2025-03-04T00:00:00Z', 'nm': 238069...",18870595,2025-03-01,2025-03-10

In [100]:
print(campaign_guten_df["advertId"].nunique())

#unique_change_times = df_guten['advertId'].nunique()
#print(unique_change_times)

57

In [101]:
# Flatten the JSON data
flattened_data_guten = []
flattened_data_giper = []
flattened_data_kitchen = []
flattened_data_smart = []


for entry in all_campaign_data_guten:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_guten.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                
for entry in all_campaign_data_giper:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_giper.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })

for entry in all_campaign_data_kitchen:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_kitchen.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                
for entry in all_campaign_data_smart:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_smart.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                

# Create a DataFrame
df_guten = pd.DataFrame(flattened_data_guten)
df_giper = pd.DataFrame(flattened_data_giper)
df_kitchen = pd.DataFrame(flattened_data_kitchen)
df_smart = pd.DataFrame(flattened_data_smart)
# Convert the 'date' column to datetime
df_guten["date"] = pd.to_datetime(df_guten["date"])
df_giper["date"] = pd.to_datetime(df_giper["date"])
df_kitchen["date"] = pd.to_datetime(df_kitchen["date"])
df_smart["date"] = pd.to_datetime(df_smart["date"])
# Remove timezone information (make it timezone-naive)
df_guten["date"] = df_guten["date"].dt.tz_localize(None)
df_giper["date"] = df_giper["date"].dt.tz_localize(None)
df_kitchen["date"] = df_kitchen["date"].dt.tz_localize(None)
df_smart["date"] = df_smart["date"].dt.tz_localize(None)

# Display the DataFrame
df_guten

,date,nmId,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId
0,2025-03-01 03:00:00,266556137,Насадки для зубных щеток Ultra Gum Care UG01,10,0,0.00,0.00,2.42,0,0,0.00,0,0,21821164
1,2025-03-01 03:00:00,266556142,Насадки для зубных щеток Professional Clean P1...,9,0,0.00,0.00,1.82,0,0,0.00,0,0,21821164
2,2025-03-01 03:00:00,266556138,Насадки для зубных щеток Ultra Clean UС02,13,0,0.00,0.00,3.25,0,0,0.00,0,0,21821164
3,2025-03-01 03:00:00,266556144,Насадки для зубных щеток Professional Clean P1...,15,0,0.00,0.00,2.72,0,0,0.00,0,0,21821164
4,2025-03-01 03:00:00,266556139,Насадки для зубных щеток Ultra White UW02,10,1,10.00,2.27,2.27,0,0,0.00,0,0,21821164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7156,2025-03-10 03:00:00,52441643,Вакууматор для продуктов с запайкой VR 190,56,1,1.79,9.26,9.26,0,0,0.00,0,0,18870595
7157,2025-03-10 03:00:00,52418766,Вакууматор для продуктов с запайкой Gourmet VA...,68,2,2.94,5.68,11.35,0,0,0.00,0,0,18870595
7158,2025-03-10 03:00:00,52469734,Вакууматор для продуктов с пакетами Vacu OneTouch,58,4,6.90,2.45,9.81,0,0,0.00,0,0,18870595
7159,2025-03-10 03:00:00,52465014,Вакууматор для продуктов Vacu OneTouch Eco-Set,45,6,13.33,1.22,7.31,0,0,0.00,0,0,18870595
7160,2025-03-10 03:00:00,43098334,Вакууматор для продуктов с запайкой HC 170,67,3,4.48,3.65,10.95,0,1,33.33,1,9976,18870595

In [102]:
# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_guten = (
    df_guten.groupby([df_guten["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_giper = (
    df_giper.groupby([df_giper["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_kitchen = (
    df_kitchen.groupby([df_kitchen["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_smart = (
    df_smart.groupby([df_smart["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)


# Rename the 'date' column to 'day' for clarity
df_grouped_guten.rename(columns={"date": "day"}, inplace=True)
df_grouped_giper.rename(columns={"date": "day"}, inplace=True)
df_grouped_kitchen.rename(columns={"date": "day"}, inplace=True)
df_grouped_smart.rename(columns={"date": "day"}, inplace=True)

df_grouped_guten['Project'] = 'WB-GutenTech'
df_grouped_giper['Project'] = 'WB-ГиперМаркет'
df_grouped_kitchen['Project'] = 'WB-KitchenAid'
df_grouped_smart['Project'] = 'WB-Smart-Market'

# Concatenate the DataFrames
df_grouped_combined_campaigns = pd.concat([df_grouped_guten, df_grouped_giper, df_grouped_kitchen, df_grouped_smart], ignore_index=True)
df_grouped_combined_campaigns['Marketplace'] = 'Wildberries'

# Display the grouped DataFrame
df_grouped_combined_campaigns

,nmId,day,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId,Project,Marketplace
0,25623718,2025-03-01 03:00:00,Бритва мужская электрическая S3 300BT с триммером,411,18,2.815000,3.305000,78.32,2,0,0.000000,0,0,21202453,WB-GutenTech,Wildberries
1,25624340,2025-03-01 03:00:00,Электробритва Series 3 300s,444,20,4.395000,3.873333,79.94,1,0,0.000000,0,0,21202453,WB-GutenTech,Wildberries
2,25628178,2025-03-01 03:00:00,Бритва мужская электрическая S3 300s,474,17,2.786667,3.190000,83.18,0,0,0.000000,0,0,21202453,WB-GutenTech,Wildberries
3,25725047,2025-03-01 03:00:00,Триммер для бороды и усов BT3222,2,0,0.000000,0.000000,0.10,0,0,0.000000,0,0,21212396,WB-GutenTech,Wildberries
4,25962484,2025-03-01 03:00:00,Кухонные весы Kitchen Energy,1104,17,1.160000,16.356667,170.52,0,0,0.000000,0,0,18870701,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4228,288465481,2025-03-10 03:00:00,Набор Gillette Venus с чехлом для бритвы,1427,93,5.273333,4.076667,208.60,2,1,0.926667,1,1115,23236382,WB-Smart-Market,Wildberries
4229,288465487,2025-03-10 03:00:00,Набор Series Пена для бритья 200мл + Мочалка,1,0,0.000000,0.000000,0.06,0,0,0.000000,0,0,23236144,WB-Smart-Market,Wildberries
4230,313543155,2025-03-10 03:00:00,,1272,18,1.270000,15.510000,164.92,3,2,5.556667,2,6906,23236221,WB-Smart-Market,Wildberries
4231,313543156,2025-03-10 03:00:00,,1542,22,1.120000,17.813333,203.51,4,1,8.333333,1,3664,23236221,WB-Smart-Market,Wildberries
4232,313543513,2025-03-10 03:00:00,,848,16,1.776667,3.456667,112.14,1,2,9.696667,2,5768,23236221,WB-Smart-Market,Wildberries

In [103]:
# Merge the grouped DataFrame with the filtered_df to add additional columns
df_final = df_grouped_combined_campaigns.merge(
    filtered_df[["advertId", "endTime", "createTime", "startTime","name", "status", "type"]],
    on="advertId",
    how="left"
)

# Drop the columns 'ctr', 'cpc', and 'cr'
df_final = df_final.drop(columns=["ctr", "cpc", "cr"])

# Rename the columns 'name_x' and 'name_y'
df_final.rename(
    columns={
        "name_x": "name_product",  # Rename 'name_x' to 'name_product'
        "name_y": "name_campaign"  # Rename 'name_y' to 'name_campaign'
    },
    inplace=True
)

# Display the final DataFrame
df_final

,nmId,day,name_product,views,clicks,sum,atbs,orders,shks,sum_price,advertId,Project,Marketplace,endTime,createTime,startTime,name_campaign,status,type
0,25623718,2025-03-01 03:00:00,Бритва мужская электрическая S3 300BT с триммером,411,18,78.32,2,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
1,25624340,2025-03-01 03:00:00,Электробритва Series 3 300s,444,20,79.94,1,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
2,25628178,2025-03-01 03:00:00,Бритва мужская электрическая S3 300s,474,17,83.18,0,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
3,25725047,2025-03-01 03:00:00,Триммер для бороды и усов BT3222,2,0,0.10,0,0,0,0,21212396,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Триммеры_07.11.2024,Идут показы,Автоматическая кампания
4,25962484,2025-03-01 03:00:00,Кухонные весы Kitchen Energy,1104,17,170.52,0,0,0,0,18870701,WB-GutenTech,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Весы кух_2 SKU_25.07.24,Кампания на паузе,Автоматическая кампания
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4228,288465481,2025-03-10 03:00:00,Набор Gillette Venus с чехлом для бритвы,1427,93,208.60,2,1,1,1115,23236382,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-03-05,VENUS_Наборы_12.02.2025,Кампания на паузе,Автоматическая кампания
4229,288465487,2025-03-10 03:00:00,Набор Series Пена для бритья 200мл + Мочалка,1,0,0.06,0,0,0,0,23236144,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-02-24,Gillette_Бритвы + наборы_12.02.2025,Кампания на паузе,Автоматическая кампания
4230,313543155,2025-03-10 03:00:00,,1272,18,164.92,3,2,2,6906,23236221,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-02-21,Gillette_Кассеты_12.02.2025,Кампания на паузе,Автоматическая кампания
4231,313543156,2025-03-10 03:00:00,,1542,22,203.51,4,1,1,3664,23236221,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-02-21,Gillette_Кассеты_12.02.2025,Кампания на паузе,Автоматическая кампания
4232,313543513,2025-03-10 03:00:00,,848,16,112.14,1,2,2,5768,23236221,WB-Smart-Market,Wildberries,2100-01-01,2025-02-12,2025-02-21,Gillette_Кассеты_12.02.2025,Кампания на паузе,Автоматическая кампания

In [104]:
unique = df_final['advertId'].nunique()
unique

86

In [105]:
df_final_guten_feb = df_final[df_final['Project'] == 'WB-GutenTech']
df_final_guten_feb

,nmId,day,name_product,views,clicks,sum,atbs,orders,shks,sum_price,advertId,Project,Marketplace,endTime,createTime,startTime,name_campaign,status,type
0,25623718,2025-03-01 03:00:00,Бритва мужская электрическая S3 300BT с триммером,411,18,78.32,2,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
1,25624340,2025-03-01 03:00:00,Электробритва Series 3 300s,444,20,79.94,1,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
2,25628178,2025-03-01 03:00:00,Бритва мужская электрическая S3 300s,474,17,83.18,0,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
3,25725047,2025-03-01 03:00:00,Триммер для бороды и усов BT3222,2,0,0.10,0,0,0,0,21212396,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Триммеры_07.11.2024,Идут показы,Автоматическая кампания
4,25962484,2025-03-01 03:00:00,Кухонные весы Kitchen Energy,1104,17,170.52,0,0,0,0,18870701,WB-GutenTech,Wildberries,2100-01-01,2024-07-25,2025-01-09,CASO_Весы кух_2 SKU_25.07.24,Кампания на паузе,Автоматическая кампания
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072,320765243,2025-03-10 03:00:00,,584,26,89.67,1,0,0,0,19276556,WB-GutenTech,Wildberries,2100-01-01,2024-08-13,2024-12-11,ELIKOR_Вытяжки 60 см_3 SKU_13.08.2024,Идут показы,Аукцион
2073,320765246,2025-03-10 03:00:00,,489,8,77.49,0,0,0,0,19276556,WB-GutenTech,Wildberries,2100-01-01,2024-08-13,2024-12-11,ELIKOR_Вытяжки 60 см_3 SKU_13.08.2024,Идут показы,Аукцион
2074,320765247,2025-03-10 03:00:00,,188,6,30.81,0,0,0,0,19276746,WB-GutenTech,Wildberries,2100-01-01,2024-08-13,2024-11-12,ELIKOR_Вытяжки 45 см_2 SKU_13.08.2024,Идут показы,Аукцион
2075,320765248,2025-03-10 03:00:00,,339,6,53.38,0,0,0,0,21577713,WB-GutenTech,Wildberries,2100-01-01,2024-11-22,2025-01-21,ELIKOR_Врезные блоки_22.11.2024,Идут показы,Автоматическая кампания
2076,327350559,2025-03-10 03:00:00,,1,0,0.07,0,0,0,0,23408417,WB-GutenTech,Wildberries,2100-01-01,2025-02-19,2025-02-19,Mr Proper_19.02.2025,Кампания на паузе,Автоматическая кампания

## Insert the data

In [106]:
password = os.getenv('ClickHouse')

In [108]:
# Define connection parameters
client = get_client(
    host='rc1a-vk5i3icccvmfk6cm.mdb.yandexcloud.net',  # Your Yandex Cloud ClickHouse host
    port=8443,                                          # Yandex Cloud uses port 8443 for HTTPS
    username='user1',                                      # Your ClickHouse username
    password= password,                           # Your ClickHouse password
    database='user1',                            # Your database name
    secure=True,                                        # Use HTTPS
    verify=False                                        # Disable SSL certificate verification 
    # Define the data to insert
)

In [109]:
# Define the table name
table_name = 'campaign_data_wb'

# Convert DataFrame to a list of tuples for bulk insertion
data = [tuple(row) for row in df_final.to_numpy()]

# Define the column names
column_names = [
    'nmId', 'day', 'name_product', 'views', 'clicks', 'sum', 'atbs', 'orders', 'shks', 'sum_price',
    'advertId', 'Project', 'Marketplace', 'endTime', 'createTime', "startTime", 'name_campaign', 'status', 'type'
]

# Use the insert method for bulk insertion
client.insert(table_name, data, column_names=column_names)

print("Data inserted successfully!")

Data inserted successfully!