In [71]:
import requests
import json
import pandas as pd
from datetime import date
import openpyxl
from clickhouse_connect import get_client
from datetime import datetime, timedelta
from dotenv import load_dotenv
import os
import time

load_dotenv()

True

In [72]:
KeyGuten = os.getenv('KeyGuten')
KeyGiper = os.getenv('KeyGiper')
KeyKitchen = os.getenv('KeyKitchen')

In [78]:


# API endpoint
url = 'https://advert-api.wildberries.ru/adv/v1/promotion/count'

# Headers including the API key for authentication
headers_guten = {
    'Authorization': KeyGuten,
    'Accept': 'application/json'
}

headers_giper = {
    'Authorization': KeyGiper,
    'Accept': 'application/json'
}

headers_kitchen = {
    'Authorization': KeyKitchen,
    'Accept': 'application/json'
}

# Make the GET request
response_guten = requests.get(url, headers=headers_guten)
response_giper = requests.get(url, headers=headers_giper)
response_kitchen = requests.get(url, headers=headers_kitchen)

# Check if the request was successful
if response_guten.status_code == 200 and response_giper.status_code == 200 and response_kitchen.status_code == 200:
    # Parse the JSON response
    data_guten = response_guten.json()
    data_giper = response_giper.json()
    data_kitchen = response_kitchen.json()
    print("Data retrieved successfully")
else:
    print(f"Failed to retrieve data. Status code: {response_guten.status_code,response_giper.status_code,response_giper.status_code }")
    print(f"Response: {response_guten.text, response_giper.text,response_giper.text }")

Data retrieved successfully

In [79]:
# Flatten the JSON data
df_guten = pd.json_normalize(
    data_guten['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_giper = pd.json_normalize(
    data_giper['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)
df_kitchen = pd.json_normalize(
    data_kitchen['adverts'],
    record_path='advert_list', 
    meta=['type', 'status', 'count']
)


# Convert 'changeTime' to datetime format
df_guten['changeTime'] = pd.to_datetime(df_guten['changeTime'])
df_giper['changeTime'] = pd.to_datetime(df_giper['changeTime'])
df_kitchen['changeTime'] = pd.to_datetime(df_kitchen['changeTime'])

# Filter rows where the year of 'changeTime' is 2024 or later
df_guten = df_guten[df_guten['changeTime'].dt.year >= 2024]
df_giper = df_giper[df_giper['changeTime'].dt.year >= 2024]
df_kitchen = df_kitchen[df_kitchen['changeTime'].dt.year >= 2024]

# Reset the index and drop the old index
df_guten = df_guten.reset_index(drop=True)
df_giper = df_giper.reset_index(drop=True)
df_kitchen = df_kitchen.reset_index(drop=True)

# Display the updated DataFrame
#df_guten
#df_giper
#df_kitchen

In [263]:
filename = "Promotion.xlsx"
df.to_excel(filename, index=False)

ValueError: Excel does not support datetimes with timezones. Please ensure that datetimes are timezone unaware before writing to Excel.

In [7]:
unique_change_times = df['changeTime'].unique()
print(unique_change_times)

['2025-02-25T09:56:44.373405+03:00' '2025-02-25T09:56:36.977327+03:00'
 '2025-02-10T15:50:50.654674+03:00' '2025-02-10T15:50:46.711076+03:00'
 '2024-12-28T14:56:51.438476+03:00' '2025-02-10T15:50:45.190525+03:00'
 '2025-02-06T14:45:40.972398+03:00' '2024-12-28T14:59:03.412003+03:00'
 '2025-02-10T15:50:43.275656+03:00' '2025-02-25T10:07:05.519407+03:00'
 '2025-01-06T19:56:55.030411+03:00' '2025-01-31T16:14:36.03518+03:00'
 '2025-02-26T15:24:26.898332+03:00' '2025-01-24T17:28:07.565413+03:00'
 '2025-01-24T17:27:45.032317+03:00' '2025-03-03T10:51:20.471041+03:00'
 '2023-06-09T17:13:45.296789+03:00' '2023-07-17T17:56:44.162491+03:00'
 '2023-09-11T19:47:52.142401+03:00' '2023-09-13T19:02:34.535107+03:00'
 '2023-09-11T17:14:54.50553+03:00' '2023-09-13T14:53:09.428335+03:00'
 '2023-12-11T23:45:14.286592+03:00' '2023-12-11T22:31:06.941346+03:00'
 '2024-07-15T12:16:26.499587+03:00' '2024-04-11T10:53:48.400039+03:00'
 '2024-05-13T10:13:17.846636+03:00' '2024-05-20T16:18:30.678177+03:00'
 '2024-05-23T20:38:01.226478+03:00' '2024-07-08T14:26:18.965777+03:00'
 '2024-06-19T09:59:37.326169+03:00' '2024-05-20T15:55:10.014471+03:00'
 '2024-05-20T15:49:13.129988+03:00' '2024-05-20T15:46:35.836337+03:00'
 '2024-05-20T15:42:48.066424+03:00' '2024-05-16T17:34:55.460368+03:00'
 '2024-05-31T10:32:54.559875+03:00' '2024-06-24T09:21:56.224781+03:00'
 '2024-05-20T15:29:53.127478+03:00' '2024-07-08T14:24:32.486181+03:00'
 '2024-05-20T12:22:15.262185+03:00' '2024-05-24T10:52:09.452639+03:00'
 '2024-05-20T11:55:03.780409+03:00' '2024-09-25T17:42:00.370979+03:00'
 '2024-08-23T18:39:32.204763+03:00' '2024-08-13T10:49:16.072845+03:00'
 '2024-07-11T11:25:37.901498+03:00' '2024-08-13T10:49:03.708968+03:00'
 '2024-06-13T10:18:11.055624+03:00' '2024-07-11T11:01:10.73113+03:00'
 '2024-07-15T11:48:00.003998+03:00' '2024-07-11T10:44:42.597704+03:00'
 '2024-08-13T10:52:35.977201+03:00' '2024-08-13T10:53:20.706648+03:00'
 '2024-09-05T17:56:36.825976+03:00' '2024-08-13T10:56:12.226188+03:00'
 '2024-10-02T12:04:50.782903+03:00' '2024-12-09T16:31:21.120834+03:00'
 '2024-10-08T08:46:10.966433+03:00' '2024-09-26T16:04:48.906237+03:00'
 '2024-10-10T10:36:54.073783+03:00' '2024-09-04T20:53:36.970755+03:00'
 '2024-09-25T15:11:06.900982+03:00' '2024-09-24T11:47:11.60881+03:00'
 '2024-12-09T16:31:29.0895+03:00' '2024-12-05T11:22:56.711536+03:00'
 '2024-11-13T09:58:59.251886+03:00' '2024-11-18T17:07:48.520138+03:00'
 '2024-12-09T16:31:35.123978+03:00' '2024-12-09T16:31:42.307263+03:00'
 '2024-12-09T16:31:48.203083+03:00' '2024-11-27T12:57:09.072771+03:00'
 '2024-11-27T12:57:55.888441+03:00' '2024-11-27T12:58:07.925142+03:00'
 '2024-11-27T12:58:13.625553+03:00' '2024-11-27T12:58:48.179956+03:00'
 '2024-11-27T12:59:02.129321+03:00' '2024-12-05T11:24:17.086755+03:00'
 '2024-12-05T11:24:11.049532+03:00' '2024-12-12T12:51:56.499142+03:00'
 '2024-12-12T12:51:46.915331+03:00' '2024-12-09T16:31:54.039448+03:00'
 '2023-08-04T10:33:12.865831+03:00' '2023-08-10T14:09:47.366252+03:00'
 '2021-10-05T17:34:05.353341+03:00' '2021-10-05T17:03:58.346157+03:00'
 '2021-10-07T10:19:18.326665+03:00' '2021-10-07T10:19:40.91331+03:00'
 '2021-10-07T10:19:49.516851+03:00' '2021-10-05T16:56:04.633827+03:00'
 '2021-10-07T10:19:24.491078+03:00' '2021-10-05T17:03:41.829796+03:00'
 '2021-10-05T17:03:26.628329+03:00' '2021-10-05T16:55:04.13676+03:00'
 '2021-11-11T17:34:26.531409+03:00' '2021-11-11T17:36:03.069291+03:00'
 '2021-11-11T17:35:53.336627+03:00' '2021-11-11T17:35:28.469078+03:00'
 '2021-11-11T17:35:19.679687+03:00' '2021-11-08T18:59:02.876418+03:00'
 '2021-10-12T10:14:37.963522+03:00' '2021-11-08T16:50:02.751772+03:00'
 '2021-10-21T23:26:17.894835+03:00' '2021-10-23T13:11:33.032191+03:00'
 '2021-10-24T10:18:33.131546+03:00' '2021-10-25T14:43:03.134435+03:00'
 '2021-10-23T12:38:33.018218+03:00' '2021-11-13T17:44:03.045232+03:00'
 '2021-11-14T22:29:03.205852+03:00' '2021-11-15T19:22:05.1489+03:00'
 '2021-11-16T09:00:02.729225+03:00' '2021-11-16T22:53:03.463233+03:00'
 '2021-11-17T20:03:04.483586+03:00' '2021-11-15T17:19:23.140531+03:00'
 '2021-11-15T17:19:14.000153+03:00' '2021-11-15T17:18:32.011686+03:00'
 '2021-11-15T17:18:21.665204+03:00' '2021-11-15T17:18:07.748823+03:00'
 '2021-11-15T17:17:36.750497+03:00' '2021-11-15T17:17:16.462064+03:00'
 '2021-11-15T17:16:03.837039+03:00' '2021-11-15T17:17:29.656312+03:00'
 '2021-11-15T17:16:52.759713+03:00' '2021-11-15T17:16:34.544253+03:00'
 '2021-11-15T17:16:24.44847+03:00' '2021-11-15T17:16:03.005897+03:00'
 '2021-11-15T17:15:37.51578+03:00' '2021-11-15T17:15:20.310151+03:00'
 '2021-11-15T17:15:02.449324+03:00' '2021-11-15T17:18:49.103511+03:00'
 '2021-11-15T17:14:39.65341+03:00' '2021-11-15T17:14:07.694386+03:00'
 '2021-11-15T17:13:18.906675+03:00' '2022-02-11T11:07:42.736906+03:00'
 '2022-02-11T11:07:36.134387+03:00' '2022-02-11T11:05:35.940907+03:00'
 '2022-02-11T11:05:48.863671+03:00' '2022-03-02T13:27:22.525564+03:00'
 '2022-03-02T13:28:38.347862+03:00' '2022-03-02T13:27:40.62272+03:00'
 '2022-03-02T13:27:11.549954+03:00' '2022-06-07T01:06:50.420503+03:00'
 '2022-03-23T11:34:58.67761+03:00' '2022-03-23T11:35:13.240192+03:00'
 '2022-09-06T19:31:58.572198+03:00' '2022-04-15T00:38:49.399779+03:00'
 '2022-04-08T10:26:22.252749+03:00' '2022-04-21T13:41:49.864137+03:00'
 '2022-04-09T20:15:18.036603+03:00' '2022-05-13T21:32:01.355772+03:00'
 '2022-03-28T19:38:48.499193+03:00' '2022-05-23T10:20:11.218+03:00'
 '2022-04-14T13:53:22.431595+03:00' '2022-04-10T22:34:17.67166+03:00'
 '2022-04-19T09:17:48.939732+03:00' '2022-07-24T16:22:46.844141+03:00'
 '2022-07-24T15:59:28.686146+03:00' '2022-06-20T17:09:00.055414+03:00'
 '2022-06-10T22:22:52.699105+03:00' '2022-08-16T11:22:21.793047+03:00'
 '2022-07-22T15:41:46.652075+03:00' '2022-08-25T12:08:42.810906+03:00'
 '2022-06-13T17:44:46.417453+03:00' '2022-07-27T14:11:17.405782+03:00'
 '2022-07-27T14:30:19.256353+03:00' '2022-09-09T11:55:35.625127+03:00'
 '2022-09-09T11:57:27.455632+03:00' '2022-09-09T11:58:07.071861+03:00'
 '2022-09-09T12:11:59.615564+03:00' '2022-09-06T19:30:12.284816+03:00'
 '2022-09-06T19:29:49.514361+03:00' '2022-09-15T11:10:07.750477+03:00'
 '2022-11-12T15:24:49.71366+03:00' '2022-11-12T09:39:31.187609+03:00'
 '2022-11-21T16:28:40.663584+03:00' '2022-11-27T15:41:53.779552+03:00'
 '2022-12-11T19:20:17.784185+03:00' '2023-03-15T18:32:11.098114+03:00'
 '2023-03-26T12:02:46.017106+03:00' '2023-03-31T07:28:12.921754+03:00'
 '2023-06-13T08:28:13.974725+03:00' '2023-06-18T20:14:24.990612+03:00'
 '2023-05-26T13:51:39.782122+03:00' '2023-06-13T19:03:57.936487+03:00'
 '2023-09-13T19:02:56.954012+03:00' '2023-09-01T19:02:03.53197+03:00'
 '2023-09-11T19:49:58.657651+03:00' '2023-12-25T21:55:08.092105+03:00'
 '2023-09-27T08:56:20.69112+03:00' '2023-09-13T19:02:48.345034+03:00'
 '2023-09-13T19:02:44.08054+03:00' '2023-09-11T19:49:54.566848+03:00'
 '2023-09-13T19:02:38.912258+03:00' '2023-09-01T17:51:24.829277+03:00'
 '2023-12-25T21:55:12.901446+03:00' '2023-12-25T21:54:58.777651+03:00'
 '2023-12-25T21:55:11.357955+03:00' '2023-12-25T21:54:53.311728+03:00'
 '2023-12-25T21:55:24.973613+03:00' '2022-10-19T16:37:20.536989+03:00'
 '2023-03-27T00:03:47.302043+03:00' '2023-06-09T17:11:17.096407+03:00'
 '2023-12-13T03:55:28.275469+03:00' '2023-12-25T21:54:35.420976+03:00'
 '2024-05-29T09:18:49.788779+03:00' '2024-12-05T11:23:02.796089+03:00'
 '2024-10-31T18:56:32.471694+03:00' '2024-10-31T19:09:55.666795+03:00'
 '2024-10-31T18:59:27.671078+03:00' '2024-10-31T19:01:42.468192+03:00'
 '2024-10-31T19:05:49.837093+03:00' '2024-12-06T10:43:04.592448+03:00'
 '2024-11-19T11:09:12.967353+03:00' '2024-11-19T11:00:56.120951+03:00'
 '2024-12-05T11:23:59.682031+03:00' '2024-12-05T11:24:04.914806+03:00'
 '2024-12-06T09:49:30.562364+03:00' '2024-12-23T12:10:37.976556+03:00'
 '2023-06-09T17:15:14.098209+03:00' '2023-07-06T13:14:41.843804+03:00'
 '2023-07-06T13:16:15.892854+03:00' '2023-07-06T13:17:55.553816+03:00'
 '2023-07-06T13:19:30.973908+03:00' '2023-07-06T13:28:19.080613+03:00'
 '2025-02-25T10:05:34.775701+03:00' '2025-02-25T10:15:53.784816+03:00'
 '2025-02-25T10:14:25.474045+03:00' '2025-01-09T16:43:52.095554+03:00'
 '2024-12-19T14:22:13.467321+03:00' '2024-12-13T23:51:30.147112+03:00'
 '2025-01-09T16:43:49.674072+03:00' '2024-12-13T23:28:13.347538+03:00'
 '2025-01-09T16:43:44.37426+03:00' '2025-01-09T16:43:42.318188+03:00'
 '2024-12-13T23:27:29.97554+03:00' '2024-12-28T15:52:43.15593+03:00'
 '2025-03-03T00:43:14.354994+03:00' '2021-04-09T12:31:24.792857+03:00'
 '2021-05-05T16:45:45.65417+03:00' '2021-04-13T15:59:45.548503+03:00'
 '2021-05-05T16:45:42.071149+03:00' '2021-04-15T13:00:44.2129+03:00'
 '2021-04-15T13:01:29.748084+03:00' '2021-05-05T16:45:31.767476+03:00'
 '2021-05-05T16:44:50.541477+03:00' '2022-03-25T21:34:46.55644+03:00'
 '2022-03-27T15:16:46.459528+03:00' '2022-03-30T08:09:46.262707+03:00'
 '2022-03-27T20:31:16.046011+03:00' '2023-09-08T18:22:32.762247+03:00'
 '2023-09-05T11:02:47.12865+03:00' '2023-09-01T19:02:12.093511+03:00'
 '2023-09-08T20:12:35.423746+03:00' '2023-08-15T14:07:14.823068+03:00'
 '2023-12-25T21:55:17.575698+03:00' '2023-12-25T21:54:56.564471+03:00'
 '2023-12-25T21:55:16.13239+03:00' '2023-12-25T21:55:31.404832+03:00'
 '2023-12-25T21:54:49.902383+03:00' '2023-12-25T21:55:28.743387+03:00'
 '2023-12-25T21:55:26.588913+03:00' '2023-12-25T21:55:21.379871+03:00'
 '2021-05-05T16:45:28.128177+03:00' '2021-05-05T16:45:24.159774+03:00'
 '2021-05-05T16:45:14.918718+03:00' '2021-05-05T16:44:57.224387+03:00'
 '2021-07-20T17:44:15.979438+03:00' '2021-07-20T17:44:09.562052+03:00'
 '2021-07-20T17:44:20.700412+03:00' '2021-07-20T17:44:02.660763+03:00'
 '2021-07-20T17:43:49.234729+03:00' '2021-08-16T16:43:03.641828+03:00'
 '2021-08-16T16:42:59.403408+03:00' '2021-08-16T16:42:55.056839+03:00'
 '2021-11-16T15:29:35.094044+03:00' '2021-11-16T15:50:20.247294+03:00'
 '2021-11-16T15:47:05.510655+03:00' '2021-11-16T15:17:54.761972+03:00'
 '2021-11-17T18:28:49.591513+03:00' '2021-11-16T02:26:13.192998+03:00'
 '2021-11-19T02:55:23.761153+03:00' '2021-11-16T01:17:53.420842+03:00'
 '2021-11-16T02:17:04.019047+03:00' '2021-11-16T03:15:23.461279+03:00'
 '2021-11-18T00:26:14.915586+03:00' '2021-11-19T04:14:34.186618+03:00'
 '2021-11-19T17:30:25.876829+03:00' '2021-11-16T21:10:24.669092+03:00'
 '2021-11-16T15:08:44.715709+03:00' '2021-11-16T21:02:05.223192+03:00'
 '2021-11-16T15:21:15.319017+03:00' '2021-11-16T01:47:03.907374+03:00'
 '2021-11-16T01:51:12.877434+03:00' '2021-11-16T02:15:22.952072+03:00'
 '2021-11-16T02:07:04.762378+03:00' '2021-11-16T02:31:13.861084+03:00'
 '2021-11-16T02:47:53.750232+03:00' '2021-11-16T03:16:12.950984+03:00'
 '2021-11-16T02:27:03.876032+03:00' '2021-11-16T03:12:53.215651+03:00'
 '2022-02-11T11:08:45.054577+03:00' '2022-02-11T11:08:21.763517+03:00'
 '2022-02-11T11:04:03.00503+03:00' '2022-02-11T11:05:29.696598+03:00'
 '2022-03-02T13:28:55.251405+03:00' '2022-01-23T13:07:11.133439+03:00'
 '2022-03-02T13:26:57.661007+03:00' '2022-03-02T13:28:22.355916+03:00'
 '2022-04-10T16:28:48.905382+03:00' '2022-03-23T11:33:54.241932+03:00'
 '2022-03-23T11:34:37.857064+03:00' '2022-04-12T15:40:26.669612+03:00'
 '2022-12-04T00:01:03.231707+03:00' '2022-12-04T00:02:06.540136+03:00'
 '2022-12-04T00:01:33.960128+03:00' '2022-05-15T11:30:14.792712+03:00'
 '2022-03-03T23:59:25.340465+03:00' '2022-12-03T12:19:35.284196+03:00'
 '2022-05-13T20:48:35.685102+03:00' '2022-02-26T14:26:04.735989+03:00'
 '2022-12-04T00:04:31.985542+03:00' '2022-12-04T00:05:34.063441+03:00'
 '2022-12-04T10:01:35.164372+03:00' '2022-05-23T13:36:07.51136+03:00'
 '2022-02-26T14:31:14.122867+03:00' '2022-05-23T10:20:35.005687+03:00'
 '2022-12-05T19:25:03.574171+03:00' '2022-12-05T20:59:49.105782+03:00'
 '2022-12-06T13:15:35.810761+03:00' '2022-09-03T20:25:55.242772+03:00'
 '2022-09-09T11:55:01.559107+03:00' '2022-09-09T14:43:57.006232+03:00'
 '2022-09-09T12:01:43.972063+03:00' '2022-09-06T19:30:29.652701+03:00'
 '2022-09-09T12:13:15.488351+03:00' '2022-10-11T16:05:41.812616+03:00'
 '2022-11-29T00:34:06.790148+03:00' '2022-10-07T11:20:04.514346+03:00'
 '2022-10-11T10:26:33.444657+03:00' '2022-12-08T00:04:32.90018+03:00'
 '2022-12-08T00:05:02.425812+03:00' '2022-12-08T00:05:33.783658+03:00'
 '2022-12-11T00:02:32.192884+03:00' '2022-12-08T00:57:03.421681+03:00'
 '2022-12-08T00:15:05.619393+03:00' '2022-12-12T00:18:32.851586+03:00'
 '2022-11-12T00:04:05.116544+03:00' '2022-11-12T00:05:33.146329+03:00'
 '2022-12-11T00:02:06.253762+03:00' '2023-09-08T18:22:00.266742+03:00'
 '2023-03-10T06:55:21.67231+03:00' '2023-03-09T10:25:34.487906+03:00'
 '2023-06-10T07:02:25.371365+03:00' '2023-06-18T15:27:00.621346+03:00'
 '2023-03-23T15:55:33.709576+03:00' '2023-06-11T17:58:56.127124+03:00'
 '2023-06-09T10:10:20.977736+03:00' '2023-06-13T19:20:14.530477+03:00'
 '2023-07-17T17:22:30.228791+03:00' '2023-07-17T17:23:07.31411+03:00'
 '2023-07-28T11:39:27.154642+03:00' '2023-08-01T23:13:31.322223+03:00'
 '2023-12-25T21:55:05.913016+03:00' '2023-12-25T21:55:04.311668+03:00'
 '2023-12-25T21:55:02.590122+03:00' '2023-09-14T18:30:41.225876+03:00'
 '2023-12-25T21:55:00.903724+03:00' '2023-07-16T09:47:54.407387+03:00'
 '2023-12-25T21:55:09.756624+03:00' '2023-06-27T00:52:12.490058+03:00'
 '2023-08-14T14:41:25.327564+03:00' '2023-08-14T14:51:23.334273+03:00'
 '2023-08-14T14:41:27.526129+03:00' '2023-12-25T21:55:23.374478+03:00'
 '2024-03-22T10:24:36.875685+03:00' '2024-03-22T10:23:09.433261+03:00'
 '2023-12-25T22:11:52.003456+03:00' '2024-12-28T12:51:06.151959+03:00'
 '2025-01-22T11:54:53.488521+03:00' '2025-01-09T16:45:28.974641+03:00'
 '2025-01-27T17:57:22.639209+03:00' '2025-01-22T11:24:44.733987+03:00'
 '2025-01-22T11:32:52.171465+03:00' '2025-02-25T10:10:51.745756+03:00'
 '2025-02-25T10:05:05.170535+03:00' '2025-01-22T11:37:46.747581+03:00'
 '2024-12-14T15:09:30.141475+03:00' '2025-01-22T11:40:04.593972+03:00'
 '2024-12-28T15:21:22.362277+03:00' '2024-12-28T15:25:08.506511+03:00'
 '2024-12-28T15:51:55.197423+03:00' '2025-01-09T16:41:56.806048+03:00'
 '2025-01-09T16:41:54.170416+03:00' '2025-02-24T00:43:13.941928+03:00'
 '2025-01-09T16:41:49.867255+03:00' '2025-03-03T11:35:22.930913618+03:00'
 '2025-03-03T11:35:23.711843113+03:00' '2025-02-25T10:19:01.503488+03:00'
 '2025-02-07T17:51:24.769236+03:00' '2025-02-11T14:21:08.507311+03:00'
 '2024-12-28T16:34:59.112464+03:00' '2024-12-28T16:36:26.205209+03:00'
 '2025-03-02T00:42:02.895783+03:00' '2025-02-20T18:05:50.359741+03:00'
 '2025-02-20T17:17:35.709146+03:00' '2025-03-03T00:43:32.921093+03:00'
 '2025-01-27T17:37:06.59023+03:00' '2025-01-27T17:38:53.727085+03:00'
 '2025-01-27T17:39:48.702856+03:00' '2025-03-03T00:40:54.355897+03:00'
 '2025-02-20T17:40:52.656951+03:00' '2025-01-23T20:30:24.70163+03:00'
 '2025-01-20T15:42:34.508832+03:00' '2025-01-07T19:39:49.651792+03:00']

In [80]:
# Create chunks of 50 campaign IDs each
chunk_size = 50
campaign_chunks_guten = [df_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_guten), chunk_size)]
campaign_chunks_giper = [df_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_giper), chunk_size)]
campaign_chunks_kitchen = [df_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df_kitchen), chunk_size)]

# Define the API endpoint
url = "https://advert-api.wildberries.ru/adv/v1/promotion/adverts"

# Define the query parameters
query_params = {
    "order": "create",  # Order by the "change" field
    "direction":"desc"
}


# List to store all campaign data
all_campaign_data_guten = []
all_campaign_data_giper = []
all_campaign_data_kitchen = []


# Iterate over each chunk and send a POST request
for idx, (chunk_guten, chunk_giper, chunk_kitchen) in enumerate(zip(campaign_chunks_guten, campaign_chunks_giper, campaign_chunks_kitchen)):
    
    # Send the POST request
    response_guten = requests.post(url, params=query_params, json=chunk_guten, headers=headers_guten)
    time.sleep(1)
    response_giper = requests.post(url, params=query_params, json=chunk_giper, headers=headers_giper)
    time.sleep(1)
    response_kitchen = requests.post(url, params=query_params, json=chunk_kitchen, headers=headers_kitchen)
    # Add a delay to avoid hitting API rate limits
    time.sleep(1)
    
    # Check the response status
    if response_guten.status_code == 200 and response_giper.status_code == 200 and response_kitchen.status_code == 200:
        # Parse the JSON response
        data_guten = response_guten.json()
        data_giper = response_giper.json()
        data_kitchen = response_kitchen.json()
        all_campaign_data_guten.extend(data_guten)
        all_campaign_data_giper.extend(data_giper)
        all_campaign_data_kitchen.extend(data_kitchen)
        print("Data retrieved successfully")
        #print(f"Response for Chunk {idx + 1}: {data_guten}")
    else:
        print(f"Error for Chunk {idx + 1}: {response_guten.status_code,response_giper.status_code,response_kitchen.status_code}, {response_guten.text,response_giper.text,response_kitchen.text}")
        
        
campaigns_guten = pd.DataFrame(all_campaign_data_guten)
campaigns_giper = pd.DataFrame(all_campaign_data_giper)
campaigns_kitchen = pd.DataFrame(all_campaign_data_kitchen)

campaigns_guten['Project'] = 'WB-GutenTech'
campaigns_giper['Project'] = 'WB-ГиперМаркет'
campaigns_kitchen['Project'] = 'WB-KitchenAid'

# Concatenate the DataFrames
combined_campaigns = pd.concat([campaigns_guten, campaigns_giper, campaigns_kitchen], ignore_index=True)

combined_campaigns['Marketplace'] = 'Wildberries'

print("Combined Campaign Data")
#campaigns_kitchen

Data retrieved successfully
Combined Campaign Data

In [81]:
# Keep only the desired columns
columns_to_keep = ["endTime", "createTime", "startTime","name", "advertId", "status", "type","Project","Marketplace"]
# Ensure filtered_df is a copy of the slice, not a view
filtered_df = combined_campaigns[columns_to_keep].copy()
filtered_df['endTime'] = pd.to_datetime(filtered_df['endTime'], format='mixed').dt.date
filtered_df['createTime'] = pd.to_datetime(filtered_df['createTime'], format='mixed').dt.date
filtered_df['startTime'] = pd.to_datetime(filtered_df['startTime'], format='mixed').dt.date

# Mapping dictionaries for 'status' and 'type'
status_mapping = {
    -1: "Кампания в процессе удаления",
    4: "Готова к запуску",
    7: "Кампания завершена",
    8: "Отказался",
    9: "Идут показы",
    11: "Кампания на паузе"
}

type_mapping = {
    4: "Кампания в каталоге (устаревший тип)",
    5: "Кампания в карточке товара (устаревший тип)",
    6: "Кампания в поиске (устаревший тип)",
    7: "Кампания в рекомендациях на главной странице (устаревший тип)",
    8: "Автоматическая кампания",
    9: "Аукцион"
}

# Replace numeric values with their string descriptions
filtered_df['status'] = filtered_df['status'].replace(status_mapping)
filtered_df['type'] = filtered_df['type'].replace(type_mapping)

# Display the updated DataFrame
filtered_df

,endTime,createTime,startTime,name,advertId,status,type,Project,Marketplace
0,2100-01-01,2025-02-19,2025-02-19,Mr Proper_19.02.2025,23408417,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
1,2100-01-01,2025-02-12,2025-03-06,Always_12.02.2025,23230882,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
2,2100-01-01,2025-01-27,2025-01-27,AND_Тонометры на запястье_27.01.2025,22846531,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
3,2100-01-01,2025-01-27,2025-01-27,AND_Тонометры авто_27.01.2025,22846516,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
4,2100-01-01,2025-01-27,2025-01-27,AND_Тонометры мех_27.01.2025,22846446,Идут показы,Автоматическая кампания,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...
86,2024-07-23,2024-06-05,2024-06-05,Braun Триммеры,17748698,Кампания завершена,Автоматическая кампания,WB-ГиперМаркет,Wildberries
87,2024-07-23,2024-06-05,2024-06-05,Braun Эпиляторы,17741906,Кампания завершена,Автоматическая кампания,WB-ГиперМаркет,Wildberries
88,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,21008536,Идут показы,Автоматическая кампания,WB-KitchenAid,Wildberries
89,2100-01-01,2024-10-30,2025-01-09,Миксер планет_30.10.2024,21008249,Идут показы,Автоматическая кампания,WB-KitchenAid,Wildberries
90,2100-01-01,2024-10-30,2025-01-09,Тостеры_30.10.2024,21006669,Идут показы,Автоматическая кампания,WB-KitchenAid,Wildberries

In [305]:
unique_change_times = filtered_df['advertId'].nunique()
print(unique_change_times)

140

In [293]:
filename = "Companias_info.xlsx"
campaigns_df.to_excel(filename, index=False)

In [241]:
# Flatten the JSON response into a DataFrame
df = pd.json_normalize(data, sep='_')

# Display the DataFrame
df

,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,days,boosterStats,advertId,interval_begin,interval_end
0,30450,1762,5.79,3.23,5688.32,302,60,3.41,60,145067,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 234921...",22846531,2025-02-17,2025-02-19
1,20014,507,2.53,9.35,4742.67,15,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 286529...",21577733,2025-02-17,2025-02-19
2,1305,45,3.45,14.07,633.29,8,1,2.22,1,3537,"[{'date': '2025-02-19T03:00:00+03:00', 'views'...","[{'date': '2025-02-19T00:00:00Z', 'nm': 171562...",21554091,2025-02-17,2025-02-19
3,2106,73,3.47,4.05,295.87,3,1,1.37,1,7845,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 203510...",18447862,2025-02-17,2025-02-19
4,5214,258,4.95,3.70,955.34,9,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 161420...",20487381,2025-02-17,2025-02-19
5,15492,669,4.32,9.53,6375.65,58,10,1.49,10,34712,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 159488...",21965489,2025-02-17,2025-02-19
6,20519,932,4.54,1.51,1404.77,82,4,0.43,4,24196,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 252275...",19297608,2025-02-17,2025-02-19
7,4032,111,2.75,6.36,705.93,5,1,0.90,1,31018,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 208813...",20124734,2025-02-17,2025-02-19
8,8157,198,2.43,11.55,2285.94,16,3,1.52,3,23640,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 266534...",21821064,2025-02-17,2025-02-19
9,12202,826,6.77,3.26,2694.57,48,8,0.97,8,42838,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,19276694,2025-02-17,2025-02-19
10,10851,683,6.29,2.69,1836.20,48,8,1.17,8,44471,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,19276556,2025-02-17,2025-02-19
11,7859,145,1.85,12.02,1743.18,14,2,1.38,2,3322,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 195507...",21821164,2025-02-17,2025-02-19
12,7,0,0.00,0.00,0.25,0,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,20955117,2025-02-17,2025-02-19
13,4047,104,2.57,6.66,692.74,4,1,0.96,1,6076,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 263764...",20397145,2025-02-17,2025-02-19
14,4013,54,1.35,17.50,944.81,0,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 286307...",21577713,2025-02-17,2025-02-19
15,11,0,0.00,0.00,0.66,0,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21041194,2025-02-17,2025-02-19
16,47990,911,1.90,5.14,4679.27,96,28,3.07,31,21143,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 209693...",21497699,2025-02-17,2025-02-19
17,23941,662,2.77,4.88,3233.72,63,6,0.91,6,11868,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 242960...",23231292,2025-02-17,2025-02-19
18,2306,36,1.56,29.72,1069.96,3,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 268462...",21821199,2025-02-17,2025-02-19
19,17433,668,3.83,10.79,7209.87,85,19,2.84,19,55267,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 171562...",21554118,2025-02-17,2025-02-19
20,4056,273,6.73,3.34,912.66,20,5,1.83,5,34991,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,19276746,2025-02-17,2025-02-19
21,5411,170,3.14,3.00,510.23,8,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 263725...",21202453,2025-02-17,2025-02-19
22,8447,345,4.08,1.97,677.93,33,2,0.58,2,13190,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 110511...",21203996,2025-02-17,2025-02-19
23,3509,151,4.30,3.72,561.44,11,2,1.32,2,9360,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21204098,2025-02-17,2025-02-19
24,9468,150,1.58,14.52,2177.64,10,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21204193,2025-02-17,2025-02-19
25,980,20,2.04,3.22,64.33,3,1,5.00,1,3537,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 171562...",21624823,2025-02-17,2025-02-19
26,6193,184,2.97,5.33,979.93,17,5,2.72,5,5745,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 159121...",22846446,2025-02-17,2025-02-19
27,11668,368,3.15,7.29,2683.64,22,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21204224,2025-02-17,2025-02-19
28,5,0,0.00,0.00,0.30,0,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21041387,2025-02-17,2025-02-19
29,13627,701,5.14,1.38,968.19,75,8,1.14,8,43217,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 264140...",19297685,2025-02-17,2025-02-19
30,986,44,4.46,1.85,81.23,0,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 181674...",20139198,2025-02-17,2025-02-19
31,9575,250,2.61,4.73,1181.35,9,1,0.40,1,3782,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 260256...",18870853,2025-02-17,2025-02-19
32,1,0,0.00,0.00,0.08,0,0,0.00,0,0,"[{'date': '2025-02-18T03:00:00+03:00', 'views'...",NaN,22255122,2025-02-17,2025-02-19
33,10050,117,1.16,17.18,2010.00,6,1,0.85,1,39946,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21203170,2025-02-17,2025-02-19
34,35599,1370,3.85,4.92,6737.44,146,32,2.34,32,73099,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 159121...",22846516,2025-02-17,2025-02-19
35,1673,52,3.11,7.24,376.49,3,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21204285,2025-02-17,2025-02-19
36,14666,1593,10.86,1.48,2353.33,204,90,5.65,96,55414,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 224944...",16530753,2025-02-17,2025-02-19
37,3,0,0.00,0.00,0.45,0,0,0.00,0,0,"[{'date': '2025-02-18T03:00:00+03:00', 'views'...",NaN,21578389,2025-02-17,2025-02-19
38,63662,2343,3.68,2.68,6282.14,208,63,2.69,66,133257,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 137609...",21497844,2025-02-17,2025-02-19
39,11858,330,2.78,6.22,2054.07,16,1,0.30,1,6210,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 263764...",20397161,2025-02-17,2025-02-19
40,5041,324,6.43,3.58,1159.43,16,1,0.31,1,4665,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21212715,2025-02-17,2025-02-19
41,42015,1474,3.51,3.64,5360.77,111,24,1.63,25,49818,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 181893...",21498270,2025-02-17,2025-02-19
42,25921,632,2.44,8.28,5235.08,62,14,2.22,14,170734,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21203007,2025-02-17,2025-02-19
43,56272,1516,2.69,5.03,7626.70,153,35,2.31,38,64965,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 137609...",21498159,2025-02-17,2025-02-19
44,18,0,0.00,0.00,6.24,0,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 159488...",21624850,2025-02-17,2025-02-19
45,8,0,0.00,0.00,0.32,0,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,20954456,2025-02-17,2025-02-19
46,6711,330,4.92,4.17,1375.81,16,3,0.91,3,21007,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21202745,2025-02-17,2025-02-19
47,7820,340,4.35,13.81,4693.86,24,2,0.59,2,6194,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 159121...",21883272,2025-02-17,2025-02-19
48,3577,128,3.58,2.35,301.35,18,4,3.13,4,42991,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 245600...",21212396,2025-02-17,2025-02-19
49,8618,118,1.37,11.32,1335.92,1,0,0.00,0,0,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 121061...",18870701,2025-02-17,2025-02-19
50,7901,193,2.44,6.14,1184.55,9,1,0.52,1,20354,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...",NaN,21203075,2025-02-17,2025-02-19
51,6959,261,3.75,4.84,1262.43,25,10,3.83,10,48278,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 462925...",18870619,2025-02-17,2025-02-19
52,24284,541,2.23,5.75,3111.57,25,5,0.92,5,7226,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 201854...",23230882,2025-02-17,2025-02-19

In [172]:
import requests

# Define the API endpoint
url = "https://advert-api.wildberries.ru/adv/v1/promotion/adverts"

# Define the query parameters
query_params = {
    "order": "change",  # Order by the "change" field

}

# Define the request body (list of campaign IDs)
# Replace with actual campaign IDs (maximum 50 IDs)
request_body = [20955474]

# Define the headers (replace 'your_api_token' with your actual API token)
headers = {
    "Authorization": KeyGuten,  # Replace with your API token
    "Content-Type": "application/json"
}

# Make the POST request
response = requests.post(url, params=query_params, json=request_body, headers=headers)

# Check the response status
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()
    print("Response Data:", data)
else:
    print(f"Error: {response.status_code}, {response.text}")

Response Data: [{'endTime': '2024-10-31T19:09:55.666795+03:00', 'createTime': '2024-10-28T18:49:38.583434+03:00', 'changeTime': '2024-10-31T19:09:55.666795+03:00', 'startTime': '2024-10-31T12:15:15.669999+03:00', 'searchPluseState': False, 'name': 'SMEG_Блендер стац_28.10.2024', 'unitedParams': [{'catalogCPM': 0, 'searchCPM': 150, 'subject': {'id': 614, 'name': 'блендеры'}, 'MenuIds': None, 'menus': [{'id': 0, 'name': ''}], 'nms': [202777102, 149739854, 153936020, 208929076, 174090162]}], 'dailyBudget': 0, 'advertId': 20955474, 'status': 7, 'type': 9, 'paymentType': ''}]

In [29]:
# Flatten the 'unitedParams' field
df_param = pd.json_normalize(
    data,
    record_path='unitedParams',  # Path to the nested list
    meta=[
        'endTime', 'createTime', 'changeTime', 'startTime', 'searchPluseState',
        'name', 'dailyBudget', 'advertId', 'status', 'type', 'paymentType'
    ],  # Include these fields from the parent level
    meta_prefix='parent_',  # Add a prefix to meta fields to avoid conflicts
    sep='_'
)
df_param

,catalogCPM,searchCPM,MenuIds,menus,nms,subject_id,subject_name,parent_endTime,parent_createTime,parent_changeTime,parent_startTime,parent_searchPluseState,parent_name,parent_dailyBudget,parent_advertId,parent_status,parent_type,parent_paymentType
0,0,150,None,"[{'id': 0, 'name': ''}]","[202777102, 149739854, 153936020, 208929076, 1...",614,блендеры,2024-10-31T19:09:55.666795+03:00,2024-10-28T18:49:38.583434+03:00,2024-10-31T19:09:55.666795+03:00,2024-10-31T12:15:15.669999+03:00,False,SMEG_Блендер стац_28.10.2024,0,20955474,7,9,

In [33]:
# Explode the 'nms' field to create a row for each value in the list
df_exploded = df_param.explode('nms')
df_exploded

,catalogCPM,searchCPM,MenuIds,menus,nms,subject_id,subject_name,parent_endTime,parent_createTime,parent_changeTime,parent_startTime,parent_searchPluseState,parent_name,parent_dailyBudget,parent_advertId,parent_status,parent_type,parent_paymentType
0,0,150,None,"[{'id': 0, 'name': ''}]",202777102,614,блендеры,2024-10-31T19:09:55.666795+03:00,2024-10-28T18:49:38.583434+03:00,2024-10-31T19:09:55.666795+03:00,2024-10-31T12:15:15.669999+03:00,False,SMEG_Блендер стац_28.10.2024,0,20955474,7,9,
0,0,150,None,"[{'id': 0, 'name': ''}]",149739854,614,блендеры,2024-10-31T19:09:55.666795+03:00,2024-10-28T18:49:38.583434+03:00,2024-10-31T19:09:55.666795+03:00,2024-10-31T12:15:15.669999+03:00,False,SMEG_Блендер стац_28.10.2024,0,20955474,7,9,
0,0,150,None,"[{'id': 0, 'name': ''}]",153936020,614,блендеры,2024-10-31T19:09:55.666795+03:00,2024-10-28T18:49:38.583434+03:00,2024-10-31T19:09:55.666795+03:00,2024-10-31T12:15:15.669999+03:00,False,SMEG_Блендер стац_28.10.2024,0,20955474,7,9,
0,0,150,None,"[{'id': 0, 'name': ''}]",208929076,614,блендеры,2024-10-31T19:09:55.666795+03:00,2024-10-28T18:49:38.583434+03:00,2024-10-31T19:09:55.666795+03:00,2024-10-31T12:15:15.669999+03:00,False,SMEG_Блендер стац_28.10.2024,0,20955474,7,9,
0,0,150,None,"[{'id': 0, 'name': ''}]",174090162,614,блендеры,2024-10-31T19:09:55.666795+03:00,2024-10-28T18:49:38.583434+03:00,2024-10-31T19:09:55.666795+03:00,2024-10-31T12:15:15.669999+03:00,False,SMEG_Блендер стац_28.10.2024,0,20955474,7,9,

In [45]:
# Define the API endpoint
url = "https://advert-api.wildberries.ru/adv/v1/upd"

# Define the headers (replace 'your_api_token' with your actual API token)
headers = {
    "Authorization": KeyGiper,  # Replace with your API token
    "Content-Type": "application/json"
}

# Define the query parameters
query_params = {
    "from": "2025-02-17",  # Start date (replace with your desired date)
    "to": "2025-02-23"     # End date (replace with your desired date)
}

# Make the GET request
response = requests.get(url, headers=headers, params=query_params)

# Check the response status
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()
    
    # Transform the data into a pandas DataFrame
    df = pd.DataFrame(data)
    
    # Display the DataFrame
    print("DataFrame:")
    print(df)
else:
    print(f"Error: {response.status_code}, {response.text}")

DataFrame:
                              updTime                                campName  \
0           2025-02-23T23:59:59+03:00  Braun_6 серия_Электробритвы_31.01.2025
1           2025-02-23T23:59:59+03:00             AND_Тонометр мех_27.01.2025
2           2025-02-23T23:59:59+03:00               CASO_Яйцеварки_27.01.2025
3           2025-02-23T23:59:59+03:00              ORAL-B_Щетки io_31.05.2025
4           2025-02-23T23:59:59+03:00      Braun_Электробритвы_30.01.2025_РКП
..                                ...                                     ...
244  2025-02-17T14:42:58.636602+03:00      ELIKOR_Вытяжки 50см_29.01.2025_РКП
245  2025-02-17T14:21:05.370467+03:00              Gillette_Наборы_20.11.2024
246   2025-02-17T13:53:45.32265+03:00              ORAL-B_Щетки io_31.05.2025
247  2025-02-17T11:00:35.931673+03:00  Braun_9 серия_Электробритвы_31.01.2025
248  2025-02-17T10:55:14.005103+03:00     AND_Тонометр на запястье_27.01.2025

    paymentType     updNum  updSum  advertId  advertType  advertStatus
0        Баланс  225639476     184  22950974           9            11
1        Баланс  225639476     545  22845877           8             9
2        Баланс  225639476     364  22844946           8             9
3        Баланс  225639476    1008  22954264           8             9
4        Баланс  225639476     851  22931827           8             9
..          ...        ...     ...       ...         ...           ...
244      Баланс  224582459     323  22902062           8             9
245      Баланс  224582459    1500  21526230           8             9
246      Баланс  224582459    1500  22954264           8             9
247      Баланс  224582459     203  22951156           9             9
248      Баланс  224582459     275  22845971           8             9

[249 rows x 8 columns]

In [46]:
df

,updTime,campName,paymentType,updNum,updSum,advertId,advertType,advertStatus
0,2025-02-23T23:59:59+03:00,Braun_6 серия_Электробритвы_31.01.2025,Баланс,225639476,184,22950974,9,11
1,2025-02-23T23:59:59+03:00,AND_Тонометр мех_27.01.2025,Баланс,225639476,545,22845877,8,9
2,2025-02-23T23:59:59+03:00,CASO_Яйцеварки_27.01.2025,Баланс,225639476,364,22844946,8,9
3,2025-02-23T23:59:59+03:00,ORAL-B_Щетки io_31.05.2025,Баланс,225639476,1008,22954264,8,9
4,2025-02-23T23:59:59+03:00,Braun_Электробритвы_30.01.2025_РКП,Баланс,225639476,851,22931827,8,9
...,...,...,...,...,...,...,...,...
244,2025-02-17T14:42:58.636602+03:00,ELIKOR_Вытяжки 50см_29.01.2025_РКП,Баланс,224582459,323,22902062,8,9
245,2025-02-17T14:21:05.370467+03:00,Gillette_Наборы_20.11.2024,Баланс,224582459,1500,21526230,8,9
246,2025-02-17T13:53:45.32265+03:00,ORAL-B_Щетки io_31.05.2025,Баланс,224582459,1500,22954264,8,9
247,2025-02-17T11:00:35.931673+03:00,Braun_9 серия_Электробритвы_31.01.2025,Баланс,224582459,203,22951156,9,9
248,2025-02-17T10:55:14.005103+03:00,AND_Тонометр на запястье_27.01.2025,Баланс,224582459,275,22845971,8,9

In [48]:
filename = "Promotion.xlsx"
df.to_excel(filename, index=False)

In [49]:
unique_change_times = df['paymentType'].unique()
print(unique_change_times)

['Баланс' 'Кэшбэк']

In [107]:
# API endpoint
url = "https://advert-api.wildberries.ru/adv/v2/fullstats"

# Define the date interval
date_interval = {
    "begin": "2025-01-01",  # Replace with your start date
    "end": "2025-01-31"     # Replace with your end date
}

# Create chunks of 100 campaign IDs each
chunk_size = 100

## Guten

In [108]:
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_guten['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_guten), chunk_size)]

# List to store all campaign data
all_campaign_data_guten = []

# Iterate over each chunk and send a POST request
for idx, chunk in enumerate(campaign_chunks):
    #print(f"Processing Chunk {idx + 1}: {chunk}")
    
    # Construct the payload for the current chunk
    payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]
    
    # Send the POST request
    response = requests.post(url, headers=headers_guten, json=payload)
    
    # Add a delay to avoid hitting API rate limits
    time.sleep(65)
    
    # Check the response status
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        all_campaign_data_guten.extend(data)
        #print(f"Response for Chunk {idx + 1}: {json.dumps(data, indent=4)}")
        print("Data retrived successfully")
    else:
        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}")

# Combine all campaign data into a DataFrame
campaign_guten_df = pd.json_normalize(all_campaign_data_guten)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_guten, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrived successfully
Combined Campaign Data

## Giper

In [109]:
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_giper['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_giper), chunk_size)]

# List to store all campaign data
all_campaign_data_giper = []

# Iterate over each chunk and send a POST request
for idx, chunk in enumerate(campaign_chunks):
    #print(f"Processing Chunk {idx + 1}: {chunk}")
    
    # Construct the payload for the current chunk
    payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]
    
    # Send the POST request
    response = requests.post(url, headers=headers_giper, json=payload)
    
    # Add a delay to avoid hitting API rate limits
    time.sleep(65)
    
    # Check the response status
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        all_campaign_data_giper.extend(data)
        #print(f"Response for Chunk {idx + 1}: {json.dumps(data, indent=4)}")
        print("Data retrived successfully")
    else:
        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}")

# Combine all campaign data into a DataFrame
campaign_giper_df = pd.json_normalize(all_campaign_data_giper)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_giper, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrived successfully
Combined Campaign Data

## Kitchen

In [110]:
# Create chunks of 100 campaign IDs each
campaign_chunks = [campaigns_kitchen['advertId'][i:i + chunk_size].tolist() for i in range(0, len(campaigns_kitchen), chunk_size)]

# List to store all campaign data
all_campaign_data_kitchen = []

# Iterate over each chunk and send a POST request
for idx, chunk in enumerate(campaign_chunks):
    #print(f"Processing Chunk {idx + 1}: {chunk}")
    
    # Construct the payload for the current chunk
    payload = [{"id": campaign_id, "interval": date_interval} for campaign_id in chunk]
    
    # Send the POST request
    response = requests.post(url, headers=headers_kitchen, json=payload)
    
    # Add a delay to avoid hitting API rate limits
    time.sleep(65)
    
    # Check the response status
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        all_campaign_data_kitchen.extend(data)
        #print(f"Response for Chunk {idx + 1}: {json.dumps(data, indent=4)}")
        print("Data retrived successfully")
    else:
        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}")

# Combine all campaign data into a DataFrame
campaign_kitchen_df = pd.json_normalize(all_campaign_data_kitchen)

# Save the combined data to a text file
with open("response_data_guten.txt", "w", encoding="utf-8") as file:
    json.dump(all_campaign_data_kitchen, file, indent=4, ensure_ascii=False)

# Display the combined DataFrame
print("Combined Campaign Data")

Data retrived successfully
Combined Campaign Data

In [111]:
campaign_guten_df

,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,days,boosterStats,advertId,interval.begin,interval.end
0,58029,2211,3.81,9.31,20587.06,226,60,2.71,60,307916,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 266534...",21821064,2025-01-01,2025-01-31
1,52692,1320,2.51,9.18,12119.16,80,9,0.68,9,72555,"[{'date': '2025-01-09T03:00:00+03:00', 'views'...",NaN,21204193,2025-01-01,2025-01-31
2,110598,8970,8.11,2.01,18038.12,700,74,0.82,75,403828,"[{'date': '2025-01-03T03:00:00+03:00', 'views'...",NaN,19276556,2025-01-01,2025-01-31
3,130490,11623,8.91,2.51,29141.56,838,77,0.66,77,407387,"[{'date': '2025-01-03T03:00:00+03:00', 'views'...",NaN,19276694,2025-01-01,2025-01-31
4,91404,3697,4.04,1.88,6958.14,334,36,0.97,36,274809,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 241706...",21203996,2025-01-01,2025-01-31
5,54124,1995,3.69,3.25,6487.88,96,18,0.90,18,41185,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-09T00:00:00Z', 'nm': 181893...",21498270,2025-01-01,2025-01-31
6,18084,698,3.86,3.70,2582.59,66,14,2.01,15,66528,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-14T00:00:00Z', 'nm': 462925...",18870619,2025-01-01,2025-01-31
7,40674,1831,4.50,3.78,6923.54,195,34,1.86,34,94678,"[{'date': '2025-01-27T03:00:00+03:00', 'views'...","[{'date': '2025-01-27T00:00:00Z', 'nm': 159121...",22846516,2025-01-27,2025-01-31
8,28240,1005,3.56,4.21,4234.44,62,6,0.60,6,118442,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...",NaN,21203075,2025-01-01,2025-01-31
9,73807,2548,3.45,5.85,14902.44,155,18,0.71,18,172058,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...",NaN,21203007,2025-01-01,2025-01-31
10,66271,2402,3.62,6.34,15237.75,165,12,0.50,12,146539,"[{'date': '2025-01-09T03:00:00+03:00', 'views'...",NaN,21204224,2025-01-01,2025-01-31
11,40574,951,2.34,6.87,6537.60,46,2,0.21,2,27669,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 208813...",20124734,2025-01-01,2025-01-31
12,43281,2281,5.27,3.89,8872.63,142,20,0.88,20,132247,"[{'date': '2025-01-09T03:00:00+03:00', 'views'...",NaN,21202745,2025-01-01,2025-01-31
13,44982,1892,4.21,13.84,26192.76,147,19,1.00,19,59382,"[{'date': '2025-01-02T03:00:00+03:00', 'views'...","[{'date': '2025-01-02T00:00:00Z', 'nm': 234921...",21883285,2025-01-01,2025-01-31
14,7717,606,7.85,2.83,1717.48,59,5,0.83,5,85886,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...",NaN,21204285,2025-01-01,2025-01-31
15,98518,3642,3.70,2.56,9308.66,243,52,1.43,53,80331,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-09T00:00:00Z', 'nm': 137609...",21497844,2025-01-01,2025-01-31
16,37339,1050,2.81,21.28,22344.03,81,8,0.76,8,26475,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 159121...",21883272,2025-01-01,2025-01-31
17,42685,3595,8.42,2.67,9604.60,289,25,0.70,25,170375,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...",NaN,19276746,2025-01-01,2025-01-31
18,66591,829,1.24,39.58,32810.10,55,3,0.36,3,21300,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 303419...",22255122,2025-01-01,2025-01-31
19,170796,2969,1.74,5.65,16788.00,335,104,3.50,104,184009,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-09T00:00:00Z', 'nm': 137609...",21498159,2025-01-01,2025-01-31
20,42919,1535,3.58,2.25,3447.80,101,8,0.52,8,93649,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 244991...",21202453,2025-01-01,2025-01-31
21,40184,3273,8.15,1.96,6429.44,347,37,1.13,37,147041,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...",NaN,21204098,2025-01-01,2025-01-31
22,9177,755,8.23,0.95,719.57,81,9,1.19,9,41894,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 181674...",20139198,2025-01-01,2025-01-31
23,231284,10302,4.45,1.48,15290.63,768,48,0.47,48,278388,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 252275...",19297608,2025-01-01,2025-01-31
24,11795,592,5.02,3.01,1779.45,58,4,0.68,4,27755,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-09T00:00:00Z', 'nm': 260854...",18870595,2025-01-01,2025-01-31
25,57300,1776,3.10,6.45,11460.00,36,2,0.11,2,85698,"[{'date': '2025-01-09T03:00:00+03:00', 'views'...",NaN,21203170,2025-01-01,2025-01-31
26,88021,2513,2.86,7.15,17955.89,349,142,5.65,146,208078,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 266556...",21821164,2025-01-01,2025-01-31
27,21347,958,4.49,3.91,3743.55,117,13,1.36,13,35248,"[{'date': '2025-01-27T03:00:00+03:00', 'views'...","[{'date': '2025-01-27T00:00:00Z', 'nm': 159121...",22846531,2025-01-27,2025-01-31
28,17044,539,3.16,2.42,1303.61,32,0,0.00,0,0,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 245600...",21212396,2025-01-01,2025-01-31
29,64875,3237,4.99,8.17,26431.68,414,100,3.09,100,338467,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 159488...",21965489,2025-01-01,2025-01-31
30,97670,4688,4.80,3.42,16037.36,138,8,0.17,8,140646,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 161420...",20487381,2025-01-01,2025-01-31
31,61356,1939,3.16,16.67,32324.75,185,30,1.55,30,91692,"[{'date': '2025-01-04T03:00:00+03:00', 'views'...","[{'date': '2025-01-17T00:00:00Z', 'nm': 171562...",21554118,2025-01-01,2025-01-31
32,77630,7003,9.02,1.58,11053.79,949,371,5.30,389,242926,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 224944...",16530753,2025-01-01,2025-01-31
33,35635,1121,3.15,3.88,4346.04,55,1,0.09,1,4312,"[{'date': '2025-01-04T03:00:00+03:00', 'views'...","[{'date': '2025-01-09T00:00:00Z', 'nm': 162402...",18870853,2025-01-01,2025-01-31
34,1811,74,4.09,3.30,244.22,1,1,1.35,1,6282,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-19T00:00:00Z', 'nm': 203510...",18447862,2025-01-01,2025-01-31
35,11592,447,3.86,4.44,1985.45,47,8,1.79,8,23641,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 171562...",21624823,2025-01-01,2025-01-31
36,11992,669,5.58,4.12,2758.16,41,5,0.75,5,41606,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...",NaN,21212715,2025-01-01,2025-01-31
37,44364,817,1.84,11.44,9348.18,29,3,0.37,3,26487,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-03T00:00:00Z', 'nm': 286319...",21577713,2025-01-01,2025-01-31
38,51173,1261,2.46,20.97,26437.06,141,26,2.06,26,92975,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 171562...",21554091,2025-01-01,2025-01-31
39,144625,7711,5.33,1.20,9236.02,577,28,0.36,28,152968,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-03T00:00:00Z', 'nm': 252275...",19297685,2025-01-01,2025-01-31
40,14145,478,3.38,13.63,6513.83,42,8,1.67,8,35158,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-01T00:00:00Z', 'nm': 268462...",21821199,2025-01-01,2025-01-31
41,30051,837,2.79,2.99,2500.75,177,67,8.00,72,38275,"[{'date': '2025-01-01T03:00:00+03:00', 'views'...","[{'date': '2025-01-09T00:00:00Z', 'nm': 209695...",21497699,2025-01-01,2025-01-31
42,28167,766,2.72,6.19,4743.50,66,17,2.22,18,24372,"[{'date': '2025-01-27T03:00:00+03:00', 'views'...","[{'date': '2025-01-27T00:00:00Z', 'nm': 159121...",22846446,2025-01-27,2025-01-31

In [210]:
# API endpoint
url = "https://advert-api.wildberries.ru/adv/v2/fullstats"

# Request headers
headers = {
    "Authorization": KeyGuten,
    "Content-Type": "application/json"
}

# Define the payload using the correct schema
payload = [
    {
        "id": 21554118,  # Replace with your campaign ID
           "interval": {
                "begin": "2025-02-17",
                "end": "2025-02-23"
            } # Array of dates
    }
]

# Send POST request
response = requests.post(url, headers=headers, json=payload)

# Check if the request was successful
if response.status_code == 200:
    print("Request successful!")
    data = response.json()
    
        # Save the response data into a text file
    with open("response_data.txt", "w", encoding="utf-8") as file:
        json.dump(data, file, indent=4, ensure_ascii=False)  # Pretty-print JSON into the file
    
    df = pd.DataFrame(data)
    print(json.dumps(data, indent=4))  # Pretty-print the JSON response
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")
    print(f"Response: {response.text}")

Request successful!
[
    {
        "interval": {
            "begin": "2025-02-17",
            "end": "2025-02-23"
        },
        "views": 34078,
        "clicks": 1187,
        "ctr": 3.48,
        "cpc": 12.88,
        "sum": 15287.5,
        "atbs": 136,
        "orders": 27,
        "cr": 2.27,
        "shks": 27,
        "sum_price": 78812,
        "days": [
            {
                "date": "2025-02-17T03:00:00+03:00",
                "views": 4649,
                "clicks": 202,
                "ctr": 4.35,
                "cpc": 2.53,
                "sum": 510.72,
                "atbs": 29,
                "orders": 6,
                "cr": 2.97,
                "shks": 6,
                "sum_price": 17382,
                "apps": [
                    {
                        "views": 400,
                        "clicks": 7,
                        "ctr": 1.75,
                        "cpc": 6.12,
                        "sum": 42.83,
                        "atbs": 0,
                        "orders": 0,
                        "cr": 0,
                        "shks": 0,
                        "sum_price": 0,
                        "nm": [
                            {
                                "views": 268,
                                "clicks": 6,
                                "ctr": 2.24,
                                "cpc": 4.8,
                                "sum": 28.78,
                                "atbs": 0,
                                "orders": 0,
                                "cr": 0,
                                "shks": 0,
                                "sum_price": 0,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            },
                            {
                                "views": 132,
                                "clicks": 1,
                                "ctr": 0.76,
                                "cpc": 14.05,
                                "sum": 14.05,
                                "atbs": 0,
                                "orders": 0,
                                "cr": 0,
                                "shks": 0,
                                "sum_price": 0,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            }
                        ],
                        "appType": 1
                    },
                    {
                        "views": 3097,
                        "clicks": 148,
                        "ctr": 4.78,
                        "cpc": 2.25,
                        "sum": 332.3,
                        "atbs": 21,
                        "orders": 4,
                        "cr": 2.7,
                        "shks": 4,
                        "sum_price": 11620,
                        "nm": [
                            {
                                "views": 867,
                                "clicks": 40,
                                "ctr": 4.61,
                                "cpc": 2.36,
                                "sum": 94.49,
                                "atbs": 6,
                                "orders": 1,
                                "cr": 2.5,
                                "shks": 1,
                                "sum_price": 2833,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            },
                            {
                                "views": 2230,
                                "clicks": 108,
                                "ctr": 4.84,
                                "cpc": 2.2,
                                "sum": 237.81,
                                "atbs": 15,
                                "orders": 3,
                                "cr": 2.78,
                                "shks": 3,
                                "sum_price": 8787,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            }
                        ],
                        "appType": 32
                    },
                    {
                        "views": 1152,
                        "clicks": 47,
                        "ctr": 4.08,
                        "cpc": 2.88,
                        "sum": 135.59,
                        "atbs": 8,
                        "orders": 2,
                        "cr": 4.26,
                        "shks": 2,
                        "sum_price": 5762,
                        "nm": [
                            {
                                "views": 861,
                                "clicks": 41,
                                "ctr": 4.76,
                                "cpc": 2.42,
                                "sum": 99.38,
                                "atbs": 6,
                                "orders": 1,
                                "cr": 2.44,
                                "shks": 1,
                                "sum_price": 2929,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            },
                            {
                                "views": 291,
                                "clicks": 6,
                                "ctr": 2.06,
                                "cpc": 6.04,
                                "sum": 36.21,
                                "atbs": 2,
                                "orders": 1,
                                "cr": 16.67,
                                "shks": 1,
                                "sum_price": 2833,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            }
                        ],
                        "appType": 64
                    }
                ]
            },
            {
                "date": "2025-02-18T03:00:00+03:00",
                "views": 5681,
                "clicks": 226,
                "ctr": 3.98,
                "cpc": 10.49,
                "sum": 2370.93,
                "atbs": 28,
                "orders": 8,
                "cr": 3.54,
                "shks": 8,
                "sum_price": 23336,
                "apps": [
                    {
                        "views": 486,
                        "clicks": 10,
                        "ctr": 2.06,
                        "cpc": 19.91,
                        "sum": 199.11,
                        "atbs": 2,
                        "orders": 1,
                        "cr": 10,
                        "shks": 1,
                        "sum_price": 2929,
                        "nm": [
                            {
                                "views": 190,
                                "clicks": 4,
                                "ctr": 2.11,
                                "cpc": 20.08,
                                "sum": 80.32,
                                "atbs": 1,
                                "orders": 0,
                                "cr": 0,
                                "shks": 0,
                                "sum_price": 0,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            },
                            {
                                "views": 296,
                                "clicks": 6,
                                "ctr": 2.03,
                                "cpc": 19.8,
                                "sum": 118.79,
                                "atbs": 1,
                                "orders": 1,
                                "cr": 16.67,
                                "shks": 1,
                                "sum_price": 2929,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            }
                        ],
                        "appType": 1
                    },
                    {
                        "views": 3634,
                        "clicks": 146,
                        "ctr": 4.02,
                        "cpc": 10.33,
                        "sum": 1508.11,
                        "atbs": 19,
                        "orders": 6,
                        "cr": 4.11,
                        "shks": 6,
                        "sum_price": 17478,
                        "nm": [
                            {
                                "views": 2314,
                                "clicks": 107,
                                "ctr": 4.62,
                                "cpc": 8.76,
                                "sum": 937.55,
                                "atbs": 14,
                                "orders": 5,
                                "cr": 4.67,
                                "shks": 5,
                                "sum_price": 14645,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            },
                            {
                                "views": 1320,
                                "clicks": 39,
                                "ctr": 2.95,
                                "cpc": 14.63,
                                "sum": 570.56,
                                "atbs": 5,
                                "orders": 1,
                                "cr": 2.56,
                                "shks": 1,
                                "sum_price": 2833,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            }
                        ],
                        "appType": 32
                    },
                    {
                        "views": 1561,
                        "clicks": 70,
                        "ctr": 4.48,
                        "cpc": 9.48,
                        "sum": 663.71,
                        "atbs": 7,
                        "orders": 1,
                        "cr": 1.43,
                        "shks": 1,
                        "sum_price": 2929,
                        "nm": [
                            {
                                "views": 1017,
                                "clicks": 60,
                                "ctr": 5.9,
                                "cpc": 7.02,
                                "sum": 421.02,
                                "atbs": 6,
                                "orders": 1,
                                "cr": 1.67,
                                "shks": 1,
                                "sum_price": 2929,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            },
                            {
                                "views": 544,
                                "clicks": 10,
                                "ctr": 1.84,
                                "cpc": 24.27,
                                "sum": 242.69,
                                "atbs": 1,
                                "orders": 0,
                                "cr": 0,
                                "shks": 0,
                                "sum_price": 0,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            }
                        ],
                        "appType": 64
                    }
                ]
            },
            {
                "date": "2025-02-19T03:00:00+03:00",
                "views": 7103,
                "clicks": 240,
                "ctr": 3.38,
                "cpc": 18.03,
                "sum": 4328.22,
                "atbs": 28,
                "orders": 5,
                "cr": 2.08,
                "shks": 5,
                "sum_price": 14549,
                "apps": [
                    {
                        "views": 585,
                        "clicks": 4,
                        "ctr": 0.68,
                        "cpc": 92.95,
                        "sum": 371.79,
                        "atbs": 0,
                        "orders": 0,
                        "cr": 0,
                        "shks": 0,
                        "sum_price": 0,
                        "nm": [
                            {
                                "views": 327,
                                "clicks": 3,
                                "ctr": 0.92,
                                "cpc": 68.05,
                                "sum": 204.16,
                                "atbs": 0,
                                "orders": 0,
                                "cr": 0,
                                "shks": 0,
                                "sum_price": 0,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            },
                            {
                                "views": 258,
                                "clicks": 1,
                                "ctr": 0.39,
                                "cpc": 167.63,
                                "sum": 167.63,
                                "atbs": 0,
                                "orders": 0,
                                "cr": 0,
                                "shks": 0,
                                "sum_price": 0,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            }
                        ],
                        "appType": 1
                    },
                    {
                        "views": 4651,
                        "clicks": 166,
                        "ctr": 3.57,
                        "cpc": 16.93,
                        "sum": 2809.59,
                        "atbs": 21,
                        "orders": 3,
                        "cr": 1.81,
                        "shks": 3,
                        "sum_price": 8691,
                        "nm": [
                            {
                                "views": 1872,
                                "clicks": 52,
                                "ctr": 2.78,
                                "cpc": 22.45,
                                "sum": 1167.48,
                                "atbs": 6,
                                "orders": 1,
                                "cr": 1.92,
                                "shks": 1,
                                "sum_price": 2833,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-233 KIDS",
                                "nmId": 171562370
                            },
                            {
                                "views": 2779,
                                "clicks": 114,
                                "ctr": 4.1,
                                "cpc": 14.4,
                                "sum": 1642.11,
                                "atbs": 15,
                                "orders": 2,
                                "cr": 1.75,
                                "shks": 2,
                                "sum_price": 5858,
                                "name": "\u0418\u043d\u0433\u0430\u043b\u044f\u0442\u043e\u0440 \u043d\u0435\u0431\u0443\u043b\u0430\u0439\u0437\u0435\u0440 \u043a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u044b\u0439 \u0434\u0435\u0442\u0441\u043a\u0438\u0439 CN-232 KIDS",
                                "nmId": 171562375
                            }
                        ],
                        "appType": 32
                    },
                    {
                        "views": 1867,
                        "clicks": 70,
                        "ctr": 3.75,
                        "cpc": 16.38,
                        "sum": 1146.84,
                        "atbs": 7,
                        "orders": 2,
                        "cr": 2.86,
                        "shks": 2,
                        "sum_price": 5858,
                        "nm": [
                            {
                                "views": 712,

In [211]:
df

,interval,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,days,boosterStats,advertId
0,"{'begin': '2025-02-17', 'end': '2025-02-23'}",34078,1187,3.48,12.88,15287.5,136,27,2.27,27,78812,"[{'date': '2025-02-17T03:00:00+03:00', 'views'...","[{'date': '2025-02-17T00:00:00Z', 'nm': 171562...",21554118

In [212]:
# Flatten the JSON data
flattened_data = []

for entry in data:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })

# Create a DataFrame
df = pd.DataFrame(flattened_data)
# Convert the 'date' column to datetime
df["date"] = pd.to_datetime(df["date"])
# Remove timezone information (make it timezone-naive)
df["date"] = df["date"].dt.tz_localize(None)
# Display the DataFrame
df

,date,nmId,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId
0,2025-02-17 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,268,6,2.24,4.80,28.78,0,0,0.00,0,0,21554118
1,2025-02-17 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,132,1,0.76,14.05,14.05,0,0,0.00,0,0,21554118
2,2025-02-17 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,867,40,4.61,2.36,94.49,6,1,2.50,1,2833,21554118
3,2025-02-17 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,2230,108,4.84,2.20,237.81,15,3,2.78,3,8787,21554118
4,2025-02-17 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,861,41,4.76,2.42,99.38,6,1,2.44,1,2929,21554118
5,2025-02-17 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,291,6,2.06,6.04,36.21,2,1,16.67,1,2833,21554118
6,2025-02-18 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,190,4,2.11,20.08,80.32,1,0,0.00,0,0,21554118
7,2025-02-18 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,296,6,2.03,19.80,118.79,1,1,16.67,1,2929,21554118
8,2025-02-18 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,2314,107,4.62,8.76,937.55,14,5,4.67,5,14645,21554118
9,2025-02-18 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,1320,39,2.95,14.63,570.56,5,1,2.56,1,2833,21554118
10,2025-02-18 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,1017,60,5.90,7.02,421.02,6,1,1.67,1,2929,21554118
11,2025-02-18 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,544,10,1.84,24.27,242.69,1,0,0.00,0,0,21554118
12,2025-02-19 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,327,3,0.92,68.05,204.16,0,0,0.00,0,0,21554118
13,2025-02-19 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,258,1,0.39,167.63,167.63,0,0,0.00,0,0,21554118
14,2025-02-19 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,1872,52,2.78,22.45,1167.48,6,1,1.92,1,2833,21554118
15,2025-02-19 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,2779,114,4.10,14.40,1642.11,15,2,1.75,2,5858,21554118
16,2025-02-19 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,712,21,2.95,22.18,465.70,1,0,0.00,0,0,21554118
17,2025-02-19 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,1155,49,4.24,13.90,681.14,6,2,4.08,2,5858,21554118
18,2025-02-20 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,135,2,1.48,39.16,78.32,1,0,0.00,0,0,21554118
19,2025-02-20 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,229,4,1.75,35.93,143.70,2,0,0.00,0,0,21554118
20,2025-02-20 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,1059,40,3.78,14.89,595.69,6,1,2.50,1,3280,21554118
21,2025-02-20 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,1616,38,2.35,25.55,970.95,5,1,2.63,1,2833,21554118
22,2025-02-20 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,454,21,4.63,12.04,252.84,2,0,0.00,0,0,21554118
23,2025-02-20 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,636,21,3.30,18.95,397.92,3,0,0.00,0,0,21554118
24,2025-02-21 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,160,1,0.63,85.60,85.60,0,0,0.00,0,0,21554118
25,2025-02-21 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,93,1,1.08,38.01,38.01,0,0,0.00,0,0,21554118
26,2025-02-21 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,932,30,3.22,12.89,386.68,2,0,0.00,0,0,21554118
27,2025-02-21 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,1310,37,2.82,18.66,690.31,6,2,5.41,2,5666,21554118
28,2025-02-21 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,497,11,2.21,25.00,275.03,0,0,0.00,0,0,21554118
29,2025-02-21 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,381,15,3.94,10.51,157.67,0,0,0.00,0,0,21554118
30,2025-02-22 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,129,0,0.00,0.00,70.35,0,0,0.00,0,0,21554118
31,2025-02-22 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,175,3,1.71,29.59,88.78,0,0,0.00,0,0,21554118
32,2025-02-22 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,1233,33,2.68,19.57,645.90,4,1,3.03,1,2859,21554118
33,2025-02-22 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,2142,92,4.30,11.56,1063.20,6,1,1.09,1,3189,21554118
34,2025-02-22 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,503,13,2.58,21.35,277.55,2,2,15.38,2,5718,21554118
35,2025-02-22 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,895,39,4.36,11.51,448.95,2,0,0.00,0,0,21554118
36,2025-02-23 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,158,1,0.63,52.60,52.60,0,0,0.00,0,0,21554118
37,2025-02-23 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,95,0,0.00,0.00,36.25,0,0,0.00,0,0,21554118
38,2025-02-23 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,1811,50,2.76,12.21,610.73,3,0,0.00,0,0,21554118
39,2025-02-23 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,928,17,1.83,19.91,338.44,3,0,0.00,0,0,21554118
40,2025-02-23 03:00:00,171562375,Ингалятор небулайзер компрессорный детский CN-...,742,40,5.39,6.26,250.56,3,0,0.00,0,0,21554118
41,2025-02-23 03:00:00,171562370,Ингалятор небулайзер компрессорный детский CN-...,332,10,3.01,12.16,121.60,1,0,0.00,0,0,21554118

In [112]:
# Flatten the JSON data
flattened_data_guten = []
flattened_data_giper = []
flattened_data_kitchen = []


for entry in all_campaign_data_guten:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_guten.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })
                
for entry in all_campaign_data_giper:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_giper.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })

for entry in all_campaign_data_kitchen:
    advertId = entry["advertId"]  # Extract the advertId
    for day in entry["days"]:
        date = day["date"]
        for app in day["apps"]:
            for nm in app["nm"]:
                flattened_data_kitchen.append({
                    "date": date,
                    "nmId": nm["nmId"],
                    "name": nm["name"],
                    "views": nm["views"],
                    "clicks": nm["clicks"],
                    "ctr": nm["ctr"],
                    "cpc": nm["cpc"],
                    "sum": nm["sum"],
                    "atbs": nm["atbs"],
                    "orders": nm["orders"],
                    "cr": nm["cr"],
                    "shks": nm["shks"],
                    "sum_price": nm["sum_price"],
                    "advertId": advertId  # Add advertId to each row
                })

# Create a DataFrame
df_guten = pd.DataFrame(flattened_data_guten)
df_giper = pd.DataFrame(flattened_data_giper)
df_kitchen = pd.DataFrame(flattened_data_kitchen)
# Convert the 'date' column to datetime
df_guten["date"] = pd.to_datetime(df_guten["date"])
df_giper["date"] = pd.to_datetime(df_giper["date"])
df_kitchen["date"] = pd.to_datetime(df_kitchen["date"])
# Remove timezone information (make it timezone-naive)
df_guten["date"] = df_guten["date"].dt.tz_localize(None)
df_giper["date"] = df_giper["date"].dt.tz_localize(None)
df_kitchen["date"] = df_kitchen["date"].dt.tz_localize(None)

# Display the DataFrame
df_kitchen

,date,nmId,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId
0,2025-01-01 03:00:00,268093569,"Планетарный миксер Artisan 5KSM70JPXEER 6.6 л,...",1,0,0.00,0.00,0.05,0,0,0.0,0,0,21008249
1,2025-01-01 03:00:00,38425737,Планетарный миксер кухонный электрический 4.8 ...,1,0,0.00,0.00,0.05,0,0,0.0,0,0,21008249
2,2025-01-01 03:00:00,38568502,Планетарный миксер кухонный электрический 4.8 ...,1,0,0.00,0.00,0.05,0,0,0.0,0,0,21008249
3,2025-01-02 03:00:00,268093569,"Планетарный миксер Artisan 5KSM70JPXEER 6.6 л,...",1,0,0.00,0.00,0.05,0,0,0.0,0,0,21008249
4,2025-01-02 03:00:00,38331914,"Планетарный миксер ARTISAN 4.8 л, кремовый, 5K...",1,0,0.00,0.00,0.05,0,0,0.0,0,0,21008249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1412,2025-01-31 03:00:00,226627021,Тостер для хлеба с поддоном для крошек 5KMT210...,17,0,0.00,0.00,2.43,0,0,0.0,0,0,21006669
1413,2025-01-31 03:00:00,226627021,Тостер для хлеба с поддоном для крошек 5KMT210...,21,0,0.00,0.00,3.29,0,0,0.0,0,0,21006669
1414,2025-01-31 03:00:00,245313750,Тостер на 4 ломтика 5KMT4109E,67,0,0.00,0.00,10.85,0,0,0.0,0,0,21006669
1415,2025-01-31 03:00:00,54807104,"Тостер ARTISAN, чернильный синий, 5KMT2204",89,3,3.37,4.38,13.14,0,0,0.0,0,0,21006669
1416,2025-01-31 03:00:00,226627023,Тостер для хлеба с поддоном для крошек 5KMT210...,149,8,5.37,2.75,21.97,0,0,0.0,0,0,21006669

In [364]:
unique_change_times = df['advertId'].nunique()
print(unique_change_times)

61

In [113]:
# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_guten = (
    df_guten.groupby([df_guten["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_giper = (
    df_giper.groupby([df_giper["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Group by 'date' (day only) and 'nmId', summing numeric columns except 'advertId'
df_grouped_kitchen = (
    df_kitchen.groupby([df_kitchen["date"].dt.date, "nmId"], as_index=False)
    .agg({
        "date": "first",  # Keep the first date (to retain the day)
        "name": "first",  # Keep the first name (or customize this logic)
        "views": "sum",
        "clicks": "sum",
        "ctr": "mean",  # Sum or average, depending on your needs
        "cpc": "mean",  # Use mean for 'cpc' (cost per click)
        "sum": "sum",
        "atbs": "sum",
        "orders": "sum",
        "cr": "mean",  # Use mean for 'cr' (conversion rate)
        "shks": "sum",
        "sum_price": "sum",
        "advertId": "first"  # Keep the first 'advertId' (no summing)
    })
)

# Rename the 'date' column to 'day' for clarity
df_grouped_guten.rename(columns={"date": "day"}, inplace=True)
df_grouped_giper.rename(columns={"date": "day"}, inplace=True)
df_grouped_kitchen.rename(columns={"date": "day"}, inplace=True)

df_grouped_guten['Project'] = 'WB-GutenTech'
df_grouped_giper['Project'] = 'WB-ГиперМаркет'
df_grouped_kitchen['Project'] = 'WB-KitchenAid'

# Concatenate the DataFrames
df_grouped_combined_campaigns = pd.concat([df_grouped_guten, df_grouped_giper, df_grouped_kitchen], ignore_index=True)
df_grouped_combined_campaigns['Marketplace'] = 'Wildberries'

# Display the grouped DataFrame
df_grouped_combined_campaigns

,nmId,day,name,views,clicks,ctr,cpc,sum,atbs,orders,cr,shks,sum_price,advertId,Project,Marketplace
0,25623718,2025-01-01 03:00:00,Бритва мужская электрическая S3 300BT с триммером,99,3,3.253333,1.230000,7.64,0,0,0.0,0,0,21202453,WB-GutenTech,Wildberries
1,25624340,2025-01-01 03:00:00,Электробритва Series 3 300s,397,12,2.416667,1.276667,27.52,0,0,0.0,0,0,21202453,WB-GutenTech,Wildberries
2,25628178,2025-01-01 03:00:00,Бритва мужская электрическая S3 300s,40,0,0.000000,0.000000,3.13,0,0,0.0,0,0,21202453,WB-GutenTech,Wildberries
3,25725047,2025-01-01 03:00:00,Триммер для бороды и усов BT3222,46,1,2.776667,0.316667,3.90,0,0,0.0,0,0,21212396,WB-GutenTech,Wildberries
4,25994579,2025-01-01 03:00:00,Эпилятор женский электрический Silk-epil 1-170,1,0,0.000000,0.000000,0.04,0,0,0.0,0,0,21203996,WB-GutenTech,Wildberries
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5600,243235996,2025-01-31 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",2,0,0.000000,0.000000,0.18,0,0,0.0,0,0,21008536,WB-KitchenAid,Wildberries
5601,243235997,2025-01-31 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",67,2,2.316667,2.700000,8.95,0,0,0.0,0,0,21008536,WB-KitchenAid,Wildberries
5602,243235999,2025-01-31 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",153,7,5.013333,2.240000,16.74,0,0,0.0,0,0,21008536,WB-KitchenAid,Wildberries
5603,245313750,2025-01-31 03:00:00,Тостер на 4 ломтика 5KMT4109E,112,0,0.000000,0.000000,18.89,0,0,0.0,0,0,21006669,WB-KitchenAid,Wildberries
5604,268093569,2025-01-31 03:00:00,"Планетарный миксер Artisan 5KSM70JPXEER 6.6 л,...",290,33,9.930000,2.833333,43.26,0,0,0.0,0,0,21008249,WB-KitchenAid,Wildberries

In [114]:
# Merge the grouped DataFrame with the filtered_df to add additional columns
df_final = df_grouped_combined_campaigns.merge(
    filtered_df[["advertId", "endTime", "createTime", "startTime","name", "status", "type"]],
    on="advertId",
    how="left"
)

# Drop the columns 'ctr', 'cpc', and 'cr'
df_final = df_final.drop(columns=["ctr", "cpc", "cr"])

# Rename the columns 'name_x' and 'name_y'
df_final.rename(
    columns={
        "name_x": "name_product",  # Rename 'name_x' to 'name_product'
        "name_y": "name_campaign"  # Rename 'name_y' to 'name_campaign'
    },
    inplace=True
)

# Display the final DataFrame
df_final

,nmId,day,name_product,views,clicks,sum,atbs,orders,shks,sum_price,advertId,Project,Marketplace,endTime,createTime,startTime,name_campaign,status,type
0,25623718,2025-01-01 03:00:00,Бритва мужская электрическая S3 300BT с триммером,99,3,7.64,0,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
1,25624340,2025-01-01 03:00:00,Электробритва Series 3 300s,397,12,27.52,0,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
2,25628178,2025-01-01 03:00:00,Бритва мужская электрическая S3 300s,40,0,3.13,0,0,0,0,21202453,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Электробритвы_07.11.2024_РКП,Идут показы,Автоматическая кампания
3,25725047,2025-01-01 03:00:00,Триммер для бороды и усов BT3222,46,1,3.90,0,0,0,0,21212396,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Триммеры_07.11.2024,Идут показы,Автоматическая кампания
4,25994579,2025-01-01 03:00:00,Эпилятор женский электрический Silk-epil 1-170,1,0,0.04,0,0,0,0,21203996,WB-GutenTech,Wildberries,2100-01-01,2024-11-07,2024-11-07,BRAUN_Эпиляторы_07.11.2024_РКП,Идут показы,Автоматическая кампания
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5600,243235996,2025-01-31 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",2,0,0.18,0,0,0,0,21008536,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,Идут показы,Автоматическая кампания
5601,243235997,2025-01-31 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",67,2,8.95,0,0,0,0,21008536,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,Идут показы,Автоматическая кампания
5602,243235999,2025-01-31 03:00:00,"Чайник электрический 1,7 л с регулировкой темп...",153,7,16.74,0,0,0,0,21008536,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Чайники_30.10.2024,Идут показы,Автоматическая кампания
5603,245313750,2025-01-31 03:00:00,Тостер на 4 ломтика 5KMT4109E,112,0,18.89,0,0,0,0,21006669,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Тостеры_30.10.2024,Идут показы,Автоматическая кампания
5604,268093569,2025-01-31 03:00:00,"Планетарный миксер Artisan 5KSM70JPXEER 6.6 л,...",290,33,43.26,0,0,0,0,21008249,WB-KitchenAid,Wildberries,2100-01-01,2024-10-30,2025-01-09,Миксер планет_30.10.2024,Идут показы,Автоматическая кампания

In [ ]:
unique_change_times = df_grouped_combined_campaigns['advertId'].nunique()
print(unique_change_times)

55

In [ ]:
filename = "Compaings.xlsx"
df_final.to_excel(filename, index=False)

In [68]:
# Initialize an empty list to store flattened data
flattened_data = []

# Loop through the nested structure to extract relevant data
for day in data[0]['days']:
    for app in day['apps']:
        app_type = app['appType']
        for nm in app['nm']:
            flattened_data.append({
                'nmId': nm['nmId'],
                'appType': app_type
            })

# Convert the flattened data into a DataFrame
df = pd.DataFrame(flattened_data)

# Group by nmId and calculate the sum of appType
result = df.groupby('nmId', as_index=False).agg({'appType': 'sum'})

# Display the resulting DataFrame
print(result)

        nmId  appType
0  135577637      679
1  137609254      679
2  137609323      679
3  137609342      679
4  137609383      485
5  137609392      679
6  137609742      291

In [ ]:
# Create chunks of 50 campaign IDs each
chunk_size = 50
campaign_chunks = [df['advertId'][i:i + chunk_size].tolist() for i in range(0, len(df), chunk_size)]

# Define the API endpoint
url = "https://advert-api.wildberries.ru/adv/v1/promotion/adverts"

# Define the query parameters
query_params = {
    "order": "change",  # Order by the "change" field
}

# Define the headers (replace 'your_api_token' with your actual API token)
headers = {
    "Authorization": KeyGuten,  # Replace with your API token
    "Content-Type": "application/json"
}

# Iterate over each chunk and send a POST request
for idx, chunk in enumerate(campaign_chunks):
    print(f"Processing Chunk {idx + 1}: {chunk}")
    
    # Send the POST request
    response = requests.post(url, params=query_params, json=chunk, headers=headers)
    time.sleep(2)
    # Check the response status
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        print(f"Response for Chunk {idx + 1}: {data}")
    else:
        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}")

[[20397145, 20397161, 20954456, 20955117, 21041143, 21041194, 21041248, 21041312, 21041387, 21577733, 21577749, 21578389, 21624850, 21698516, 22192773, 23231292, 7202847, 8004530, 8743562, 9496209, 9496385, 9591336, 11296204, 11296333, 16255090, 16301721, 16301819, 16912359, 16912972, 16913380, 16913696, 16913774, 16914258, 16917733, 16917791, 16918232, 16918415, 16919369, 16920802, 16923161, 16923906, 16923933, 16924292, 17266442, 17563748, 17563873, 17563938, 17687135, 17687241, 17687293], [17687357, 17688586, 17688635, 18640342, 18870731, 18870828, 19262099, 19263710, 19263824, 19265149, 19265205, 19626785, 19662812, 19904919, 19994021, 20039654, 20139599, 20175678, 20334946, 20354793, 20397195, 21040251, 21040485, 21040635, 21040756, 21040856, 21040946, 21385613, 21386362, 21482495, 21482904, 21498202, 8618594, 8743328, 462902, 462934, 462959, 462991, 463002, 463125, 463138, 463196, 463211, 463364, 480144, 480165, 480178, 480275, 480291, 480347], [480356, 480455, 480513, 480527, 480531, 480543, 480548, 610764, 610778, 610787, 610835, 610857, 610869, 622222, 622292, 622297, 622326, 622347, 622351, 622366, 622371, 622376, 622381, 622386, 622391, 622397, 622402, 622406, 622420, 622432, 622441, 622448, 622454, 788494, 788498, 788605, 788619, 788659, 788667, 789205, 789210, 953446, 953780, 953785, 958839, 964993, 964999, 965005, 965011, 965014], [965020, 1005723, 1320700, 1320709, 1320718, 1801052, 1801069, 1801426, 1801455, 1801541, 1801574, 1801644, 1801713, 1802589, 1802611, 2594357, 2594580, 2594976, 2595030, 2612852, 2614375, 2852177, 3467141, 3474261, 3474599, 3476612, 3476872, 4558112, 4981827, 5307465, 6626496, 6844544, 6844902, 6923850, 7202673, 7202997, 7203154, 8079038, 8280820, 8331245, 8331432, 8331933, 8618683, 8838251, 9714386, 9881453, 9881557, 9905391, 10012032, 2851788], [5146621, 7202795, 11296551, 12465028, 16144421, 20039743, 20955301, 20955474, 20955667, 20955944, 20956444, 21350648, 21351310, 21351587, 21385572, 21386314, 21820825, 22123202, 7202878, 7783591, 7783632, 7783708, 7783759, 7784050, 19276556, 19276694, 19276746, 21202745, 21203007, 21203075, 21203170, 21204098, 21204193, 21204224, 21204285, 21212715, 21965547, 202712, 202715, 208728, 208747, 210342, 210359, 211735, 225297, 1179227, 1200852, 1200937, 1200959, 6626593], [7265038, 7265181, 7265295, 8779899, 9904395, 9905249, 9905504, 9909092, 9909567, 9913921, 9915496, 10012174, 213920, 213946, 213954, 225156, 232543, 232547, 238682, 244654, 244667, 354788, 354832, 354853, 535702, 535721, 535733, 535812, 535864, 535918, 535940, 535963, 535994, 536002, 536018, 536060, 536362, 536369, 536385, 536415, 536427, 536485, 536514, 536537, 536549, 536568, 536610, 536617, 536631, 536646], [536659, 788466, 788472, 788580, 788586, 788636, 788641, 789178, 789191, 953420, 953764, 953774, 958835, 960520, 960525, 960529, 960544, 960551, 960611, 960618, 960621, 960624, 960626, 960675, 960682, 960689, 960693, 960701, 1005700, 1320657, 1320668, 1320684, 2594125, 2594226, 2594682, 2594752, 2595105, 2595113, 2851221, 2851300, 2851888, 2852058, 3467203, 3474308, 3474441, 3476519, 3476542, 3476739, 3476757, 3476880], [3476891, 3477028, 4558192, 4981861, 5001772, 5146248, 5146392, 5149382, 6626942, 6923910, 6923977, 7202606, 7202975, 7203114, 7339607, 7339693, 7339737, 7339839, 7339928, 7339962, 7340006, 7340088, 7414147, 8779205, 8779248, 8779408, 10012105, 11296434, 11296504, 11296700, 16530753, 18447862, 18870595, 18870619, 18870701, 18870853, 19297608, 19297685, 20124734, 20139198, 20487381, 21202453, 21203996, 21212396, 21497699, 21497844, 21498159, 21498270, 21554091, 21554118], [21577713, 21624823, 21821064, 21821164, 21821199, 21883272, 21883285, 21965489, 22255122, 22846446, 22846516, 22846531, 23230882, 23408417, 21639902, 22165389, 22255058]]

' # Define the API endpoint\nurl = "https://advert-api.wildberries.ru/adv/v1/promotion/adverts"\n\n# Define the query parameters\nquery_params = {\n    "status": 9,  # Example: campaigns with status "9 - идут показы"\n    "type": 8,    # Example: automatic campaigns\n    "order": "change",  # Order by the "change" field\n    "direction": "asc"  # Ascending order\n}\n\n# Define the headers (replace \'your_api_token\' with your actual API token)\nheaders = {\n    "Authorization": "Bearer your_api_token",  # Replace with your API token\n    "Content-Type": "application/json"\n}\n\n# Iterate over each chunk and send a POST request\nfor idx, chunk in enumerate(campaign_chunks):\n    print(f"Processing Chunk {idx + 1}: {chunk}")\n    \n    # Send the POST request\n    response = requests.post(url, params=query_params, json=chunk, headers=headers)\n    \n    # Check the response status\n    if response.status_code == 200:\n        # Parse the JSON response\n        data = response.json()\n        print(f"Response for Chunk {idx + 1}: {data}")\n    else:\n        print(f"Error for Chunk {idx + 1}: {response.status_code}, {response.text}") '

In [115]:
password = os.getenv('ClickHouse')

In [116]:
# Define connection parameters
client = get_client(
    host='rc1a-vk5i3icccvmfk6cm.mdb.yandexcloud.net',  # Your Yandex Cloud ClickHouse host
    port=8443,                                          # Yandex Cloud uses port 8443 for HTTPS
    username='user1',                           # Your ClickHouse username
    password= password,                           # Your ClickHouse password
    database='user1',                            # Your database name
    secure=True,                                        # Use HTTPS
    verify=False                                        # Disable SSL certificate verification 
    # Define the data to insert
)

In [106]:
# Define the table name
table_name = 'campaign_data_wb'

# Convert DataFrame to a list of tuples for bulk insertion
data = [tuple(row) for row in df_final.to_numpy()]

# Define the column names
column_names = [
    'nmId', 'day', 'name_product', 'views', 'clicks', 'sum', 'atbs', 'orders', 'shks', 'sum_price',
    'advertId', 'Project', 'Marketplace', 'endTime', 'createTime', "startTime", 'name_campaign', 'status', 'type'
]

# Use the insert method for bulk insertion
client.insert(table_name, data, column_names=column_names)

print("Data inserted successfully!")

Data inserted successfully!